<div class="container mt-5 webpages_popup">
  <form (ngSubmit)="submitForm()" #aboutForm="ngForm" enctype="multipart/form-data">
    <h2>{{ 'faqPage' | translate }}</h2>

    <!-- General Information Block -->
    <fieldset class="border p-3 mb-4" *ngIf="!pageId">
      <!-- <legend class="w-auto px-2">Language Information</legend> -->
      <div class="row">
        <div class="mb-3 col-md-12">
          <label for="langId" class="form-label">{{ 'selectLanguage' | translate }}</label>
          <select class="form-select" id="langId" name="language" [(ngModel)]="formData.language">
            <option value="" disabled selected>{{ 'selectALanguage' | translate }}</option>
            @if(languages && languages.length > 0){
            @for (language of languages; track $index) {
            <option value="{{language.id}}">{{language.language}}</option>
            }
            }
          </select>
        </div>
      </div>
    </fieldset>

    <fieldset class="border p-3 mb-4">
      <div class="row">
        <div class="mb-3 col-md-12">
          <!-- <ckeditor [editor]="Editor" [config]="editorConfig" [(ngModel)]="editorData">
          </ckeditor> -->
          <!-- [key]="editorKey" -->
          <!-- <editor
          [init]="editorConfig"
          [(ngModel)]="content"
       
        ></editor>  -->
          <!-- <editor [(ngModel)]="editorContent" name="tinyMceEditor" [init]="editorConfig" [ngModelOptions]="{standalone: true}"></editor> -->
        </div>
      </div>
      <!-- <legend class="w-auto px-2">SEO Information</legend> -->
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="metaTitle" class="form-label">{{ 'metaTitle' | translate }}</label>
          <input type="text" class="form-control" id="metaTitle" name="meta_title" [(ngModel)]="formData.meta_title" />
        </div>
        <div class="mb-3 col-md-6">
          <label for="metaDescription" class="form-label">{{ 'metaDescription' | translate }}</label>
          <textarea class="form-control" id="metaDescription" name="meta_description"
            [(ngModel)]="formData.meta_description" rows="3"></textarea>
        </div>
      </div>
    </fieldset>
    <!-- About Banner Title -->
    <!-- About Banner Title -->
    <div class="mb-3">
      <label for="banner_img" class="form-label">{{ 'bannerImages' | translate }}</label>
      <input type="file" id="banner_img" class="form-control" (change)="onFileChange($event, 'banner_img')" required />

      <div *ngIf="bannerImagePreview" class="position-relative mt-2">
        <div class="image_cut">
          <img [src]="bannerImagePreview" alt="Preview" class="img-thumbnail p-0" style="max-width: 150px;" />
          <div class="close_image" *ngIf="bannerImagePreview" (click)="removeImage('banner_img')">
            <!-- <svg width="26px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
              <path
                d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
            </svg> -->
          </div>
        </div>
      </div>

    </div>
    <div class="mb-3">
      <label for="faq_banner_title" class="form-label">{{ 'faqBannerTitle' | translate }}</label>
      <input type="text" id="faq_banner_title" class="form-control" name="faq_banner_title"
        [(ngModel)]="formData.faq_banner_title" required />
    </div>
    <!-- About Banner Title -->
    <div class="mb-3">
      <label for="faq_collapse_titile" class="form-label">{{ 'FaqCollapseTitle' | translate }}</label>
      <input type="text" id="faq_collapse_titile" class="form-control" name="faq_collapse_titile"
        [(ngModel)]="formData.faq_collapse_titile" required />
    </div>
    <!-- About Banner Title -->
    <div class="mb-3">
      <label for="faq_first_btn_txt" class="form-label">{{ 'faqFirstButtonText' | translate }}</label>
      <input type="text" id="faq_first_btn_txt" class="form-control" name="faq_first_btn_txt"
        [(ngModel)]="formData.faq_first_btn_txt" required />
    </div>
    <!-- About Banner Title -->
    <div class="mb-3">
      <label for="faq_sec_btn_txt" class="form-label">{{ 'faqSecondButtonText' | translate }}</label>
      <input type="text" id="faq_sec_btn_txt" class="form-control" name="faq_sec_btn_txt"
        [(ngModel)]="formData.faq_sec_btn_txt" required />
    </div>
    <!-- About Banner Title -->
    <div class="mb-3">
      <label for="faq_third_btn_txt" class="form-label">{{ 'faqThirdButtonText' | translate }}</label>
      <input type="text" id="faq_third_btn_txt" class="form-control" name="faq_third_btn_txt"
        [(ngModel)]="formData.faq_third_btn_txt" required />
    </div>

    <fieldset class="border p-3 mb-4">
      <div *ngFor="let feature of formData.faq_first_btn_content; let i = index" class="card mb-3 p-3">
        <div class="row g-3">
          <div class="col-md-6">
            <input type="text" [(ngModel)]="feature.title" class="form-control" [name]="'title_' + i + '_first'"
              placeholder="{{ 'title' | translate }}" required />
            <!-- <h1>editorFirst[i] {{editorFirst[i]}}</h1> -->
          </div>
          <!-- <div class="col-md-9"> -->
          <ng-container *ngIf="editorConfig">
            <div class="NgxEditor__Wrapper">
              <!-- <editor [(ngModel)]="editorFirst[i]" (onEditorChange)="handleEditorChange($event, i)"
                  [init]="editorConfig" (onBlur)="onEditorInit($event, i)" [id]="'editorFirst' + i">
                </editor> -->
              <editor [(ngModel)]="editorFirst[i]" (onEditorChange)="handleEditorChange($event, i)"
                [init]="editorConfig" (onBlur)="onEditorInit($event, i)" [id]="'editorFirst' + i">
              </editor>
              <!-- <app-tinymce-wrapper [(ngModel)]="editorFirst[i]"></app-tinymce-wrapper> -->
            </div>
          </ng-container>
          <!-- </div> -->
          <div class="col-md-3">
            <button type="button" (click)="removeFirstButtonContent(i)" class="next_btn btn-danger btn-sm">
              {{ 'remove' | translate }}
            </button>
          </div>
        </div>
      </div>
      <button type="button" (click)="addFirstButtonContent()" class="next_btn btn-sm mt-2">
        {{ 'addFirstButtonContent' | translate }}
      </button>
    </fieldset>


    <!-- FAQ Second Button Content Section -->
    <fieldset class="border p-3 mb-4">
      <div *ngFor="let feature of formData.faq_sec_btn_content; let i = index" class="card mb-3 p-3">
        <div class="row g-3">
          <div class="col-md-6">
            <input type="text" [(ngModel)]="feature.title" class="form-control" name="title_{{ i }}_second"
              placeholder="{{ 'title' | translate }}" required />
          </div>
          <ng-container *ngIf="editorConfig">
            <div class="NgxEditor__Wrapper">
              <editor [(ngModel)]="editorSecond[i]" (onEditorChange)="handleEditorChange2($event, i)"
                [init]="editorConfig" [id]="'editorSecond' + i">
              </editor>
            </div>
          </ng-container>
          <div class="col-md-3">
            <button type="button" (click)="removeSecondButtonContent(i)" class="next_btn btn-danger btn-sm">
              {{ 'remove' | translate }}
            </button>
          </div>
        </div>
      </div>
      <button type="button" (click)="addSecondButtonContent()" class="next_btn btn-sm mt-2">
        {{ 'addSecondButtonContent' | translate }}
      </button>
    </fieldset>

    <!-- FAQ Third Button Content Section -->
    <fieldset class="border p-3 mb-4">
      <div *ngFor="let feature of formData.faq_third_btn_content; let i = index" class="card mb-3 p-3">
        <div class="row g-3">
          <div class="col-md-6">
            <input type="text" [(ngModel)]="feature.title" class="form-control" name="title_{{ i }}_third"
              placeholder="{{ 'title' | translate }}" required />
          </div>
          <!-- <div class="col-md-9"> -->
          <!-- <textarea [(ngModel)]="feature.desc" class="form-control" name="desc_{{ i }}_third"
              placeholder="{{ 'description' | translate }}" required></textarea> -->
          <ng-container *ngIf="editorConfig">
            <div class="NgxEditor__Wrapper">
              <editor [(ngModel)]="editorThird[i]" (onEditorChange)="handleEditorChange3($event, i)"
                [init]="editorConfig" [id]="'editorThird' + i">
              </editor>
              <!-- <ngx-editor-menu [editor]="editorThird[i]" [toolbar]="toolbar" [colorPresets]="colorPresets">
                </ngx-editor-menu>
                <ngx-editor [editor]="editorThird[i]" class="editor-width" name="editorThird{{i}}"
                  [(ngModel)]="feature.desc" [placeholder]="'description' | translate">
                </ngx-editor> -->
            </div>
          </ng-container>
          <!-- </div> -->
          <div class="col-md-3">
            <button type="button" (click)="removeThirdButtonContent(i)" class="next_btn btn-danger btn-sm">
              {{ 'remove' | translate }}
            </button>
          </div>
        </div>
      </div>
      <button type="button" (click)="addThirdButtonContent()" class="next_btn btn-sm mt-2">
        {{ 'addThirdButtonContent' | translate }}
      </button>
    </fieldset>
    <!-- Submit Button -->

    <!-- <ng-container *ngIf="isLoading; else loginText">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span class="sr-only">Loading...</span>
    </ng-container>
    <button #loginText type="submit" class="next_btn mb-3 float-end mb-3 float-end">{{ 'submit' | translate }}</button> -->

    <ng-container *ngIf="isLoading; else loginText">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span class="sr-only">Loading...</span>
    </ng-container>

    <ng-template #loginText>
      <button type="submit" class="next_btn mb-3 float-end">{{ 'submit' | translate }}</button>
    </ng-template>

  </form>

</div>