<!-- <div class="msg-popup-dialog p-3 delete-confirmation-modal">
  <div class="text-end">
    <div class="msg-popup-close" *ngIf='theme!="dark"'>
      <img src="../../../assets/images/carbon_close-outline-light.svg" alt="" class="" (click)="cancel()" />
    </div>
    <div class="msg-popup-close" *ngIf='theme=="dark"'>
      <img src="../../../assets/images/carbon_close-outline.svg" alt="" class="" (click)="cancel()" />
    </div>
  </div>
    <div *ngIf="fromPage!=='gallery'" class="msg-popup-content p-3 pt-1">
      <div class="display-message delete-confirmation">
        {{'confirmDeleteinformation' | translate}}
      </div>
      <div class="popup-delete-btn popup-delete-btn d-flex align-items-center justify-content-center py-2">
        <div (click)="confirmDelete()" class="btn btn-success me-sm-3 bg-light-btn btn_confirmm">{{'removeFavbtn' |
          translate}}</div>
        <div (click)="cancel()" class="btn btn-danger bg-dark-btn btn_cancell">{{ 'cancelRemoveFavBtn' | translate }}</div>
      </div>
    </div>

    <div *ngIf="fromPage==='gallery'" class="msg-popup-content p-3 pt-1">
      <div class="display-message delete-confirmation">
        {{mainText}}
      </div>
      <div class="popup-delete-btn popup-delete-btn d-flex align-items-center justify-content-center py-2">
        <div (click)="confirmDelete()" class="btn btn-success me-sm-3 bg-light-btn btn_confirmm">{{'removeFavbtn' |
          translate}}</div>
        <div (click)="cancel()" class="btn btn-danger bg-dark-btn btn_cancell">{{ 'cancelRemoveFavBtn' | translate }}</div>
      </div>
    </div>
</div> -->

<!-- New Code -->
<div class="msg-popup-dialog p-3 delete-confirmation-modal">
  <div class="text-end">
    <!-- <button class="close-btn" (click)="cancel()">X</button> -->
    <!-- <a (click)="cancel()" class="cross-btn-close"></a> -->
    <!-- <div class="msg-popup-close">
      <img src="../../../assets/images/close-icon-circle.png" alt="" class="" (click)="cancel()" />
  </div> -->

    <div class="msg-popup-close" *ngIf='theme!="dark"'>
      <img src="../../../assets/images/carbon_close-outline-light.svg" alt="" class="" (click)="cancel()" />
    </div>
    <div class="msg-popup-close" *ngIf='theme=="dark"'>
      <img src="../../../assets/images/carbon_close-outline.svg" alt="" class="" (click)="cancel()" />
    </div>

  </div>
  <!-- <h2 class="delete-confirmation">{{'confirmDeleteinformation' | translate}}</h2>
    
    <div class="dialog-actions">
      <button class="confirmation_delete-button" (click)="confirmDelete()">{{'delete' | translate}}</button>
    </div>  -->
  <div *ngIf="fromPage != 'gallery' && type2 != 'profile'" class="msg-popup-content p-3 pt-1">
    <div class="display-message delete-confirmation">
      {{'confirmDeleteinformation' | translate}}
    </div>

    <div class="popup-delete-btn popup-delete-btn d-flex align-items-center justify-content-center py-2">
      <span (click)="confirmDelete()" class="btn btn-success me-3 bg-light-btn btn_confirmm">{{'removeFavbtn' |
        translate}}</span>
      <div (click)="cancel()" class="btn btn-danger bg-dark-btn btn_cancell">{{ 'cancelRemoveFavBtn' | translate }}
      </div>
    </div>

  </div>
  <div *ngIf="fromPage==='gallery' && type2 != 'profile'" class="msg-popup-content p-3 pt-1">
    <div class="display-message delete-confirmation">
      <!-- {{'deleteFromGalleryConfirmation' | translate}} -->
      {{mainText}}
    </div>
    <div class="popup-delete-btn popup-delete-btn d-flex align-items-center justify-content-center py-2">
      <div (click)="confirmDelete()" class="btn btn-success me-sm-3 bg-light-btn btn_confirmm">{{'removeFavbtn' |
        translate}}</div>
      <div (click)="cancel()" class="btn btn-danger bg-dark-btn btn_cancell">{{ 'cancelRemoveFavBtn' | translate }}
      </div>
    </div>
  </div>

  <!-- Profile Photo -->
  <div *ngIf="type2 === 'profile'" class="msg-popup-content p-3 pt-1">
    <div class="display-message delete-confirmation">
      {{'deleteProfilePhoto' | translate}}
    </div>
    <div class="popup-delete-btn popup-delete-btn d-flex align-items-center justify-content-center py-2">
      <div (click)="confirmDelete()" class="btn btn-success me-sm-3 bg-light-btn btn_confirmm">{{'removeFavbtn' |
        translate}}</div>
      <div (click)="cancel()" class="btn btn-danger bg-dark-btn btn_cancell">{{ 'cancelRemoveFavBtn' | translate }}
      </div>
    </div>
  </div>
  <!-- <h1>type2 {{type2}}</h1> -->