<div class="card">
    <div class="card-header header-activity-log">
        <h6 class="card-title">
            {{'resetPassword' | translate}}
        </h6>
    </div>
    <div class="card-body">
        <div class="permission-item d-flex align-items-center justify-content-between">
            <div class="forms_details">
                <form class="d-flex align-items-center form-boxs">
                    <div class="email_box" *ngIf="userEmail">
                        <label for="email">{{ 'email' | translate}}</label><br>
                        <div>{{userEmail}}</div>
                    </div>
                    <div class="password_box">
                        <label for="password"></label>
                        <label for="pass"> {{ 'password' | translate}}</label><br>
                        <input type="password" id="pass" name="password" minlength="8" value="***************" required
                            readonly />
                        <input class="password" type="reset" value="{{'resetPassword' | translate}}"
                            (click)="openResetDialog()">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>