<div class="card">
    <div class="card-header header-activity-log">
        <h6 class="card-title">
            {{'resetPassword' | translate}}
        </h6>
    </div>
    <div class="card-body">
        <div class="permission-item d-flex align-items-center"
            [ngClass]="{'justify-content-between':userEmail, 'justify-content-center':!userEmail }">
            <div class="forms_details">
                <form class="d-flex align-items-center form-boxs password_reset_div" *ngIf="userEmail">
                    <div class="email_box">
                        <label for="email">{{ 'email' | translate}}</label><br>
                        <div>{{userEmail}}</div>
                    </div>
                    <div class="password_box">
                        <label for="password"></label>
                        <label for="pass"> {{ 'password' | translate}}</label><br>
                        <input type="password" id="pass" name="password" minlength="8" value="***************" required
                            readonly />
                        <input class="password" type="reset"
                            class="pass_chng_btn {{currentLoggedInPermission}} add_btn_{{currentLoggedInPermission}}"
                            value="{{'resetPassword' | translate}}" (click)="openResetDialog()"
                            [disabled]="currentLoggedInPermission === 'club_admin'">
                    </div>
                </form>
                <div *ngIf="!userEmail" style="text-align: center; margin-bottom:20px;">
                    <app-loader></app-loader>
                </div>
            </div>
        </div>
    </div>
</div>