body {
    font-family: var(--bs-avenir-regular);
}

h1,
h2,
b,
strong {
    font-family: var(--bs-avenir-bold);
}

::ng-deep strong {
    font-family: var(--bs-avenir-bold);
}

h4 {
    font-size: 22px;
    color: white;
    font-family: var(--bs-avenir-semibold);
    margin-bottom: 0;
}

h3 {
    font-size: 35px;
    font-family: var(--bs-avenir-bold);
    color: #bde34e;
    margin-bottom: 50px;
    position: relative;
    text-transform: uppercase;
}

// h3::after {
//     position: absolute;
//     content: "";
//     z-index: 1;
//     background-color: #FFFFFF;
//     opacity: 10%;
//     height: 1px;
//     width: 100%;
//     bottom: -20px;
//     left: 0;
// }
// p {
//     font-size: 18px;
//     color: white;
//     font-weight: 400;
// }
// li {
//     font-size: 18px;
//     color: white;
//     font-weight: 400;
//     margin-top: 20px;
// }
.py_0 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.tabs {
    margin-bottom: 20px;
    padding-top: 20px;
}

.main-bnr {
    position: relative;
    z-index: 1;
}

.bnr-media {
    position: relative;
}

.bnr-media img {
    width: 100%;
}

.form-select:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.overlay {
    position: absolute;
    height: auto;
}

.overlay {
    position: absolute;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
}

.main {
    background-image: url("/assets/images/banner_images/faq_banner_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 375px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.banner-inner {
    width: 100%;
    position: relative;
    z-index: 1;
}

.header-transparent {
    position: absolute;
    z-index: 2;
    width: 100%;
}

.cookie-text {
    font-size: 45px;
    font-family: var(--bs-avenir-bold);
    color: white;
    text-transform: uppercase;
}

.tab-content {
    border-top: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 0;
    color: white;
}

.talent-content,
.club-content {
    position: relative;
}

.talent-content::after,
.club-content::after,
.scout-content::after {
    content: "";
    position: absolute;
    background-color: white;
    bottom: 0;
    opacity: 10%;
    width: 100%;
    height: 1px;
    z-index: 1;
    margin-top: 20px;
}

.scout-content {
    position: relative;
    padding-bottom: 0;
}

.header h3 {
    margin: 0;
    color: white;
}

h4 {
    margin: 0;
}

.toggle-icon {
    width: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 60px;
    line-height: 1;
    margin-left: 20px;
    font-weight: 100;
}

.faq-content.faq-content-open {
    padding-bottom: 20px;
}

.faq-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-20px);
    transition: max-height 0.5s ease,
        opacity 0.5s ease,
        transform 0.5s ease;
}

.faq-content-open {
    // max-height: 1000px;
    max-height: max-content;
    opacity: 1;
    transform: translateY(0);
    transition: max-height 0.5s ease,
        opacity 0.5s ease,
        transform 0.5s ease;
}

button.faq-club-button,
button.faq-talent-button,
button.faq-scout-button {
    background-color: transparent;
    border: none;
    color: #86AA7D;
    font-size: 22px;
    font-weight: 500;
    margin-right: 0;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px 30px;
}

.tabs button.active {
    font-family: var(--bs-avenir-bold);
}


ul.nav-tabs {
    border: 0 !important;

    a.nav-link {
        background-color: transparent;
        border: none;
        color: #86aa7d;
        font-weight: 500;
        margin-right: 0;
        border-radius: 5px;
        text-transform: uppercase;
        padding: 10px 30px;
        cursor: pointer;
        font-family: var(--bs-avenir-regular);

        &.active {
            font-family: var(--bs-avenir-bold);
            color: #fff;
            border: 1px solid #175B07;
            background: linear-gradient(180deg, #236115, #6fb95d);
        }
    }
}

.accordion {
    .card {
        border-radius: 0;
        margin: 1em 0 0;
        border: none;
        overflow: hidden;
        border-bottom: 1px solid #80808047;
        padding: 0 !important;
    }

    .card .card-header {
        background: transparent;
        margin-bottom: 0;
        border: 0;
    }

    .card-header a {
        width: 100%;
        display: inline-block;
        padding: 10px 0;
        padding-right: 50px;
        position: relative;
        color: #357525;
        font-family: var(--bs-avenir-semibold);
        border-radius: 0;
    }

    .card-header a:before {
        content: ' ';
        position: absolute;
        right: 0;
        top: 16px;
        width: 30px;
        height: 30px;
        background-image: url(../../../../assets/images/accordion-minus-dark.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;
    }

    .card-header a.collapsed:before {
        background-image: url(../../../../assets/images/accordion-plus-dark.svg);
    }

    .card-body {
        padding: 0 0 1rem;
    }
}

@media (max-width: 1199px) {
    h3 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .header {
        padding: 8px 0px 8px 0;
    }
}

@media (max-width: 991px) {
    .cookie-text {
        font-size: 40px;
    }

    .about {
        margin-top: 50px;
    }

    h4 {
        font-size: 21px;
    }

    .faq-content {
        font-size: 18px;
    }

    button.faq-club-button,
    button.faq-talent-button,
    button.faq-scout-button {
        font-size: 20px;
    }

    ul.nav-tabs {
        a.nav-link {
            font-size: 20px;
        }
    }
}


@media (max-width: 575px) {
    .header {
        padding: 10px 0px 10px 0px;
    }

    button.faq-club-button,
    button.faq-talent-button,
    button.faq-scout-button {
        font-size: 18px;
    }

    .cookie-text {
        font-size: 35px;
    }

    h3 {
        font-size: 22px;
    }

    button.faq-club-button,
    button.faq-talent-button,
    button.faq-scout-button {
        padding: 10px 20px;
    }

    h4 {
        font-size: 19px;
    }

    .toggle-icon {
        font-size: 38px;
        min-width: 40px;
    }

    .py_0 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .faq-content {
        font-size: 16px;
    }

    ul.nav-tabs {
        a.nav-link {
            font-size: 18px;
            padding: 10px 20px;
        }
    }

    .accordion {
        .card-header a {
            font-size: 19px;
        }

        .card-header a:before {
            right: 0 !important;
            top: 11px !important;
            width: 30px !important;
            height: 30px !important;
            background-size: 20px !important;
        }
    }
}

@media (max-width: 390px) {

    button.faq-club-button,
    button.faq-talent-button,
    button.faq-scout-button {
        font-size: 16px;
        padding: 8px 10px 6px;
    }

    .cookie-text {
        font-size: 28px;
    }

    ul.nav-tabs {
        a.nav-link {
            font-size: 16px !important;
            padding: 8px 10px 6px;
        }
    }
}


@media (min-width: 992px) and (max-width: 1999px) {
    .common_static_page {
        h2 {
            font-size: 35px;
        }

        h3,
        .card-header a {
            font-size: 30px;
        }

        p,
        li {
            font-size: 24px !important;
        }
    }
    .cookie-text {
        font-size: 55px;
    }
    h3 {
        font-size: 45px;
    }

    :host ::ng-deep .common_static_page p,
    :host ::ng-deep .common_static_page li {
        font-size: 24px !important;
    }

}

@media (min-width: 576px) and (max-width: 991px) {
    .common_static_page {
        h2 {
            font-size: 28px;
        }

        h3,
        .card-header a {
            font-size: 24px;
        }

        p,
        li {
            font-size: 20px !important;
        }
    }

    :host ::ng-deep .common_static_page p,
    :host ::ng-deep .common_static_page li {
        font-size: 20px !important;
    }
}

@media (min-width: 1600px) and (max-width: 2999px) {
    h3 {
        font-size: 45px;
    }

    h2.cookie-text {
        font-size: 50px;
    }

    .tabs button {
        font-size: 24px !important;
        padding: 10px 30px;
    }

    .header h4 {
        font-size: 28px;
    }

    p.faq-content {
        font-size: 24px;
    }

    .toggle-icon {
        font-size: 75px;
    }

    ul.nav-tabs {
        a.nav-link {
            font-size: 24px !important;
            padding: 10px 30px;
        }
    }
}

@media (min-width: 2000px) {
    .common_static_page {
        h2 {
            font-size: 38px;
        }

        h3,
        .card-header a {
            font-size: 32px;
        }

        p,
        li {
            font-size: 26px;
        }
    }

    :host ::ng-deep .common_static_page p,
    :host ::ng-deep .common_static_page li {
        font-size: 26px !important;
    }
}

@media (min-width: 3000px) {
    .header {
        padding: 20px 10px;
    }

    .toggle-icon {
        font-size: 85px !important;
    }

    .tabs button {
        font-size: 45px !important;
        padding: 19px 50px 13px !important;
    }

    .common_static_page {
        h2 {
            font-size: 50px;
        }

        h3,
        .card-header a {
            font-size: 45px;
        }

        p,
        li {
            font-size: 40px;
        }
    }

    :host ::ng-deep .common_static_page p,
    :host ::ng-deep .common_static_page li {
        font-size: 40px !important;
    }

    ul.nav-tabs {
        a.nav-link {
            font-size: 45px !important;
            padding: 19px 50px 13px !important;
        }
    }
}
