.main-popup-div {
    display: flex;
    justify-content: space-between;
}

.close-img {
    background-image: url(../../../../../assets/images/carbon_close-outline.png);
    background-size: cover;
    width: 35px;
    height: 35px;
    border: none;
    padding: 0px;
    position: absolute;
    right: 17px;
    top: 15px;
    z-index: 2;
    opacity: 1;
    cursor: pointer;
}

.button-text {
    color: black;
    padding: 5px;
    font-size: 14px;
    margin-left: 10px;
    background: none;
}

.text-name {
    font-size: 13px;
}

.Launch {
    background-color: #6FB95D;
    color: #ffffff;
}

.btn-delete {
    color: #FD5454;
}

.button-text:hover {
    background: none;
}

.button-text:active {
    background: none !important;
}

.marketing-button {
    position: absolute;
    bottom: 20px;
    display: flex;
    column-gap: 94px;
}

.text-size {
    font-size: 14px;
}

.title-text {
    font-size: 16px;
}

.template-name-input input:focus-visible {
    outline: 0px !important;
}

.template-name-input input[type=text]:disabled {
    border: none !important;
}

ngx-editor {
    height: 35vh;
    display: block;
}

::ng-deep .mat-mdc-select-panel {
    min-width: 110px !important;
    scrollbar-width: none !important;
}

.Launch {
    padding: 0.5rem 3rem;
}

.NgxEditor__Wrapper {
    border: 0 !important;
}

.mat-mdc-select-arrow-wrapper {
    display: none !important;
}

.dropdown-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}


.add_custom_width {
    width: 80% !important;
}

.editor-width {
    height: 275px;
    // overflow: auto;
    // overflow: hidden;
    // background: #FCFCFC;
}


.template_body_form {
    // max-height: 60vh;
    padding: 15px;
    overflow: auto;
}


input.template-name-inputField {
    width: 100% !important;
}

@media (max-width: 575px) {
    .popup_buttons_mobile {
        flex-wrap: wrap;
        align-items: center !important;
        justify-content: center !important;
    }
}

@media (max-width: 767px) {

    .template_body_form .template-name-input,
    .main-popup-div .d-flex.align-items-baseline {
        flex-direction: column;
        margin: 10px 0;
    }

    .main-popup-div .d-flex.align-items-baseline .btn-group {
        width: 100%;
    }

    .main-popup-div .mat-mdc-select-trigger {
        width: 100% !important;
        margin-left: 0;
        margin-top: 10px;
        min-width: 100%;
    }
}

::ng-deep .tox-promotion {
    display: none !important;
}

::ng-deep .dark-theme .tox-menubar {
    background-color: #072944 !important;
}

::ng-deep .dark-theme .tox-toolbar__primary {
    background-color: #072944 !important;
}
::ng-deep .dark-theme .tox-tinymce{
    border: 2px solid #072944 !important;
}
::ng-deep .tox-statusbar{
    display: none !important;
}
::ng-deep .dark-theme .tox:not(.tox-tinymce-inline) .tox-editor-header{
    background-color: #072944 !important;
}
::ng-deep .dark-theme.tox .tox-toolbar-overlord{
    background-color: #072944 !important;
}
