<div *ngIf="userPurchases.length == 0 && !isLoading" class="noTextTabs-Wrap">
  <h5 class="noTextTabs">{{ 'noTextTabs' | translate }}</h5>
</div>
<div *ngIf="isLoading || userPurchases.length == '0'">
  <div class="loader mt-5">
    <app-loader *ngIf="isLoading"></app-loader>
  </div>
</div>
<!--  -->
<div class="purchase-parent bg-0C3453" *ngIf="userPurchases.length > 0">
  <div class="d-flex align-items-center justify-content-between mb-2 wrap_for_mobile">
    <div class="d-flex align-items-center ">
      <h2 class="card-title mb-0 me-3 ">{{'purchaseHistory' | translate}}</h2>
    </div>

    <div class="card-search p-1">
      <div class="input-group d-flex align-items-center ">
        <span class="input-group-text"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.5">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M9.1441 11.9881C11.8739 10.8279 13.1464 7.67448 11.9863 4.94465C10.8261 2.21481 7.67265 0.942328 4.94281 2.10248C2.21297 3.26263 0.94049 6.4161 2.10064 9.14593C3.2608 11.8758 6.41426 13.1483 9.1441 11.9881Z"
                stroke="black" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"
                class="search-icon-purchase"></path>
              <path d="M10.8408 10.8398L15.0062 15.0058" stroke="black" stroke-width="1.2" stroke-linecap="round"
                stroke-linejoin="round" class="search-icon-purchase"></path>
            </g>
          </svg></span><input type="text" placeholder="{{ 'search' | translate }}" aria-label="Username" aria-describedby="basic-addon1"
          class="form-control ps-0" />
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center mb-2 wrap_for_mobile_pagination">
    <div class="dropdown dropdown-purchase">
      <button class="btn btn-secondary dropdown-toggle toggle-padding  dropdown-toggle-checkbox purchase-main-checkbox"
        type="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="selectAllCheckboxes()">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked *ngIf="allSelected" />
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" *ngIf="!allSelected" />
        </div>
        <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M4.08333 3.25838L0.995812 0.170854C0.768006 -0.0569515 0.39866 -0.0569515 0.170854 0.170854C-0.0569515 0.39866 -0.0569515 0.768006 0.170854 0.995812L3.67085 4.49581C3.89866 4.72362 4.26801 4.72362 4.49581 4.49581L7.99581 0.995812C8.22362 0.768006 8.22362 0.39866 7.99581 0.170854C7.76801 -0.0569515 7.39866 -0.0569515 7.17085 0.170854L4.08333 3.25838Z"
            fill="#646464" />
        </svg>
      </button>
     
    </div>
    <a class="btn btn-outline-white ms-2 delete-text" id="users-icon" (click)="downloadAll()">
      <svg width="22" height="23" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12 16.5L7 11.5L8.4 10.05L11 12.65V4.5H13V12.65L15.6 10.05L17 11.5L12 16.5ZM4 20.5V15.5H6V18.5H18V15.5H20V20.5H4Z"
          fill="#787878" class="td-icon-purchase" />
      </svg>


      {{'downloadAll' | translate }}</a>
    <span class="text-danger">{{errorMsg}}</span>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th scope="col">{{'orderNo' | translate}}</th>
          <th scope="col">{{'purchasedDate' | translate}}</th>
          <th scope="col">{{'validUntil' | translate}}
          </th>
          <th scope="col">{{'voucherCode' | translate}}</th>
          <th scope="col" class="text-center">{{'downloadInvoice' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchase of userPurchases">
          <td class="main-table col_checkbox">
            <span class="form-check align-self-center me-2">
              <input type="checkbox" value="" id="defaultCheck1" class="form-check-input"
                [checked]="selectedIds.includes(purchase.id)" (change)="onCheckboxChange(purchase)" />
              <label for="defaultCheck1" class="form-check-label"></label>
            </span>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <span class="main-template">{{purchase.id}}</span>
            </div>
          </td>
          <!-- <td>{{ purchase.plan_period_start | date:'MM.dd.yyyy - hh.mm a' }}</td> -->
          <td>{{ purchase.plan_period_start | date:'dd.MM.yyyy' }}</td>
          <!-- <td>{{ purchase.plan_period_end | date:'MM.dd.yyyy - hh.mm a' }}</td> -->
          <td>{{ purchase.plan_period_end | date:'dd.MM.yyyy' }}</td>
          <td>
            <span *ngIf="purchase.coupon_used">{{purchase.coupon_used}}</span>
            <span *ngIf="!purchase.coupon_used">-</span>
          </td>
          <td class="text-center">
            <svg class="pointer" (click)="downloadInvoice(purchase.id, purchase.invoice_file_path)" width="24"
              height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="#787878"
                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="td-icon-purchase" />
              <path
                d="M9 11.5117L12 14.5117L15 11.5117M12 14.5117V6.51172M6 16.5117C9.89 17.8117 14.11 17.8117 18 16.5117"
                stroke="#787878" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="td-icon-purchase" />
            </svg>
          </td>
        </tr>
        <tr *ngIf="isLoading || userPurchases.length == '0'">
          <td colspan="6">
            <app-loader *ngIf="isLoading"></app-loader>
            <div *ngIf="userPurchases.length == 0 && !isLoading" style="text-align: center;">{{ 'noRecordFound' | translate }}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>