.user-pending-icon {
  max-width: 22px;
  position: absolute;
  margin-top: 25px;
  margin-left: -15px;
}

.user-approved-icon {
  max-width: 26px;
  position: absolute;
  margin-top: 23px;
  margin-left: -15px;
}

.user-rejected-icon {
  max-width: 22px;
  position: absolute;
  margin-top: 25px;
  margin-left: -15px;
}

.box-square {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  display: inline-block;
  color: #FFFFFF;
  background: #6FB95D;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.team-types {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}

.pl-5 {
  padding-left: 3rem;
}

.team-type {
  font-family: Libre Franklin, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.club-team {
  font-family: Libre Franklin, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.back-link {
  font-size: 12px;
  cursor: pointer;
  margin-right: 12px;
  margin-top: 1px;
  padding: 0px 5px;
  letter-spacing: .3px;
  display: inline-flex;
  align-items: center;
}

.back-and-add-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.add-player-link {
  margin-left: auto;
  /* This will push the add button to the right */
}

.player-view-container {
  padding: 0 !important;
}

.back-and-add-container {
  margin-bottom: 10px;
}

.selected_team_name {
  font-size: 18px;
}


.player-view-container ul.nav-tabs {
  border: 0 !important;
  margin-bottom: 1rem;

  .nav-link {
    background-color: transparent;
    border: none;
    color: #000;
    font-weight: 500;
    margin-right: 0;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 8px 20px;
    cursor: pointer;
    font-family: var(--bs-avenir-bold);

    &.active {
      background: #6FB95D;
      color: #fff;
    }
  }
}


::ng-deep .dark-theme {
  .player-view-container ul.nav-tabs {
    .nav-link {
      color: #fff !important;

      &.active {
        background: #BDE34F !important;
        color: #023A4A !important;
      }
    }
  }
}


@media (min-width: 1600px) and (max-width: 2999px) {

  .club-team,
  .back-and-add-container span.selected_team_name {
    font-size: 22px !important;
  }

  .player-view-container table td svg,
  .back-and-add-container svg.pointer {
    width: 33px;
    height: 33px;
    margin-right: 4px;
  }

  .btn.web-create-bg {
    font-size: 22px !important;
    margin-bottom: 10px !important;
  }
  .add-player-link .dashboard_tabs_add_btn {
    min-width: 340px;
    justify-content: center;
  }
}

@media (min-width: 3000px) {

  .club-team,
  .back-and-add-container span.selected_team_name {
    font-size: 28px !important;
  }

  .player-view-container table td svg,
  .back-and-add-container svg.pointer {
    width: 40px;
    height: 40px;
    margin-right: 4px;
  }

  .btn.web-create-bg {
    font-size: 28px !important;
    margin-bottom: 10px !important;
  }
  .add-player-link .dashboard_tabs_add_btn {
    min-width: 420px;
    justify-content: center;
  }
}


@media (min-width: 992px) and (max-width: 1599.98px) {
  .add-player-link .dashboard_tabs_add_btn {
    min-width: 260px;
    justify-content: center;
  }
}


@media (max-width: 1199px) {
  .box-square {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 767px) {
  .box-square {
    width: calc(100% / 4 - 10px);
    height: 100px;
    margin-right: 5px;
    margin-left: 5px;
  }
}


@media (max-width: 575px) {
  .box-square {
    width: calc(100% / 3 - 10px);
    height: 100px;
    margin-right: 5px;
    margin-left: 5px;
  }
}

@media (max-width: 460px) {
  .box-square {
    width: calc(100% / 2 - 10px);
    height: 100px;
    margin-right: 5px;
    margin-left: 5px;
  }
}

.unlock_page {
  position: relative;
  // height: 30vh;

  .unlock_btn {
    background: #6FB95D;
    padding: 10px 24px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
    border: none;
  }

  .upgrade_unlock {
    height: 100%;
    background: rgb(255 255 255 / 65%);
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.btn.web-create-bg {
  display: flex;
  align-items: center;
  gap: 6px;
}

::ng-deep.text-transform-normal {
  text-transform: none;
}