/*--------------------------------------------------------------
   banner
--------------------------------------------------------------*/
// .py_0{
//     padding-top: 100px;
// }
body {
    height: 100%;
    overflow: hidden;
}
.thanku-page{
    position: relative;
}

.main-bnr {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh; /* Adjusted to 100% */
    object-fit: cover;
    // // position: relative;
    // background-image: url(/assets/images/error-bnr.jpg);
}
.banner-image-error {
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Ensure overlay is above background */
}

.banner-text-h2 {
    color: white;
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    content: "";
    z-index: 1;
    top: 15rem;

   
}

h3.banner-text-h3 {
    position: absolute;
    content: "";
    color: white;
    font-size: 28px;
    margin-top: 2%;
}



a.btn.btn-register {
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    height: 41px;
    width: 278px;
    position: absolute;
    content: "";
    top: 30rem;
    color: #072944;
    background-color: #BDE34F;
}

img.check-image-dark, img.check-image-light {
    position: absolute;
    top: 16rem;
}


/*--------------------------------------------------------------
#  Banner
--------------------------------------------------------------*/


@media (min-width: 1441px) {

    .banner-text-h2 {
        top: 22rem;
    }
    a.btn.btn-register {
        top: 37rem;
    }
    img.check-image-dark, img.check-image-light {
        top: 23rem;
    }
   
}


@media (min-width: 1920px) {
        img.check-image-dark, img.check-image-light {
            top: 22rem;
    }
}

@media (max-width: 1199px) {
    .banner-text-h2 {
        font-size: 45px;
        font-weight: 600;

    }
    img.check-image-dark, img.check-image-light {
        top: 11rem;
        right: 3rem;
    }
    .banner-text-h2 {
        top: 12rem;
    }
    a.btn.btn-register{
        top: 24rem;

    }
}

@media (max-width: 991px) {
    
    .banner-text-h2 {
        font-size: 35px;
        font-weight: 600;
    }
    img.check-image-dark, img.check-image-light {
        top: 12rem;
        width: 200px;
    }
    a.btn.btn-register {
        top: 22rem;
        line-height: 21px;
    }

}

@media (max-width: 575px) {
    .banner-text-h2 {
        top: 7rem;
    }
    a.btn.btn-register {
        top: 17rem;
        line-height: 21px;
    }
    a.btn.btn-register{
        width: 100%;
    }
    .banner-image-error {
        text-align: center;
    }
    img.check-image-dark, img.check-image-light {
        top: 22rem;
        width: 100%;
        height: 200px;
        right: 0;
        left: 0;
        
    }


}

@media (max-width: 391px) {
    .banner-text-h2{
        font-size: 39px;
    }
}

@media (max-width: 376px) {
    .banner-text-h2 {
        font-size: 37px;
    }
 
}
@media (max-width: 345px) {
    .banner-text-h2 {
        font-size: 35px;
    }
}


@media (max-width: 321px) {
    .banner-text-h2 {
        font-size: 32px;
    }
 
}