<div class="dialog-content transfer_details">
  <div class="personal_edit popup_header p-3">
    <div class="dialog-header mx-auto">
      <h2>{{'addNewTransfer' | translate}}</h2>
    </div>

    <div class="close_buttons" *ngIf='theme!="dark"'>
      <button class="close-btn border-0 padding-0" aria-label="Close" (click)="onCancel()">
        <img src="../../../../../assets/images/carbon_close-outline-light.svg" alt="">
      </button>
    </div>
    <div class="close_buttons" *ngIf='theme=="dark"'>
      <button class="close-btn border-0 padding-0" aria-label="Close" (click)="onCancel()">
        <!-- <img src="../../../../../assets/images/carbon_close-outline.svg" alt=""> -->
        <img src="../../../../../assets/images/carbon_close-outline.svg" alt="">
      </button>
    </div>

  </div>
  <form class="transfer_box popup__body p-3" (ngSubmit)="onSubmit(transferForm)" #transferForm="ngForm">
    <div class="row mb-4">
      <div class="p-0 moving_select col-sm-6">

        <div class="form-check1 checkbox1 1mb-3 checkbox-wrap checkbox-wrapper">
          <label class="form-label">{{'movingFrom' | translate}}</label>
          <div class="form-check checkbox mb-3">
            <input class="form-check-input" type="checkbox" value="" id="onNoMoveFromTeam" [(ngModel)]="noMoveFromTeam"
              name="noClub" (ngModelChange)="onNoMoveFromTeam($event)" />
            <label class="form-check-label form-label" for="onNoMoveFromTeam">
              {{ 'noTeamAndClub' | translate }}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label [ngClass]="{'d-none':noMoveFromTeam}" for="team_from" class="form-label">{{'club' | translate}} /
            {{'team' |
            translate}}</label>

          <div class="old-func" [ngClass]="{'d-none':noMoveFromTeam}">
            <input type="text" id="team_from" name="team_from" placeholder="{{'enterAndSearch' | translate}}..."
              [(ngModel)]="teamFrom" #teamFromsField="ngModel" (input)="onSearchTeamsFrom()" autocomplete="off" required
              [ngClass]="{'isrequiredField': !teamFrom && showFormErrors}" />

            <!-- Club suggestions -->
            <ul *ngIf="filterTeamsFrom && filterTeamsFrom.length > 0 && teamFrom.length >= 2" class="suggestions-list">
              <li *ngFor="let team of filterTeamsFrom" (click)="onSelectTeamFrom(team)">
                {{ team.team_name }} - {{ team.team_type }}
              </li>
            </ul>
          </div>

          <div class="row" [ngClass]="{'d-none':!noMoveFromTeam}">
            <div class="col-sm-12 mb-3">
              <label for="team_from" class="form-label">{{'club' | translate}} / {{'team' | translate}}</label>
              <input type="text" id="team_to" name="team_to_manual"
                placeholder="{{'noTeamAndClubPlaceHolder' | translate}}..." [(ngModel)]="team_from_manual" required
                [ngClass]="{'isrequiredField': !team_from_manual && showFormErrors}" />
            </div>

            <div class="col-sm-12">
              <mat-label for="country">{{ 'country' | translate }}</mat-label>
              <mat-form-field appearance="fill" class="w-100 custom_select_mat">
                <mat-select id="country" name="country" [(ngModel)]="team_from_m_country_id"
                  [ngClass]="{'isrequiredField': !team_from_m_country_id && showFormErrors}"
                  class="form-select mat_search_selector">
                  <!-- Search input inside dropdown -->
                  <ngx-mat-select-search [formControl]="countrySearch" placeholder="A"></ngx-mat-select-search>
                  <ng-container *ngIf="countriesFromArr">
                    <mat-option *ngFor="let country of countriesFromArr" [value]="country.id">
                      {{ country.country_name }}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="p-0 moving_select col-sm-6">
        <!-- <div class="form-group"> -->
        <div class="checkbox-wrapper checkbox-wrap">
          <label class="form-label">{{'movingTo' | translate}}</label>
          <div class="form-check checkbox mb-3">
            <label class="form-check-label form-label" for="flexCheckDefault995">
              {{ 'noTeamAndClub' | translate }}
            </label>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault995" [(ngModel)]="noMoveToTeam"
              name="noClub" (ngModelChange)="onNoMoveToTeam($event)" />
          </div>
        </div>
        <!-- </div> -->
        <div class="form-group">
          <label [ngClass]="{'d-none':noMoveToTeam}" for="team_to" class="form-label">{{'club' | translate}} / {{'team'
            |
            translate}}</label>
          <div class="default-func" [ngClass]="{'d-none':noMoveToTeam}">
            <input type="text" id="team_to" name="team_to" placeholder="{{'enterAndSearch' | translate}}..."
              [(ngModel)]="teamTo" #teamTosField="ngModel" (input)="onSearchTeams()" autocomplete="off" required
              [ngClass]="{'isrequiredField': !teamTo && showFormErrors}" />
            <!-- Club suggestions -->
            <ul *ngIf="filterTeams.length > 0 && teamTo.length >= 2" class="suggestions-list">
              <li *ngFor="let team of filterTeams" (click)="onSelectTeamTo(team)">
                {{ team.team_name }} - {{ team.team_type }}
              </li>
            </ul>
          </div>
          <div class="row" [ngClass]="{'d-none':!noMoveToTeam}">
            <div class="col-sm-12 mb-3">
              <label for="team_to" class="form-label">{{'club' | translate}} / {{'team' | translate}}</label>
              <input type="text" id="team_to" name="team_to_manual"
                placeholder="{{'noTeamAndClubPlaceHolder' | translate}}..." [(ngModel)]="team_to_manual" required
                [ngClass]="{'isrequiredField': !team_to_manual && showFormErrors}" />
            </div>

            <div class="col-sm-12">
              <label for="team_to_m_country_id" class="form-label">{{'country' | translate}}</label>
              <mat-form-field appearance="fill" class="w-100 custom_select_mat">
                <mat-select id="team_to_m_country_id" name="team_to_m_country_id" [(ngModel)]="team_to_m_country_id"
                  [ngClass]="{'isrequiredField': !team_from_m_country_id && showFormErrors}"
                  class="form-select mat_search_selector">
                  <!-- Search input inside dropdown -->
                  <ngx-mat-select-search [formControl]="countrySearch2" placeholder="A"></ngx-mat-select-search>
                  <ng-container *ngIf="countriesToArr">
                    <mat-option *ngFor="let country of countriesToArr" [value]="country.id">
                      {{ country.country_name }}
                    </mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>


    </div>
    <hr>
    <div class="row mt-5 mb-4">
      <div class="form-group moving_select col-lg-6">
        <label for="session" class="form-label">{{'session' | translate}}</label>
        <mat-form-field appearance="fill" class="w-100 custom_select_mat">
          <mat-select id="session" name="session" [(ngModel)]="data.session"
            [ngClass]="{'isrequiredField': !data.session && showFormErrors}" required
            class="form-select mat_search_selector">
            <!-- Search input inside dropdown -->
            <!-- <ngx-mat-select-search [formControl]="countrySearch" placeholder="A"></ngx-mat-select-search> -->
            <ng-container *ngIf="countries">
              <mat-option *ngFor="let session of sessionArr" [value]="session">
                {{ session }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group moving_select col-lg-6">
        <label for="date_of_transfer" class="form-label">{{'date' | translate}}</label>
        <div class="d-flex align-items-center justify-content-center date_field">
          <input matInput id="date_of_transfer" name="date_of_transfer" [matDatepicker]="date_of_transferpicker"
            [formControl]="date_of_transfer" placeholder="DD.MM.YYYY" required [readonly]="true" (click)="openDatePicker(date_of_transferpicker)"/>
          <mat-datepicker-toggle matSuffix [for]="date_of_transferpicker"></mat-datepicker-toggle>
          <mat-datepicker #date_of_transferpicker></mat-datepicker>
        </div>
      </div>
    </div>
    <div class="dialog-actions align-items-center d-flex justify-content-between">
      <button class="cancel-btn" type="button" (click)="onCancel()">{{'cancel' | translate}}</button>
      <button class="save-btn" type="submit">{{'save' | translate}}</button>
    </div>
  </form>
</div>