<div class="cropper_popup">
    <div class="crop-container" #container>
        <!-- <img #imageElement [src]="imageUrl" [style.transform]="'translate(' + pos.x + 'px,' + pos.y + 'px)'" class="draggable-image" draggable="false"/> -->
        <div style="position: relative;">
            <img #imageElement [src]="imageUrl" class="draggable-image " draggable="false" />
            <!-- <div class="crop-box" [style.transform]="'translate(' + pos.x + 'px,' + pos.y + 'px) scale(' + scale + ')'" #cropBox></div> -->
            <div class="crop-box" #cropBox [ngStyle]="{ 
        top: pos.y + 'px', 
        left: pos.x + 'px', 
        width: size * 5 / 2 + 'px', 
        height: size + 'px', 
        cursor: isDragging ? 'move' : 'auto' }" (mousedown)="startDrag($event)" (touchstart.passive)="false"
                (touchstart)="onTouchStartDrag($event)">

                <div class="crop-grid">
                    <div class="line v-line" style="left: 33.33%;"></div>
                    <div class="line v-line" style="left: 66.66%;"></div>

                    <div class="line h-line" style="top: 33.33%;"></div>
                    <div class="line h-line" style="top: 66.66%;"></div>
                </div>

                <div class="crop-center">+</div>

                <div class="resize-handle bottom-right" (mousedown)="startResize($event)" (touchstart.passive)="false"
                    (touchstart)="onTouchStartResize($event)">
                </div>

                <div class="resize-handle bottom-right2" (mousedown)="startResize($event)" (touchstart.passive)="false"
                    (touchstart)="onTouchStartResize($event)">
                </div>
            </div>
        </div>


    </div>
    <!-- <div style="text-align: center; margin: 10px 0;">
        <button (click)="zoomIn()">Zoom In</button>
        <button (click)="zoomOut()">Zoom Out</button>
    </div> -->
    <div class="actions text-center mb-0 mt-3">
        <button (click)="cancel()" class="btn puse-btn">{{'cancel' | translate}}</button>
        <button (click)="cropImage()" class="btn save_button">{{'crop' | translate}}</button>
    </div>
</div>