<div class="dialog-container edit_genrl_details">
  <div class="personal_edit popup_header p-3">
    <div class="dialog-header m-auto">
      <h2>{{'editPersonalDetails' | translate}}</h2>
    </div>
    <!-- <div class="close_buttons">
      <button class="close-btn" (click)="onCancel()">X</button>
    </div> -->

    <div class="close_buttons" *ngIf='theme!="dark"'>
      <button class="close-btn border-0 padding-0" aria-label="Close" (click)="onCancel()">
        <img src="../../../../assets/images/carbon_close-outline-light.svg" alt="">
      </button>
    </div>
    <div class="close_buttons" *ngIf='theme=="dark"'>
      <button class="close-btn border-0 padding-0" aria-label="Close" (click)="onCancel()">
        <!-- <img src="../../../../../assets/images/carbon_close-outline.svg" alt=""> -->
        <img src="../../../../assets/images/carbon_close-outline.svg" alt="">
      </button>
    </div>
  </div>
  <form class="popup__body pt-3" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div class="overflow-card">
      <div class="row">
        <!-- <div class="col-sm-12">
          <h1>userHasNoClub {{userHasNoClub}}</h1>
          <h1>userHasCustomClub {{userHasCustomClub}}</h1>
        </div> -->
      </div>
      <!-- I DOn't Club Field -->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-check checkbox mb-3 check_align">
            <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckDefault-5"
              [(ngModel)]="isHideClubSection" name="noClub" (ngModelChange)="onNoClubChange($event)" />
            <label class="form-check-label fs-14 font-w400 text-light mb-2" for="flexCheckDefault-5">
              {{ 'withoutClub' | translate }}
            </label>
          </div>

          <div class="form-check checkbox mb-3 check_align">
            <input class="form-check-input mt-0" type="checkbox" value="" id="flexCheckDefault-6"
              [(ngModel)]="isCustomClubTeam" name="isCustomClubTeam" (ngModelChange)="onChnageCustomClubTeam($event)" />
            <label class="form-check-label fs-14 font-w400 text-light" for="flexCheckDefault-6">
              <!-- {{ 'noClubTxt' | translate }} -->
              {{ 'noTeamAndClub' | translate }}
            </label>
          </div>


        </div>
      </div>
      <!-- I DOn't Club Field -->
      <div class="row">
        <!-- First Name -->
        <div class="form-group col-lg-6">
          <label for="first_name">{{'firstName' | translate}}:</label>
          <input type="text" id="first_name" name="first_name" [(ngModel)]="firstName" #firstNameField="ngModel" />
        </div>

        <!-- Last Name -->
        <div class="form-group col-lg-6">
          <label for="last_name">{{'lastName' | translate}}:</label>
          <input type="text" id="last_name" name="last_name" [(ngModel)]="lastName" #lastNameField="ngModel" />
        </div>
      </div>

      <div class="row" *ngIf="!isHideClubSection && !isCustomClubTeam">

        <!-- Current Club -->
        <div class="form-group col-lg-4 position_inputs">
          <mat-label>{{ 'currentClub' | translate }}</mat-label>
          <mat-form-field appearance="fill" class="w-100 custom_select_mat">
            <!-- <pre>{{nationControl | json}}</pre> -->
            <mat-select [(ngModel)]="currentClubId" class="form-select mat_search_selector" id="currentClub"
              name="currentClub" (selectionChange)="clubUpdated()">
              <!-- Search input inside dropdown -->
              <ngx-mat-select-search class="custom_search_mat" [formControl]="clubSearching"
                placeholder="A"></ngx-mat-select-search>

              <!-- List of countries -->
              <!-- <mat-option *ngFor="let country of displayedCountries" [value]="country.id">
                {{ country.country_name }}
              </mat-option> -->

              <ng-container *ngIf="clubSearching.value == ''">
                <mat-option *ngFor="let club of playerClubsListing" [value]="club.id">
                  {{ club.club_name }}
                </mat-option>
              </ng-container>
              <ng-container *ngIf="clubSearching.value != ''">
                <mat-option *ngFor="let club of searchedClubs" [value]="club.id">
                  {{ club.club_name }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>

        </div>

        <!-- Team Type Men & Women -->
        <div class="form-group-1 col-lg-4 team_gender_p">
          <label class="form-label hide_lable_mobile">&nbsp;</label>
          <div class="row align-items-center">
            <div class="col-lg-12">
              <div class="gen_radio gap-3">
                <div class="form-check align_radio_">
                  <input class="form-check-input" type="radio" name="team_type" id="male" value="male"
                    (change)="setTeamType('m')" [checked]="team_type == 'm'" />
                  <label class="form-check-label ms-1" for="male">
                    <span class="font-w400">{{'men' | translate}}</span>
                  </label>
                </div>
                <div class="form-check align_radio_">
                  <input class="form-check-input" type="radio" name="team_type" id="female" value="female"
                    (change)="setTeamType('w')" [checked]="team_type == 'w'" />
                  <label class="form-check-label ms-1" for="female">
                    <span class="font-w400">{{'women' | translate}}</span>
                  </label>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
        <!-- Team Type Men & Women -->
        <!-- Team According to club -->
        <div class="form-group col-lg-4 position_inputs">
          <!-- <label for="team_id">{{'team' | translate}}:</label> -->
          <!-- <label for="team_id">&nbsp;</label> -->
          <!-- <label for="team_id">{{ 'team' | translate }}</label> -->
          <mat-label for="team_id">{{ 'team' | translate }}</mat-label>
          <ng-container>
            <!-- <mat-select [(ngModel)]="CurrentTeamId" class="form-select"
              [ngClass]="{ 'error-border': isTeamSelectError }" id="team_id" name="team_id" required>
              <mat-option [value]="0" disabled selected>{{ 'select' | translate }}</mat-option>
              <mat-option *ngFor="let teamArr of teamsArr" [value]="teamArr.id">
                {{ teamArr.team_name }} - {{ teamArr.team_type }}
              </mat-option>
            </mat-select> -->
            <!-- <mat-label>{{ 'currentClub' | translate }}</mat-label> -->
            <mat-form-field appearance="fill" class="w-100 custom_select_mat">
              <mat-select [(ngModel)]="CurrentTeamId" class="form-select mat_search_selector"
                [ngClass]="{ 'error-border': isTeamSelectError }" id="team_id" name="team_id">
                <!-- Search input inside dropdown -->
                <!-- <ngx-mat-select-search [formControl]="clubSearching" placeholder="A"></ngx-mat-select-search> -->
                <ng-container *ngIf="teamsArr">
                  <mat-option *ngFor="let teamArr of teamsArr" [value]="teamArr.id">
                    {{ teamArr.team_name }} - {{ teamArr.team_type }}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </ng-container>


        </div>
      </div>

      <div class="row" id="customFieldsRow" *ngIf="isCustomClubTeam">
        <!-- <div class="customFields_inputs" id="customFields">
          
        </div> -->
        <div class="form-group col-lg-4 position_inputs">
          <mat-label for="nationality_input">{{'club' | translate}} {{'country' | translate}}:</mat-label>
          <!-- <label for="nationality22">{{'club' | translate}} {{'country' | translate}}:</label> -->
          <!-- <select class="form-select" id="nationality22" name="nationality22" required [(ngModel)]="custom_club_country"
            #customClubCountryField="ngModel">
            <option *ngFor="let country of displayedCountries2; trackBy: trackByCountryId" [value]="country.id">
              {{ country.country_name }}
            </option>
          </select> -->
          <mat-form-field appearance="fill" class="w-100 custom_select_mat">
            <mat-select [(ngModel)]="CurrentTeamId" class="form-select mat_search_selector"
              [ngClass]="{ 'error-border': isTeamSelectError }" id="nationality_input" name="nationality_input"
              name="nationality22" required [(ngModel)]="custom_club_country" #customClubCountryField="ngModel">
              <!-- Search input inside dropdown -->
              <ngx-mat-select-search [formControl]="customClubCountrySearch" placeholder="A"></ngx-mat-select-search>
              <ng-container *ngIf="displayedCountries2">
                <mat-option *ngFor="let country of displayedCountries2" [value]="country.id">
                  {{ country.country_name }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group col-lg-4">
          <label for="currentClubCustom">{{'currentClub' | translate}}:</label>
          <input type="text" id="currentClubCustom" name="currentClubCustom" [(ngModel)]="custom_club" />
        </div>
        <div class="form-group col-lg-4">
          <label for="currentCTeamCustom">{{'team' | translate}}:</label>
          <input type="text" id="currentCTeamCustom" name="currentCTeamCustom" [(ngModel)]="custom_team" />
        </div>
      </div>


      <div class="row">
        <!-- Nationality (Updated for multiple selection) -->

        <div class="form-group col-lg-6 position_inputs">
          <!-- New Selector -->
          <mat-label>{{ 'nationality' | translate }}</mat-label>
          <mat-form-field appearance="fill" class="w-100 custom_select_mat">
            <!-- <pre>{{nationControl | json}}</pre> -->
            <mat-select [formControl]="nationControl" multiple #singleSelect class="form-select mat_search_selector">
              <!-- Search input inside dropdown -->
              <ngx-mat-select-search [formControl]="nationFilterCtrl"
                placeholder="Search countries"></ngx-mat-select-search>
              <!-- List of countries -->
              <mat-option *ngFor="let country of displayedCountries" [value]="country.id">
                {{ country.country_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Place of Birth -->
        <div class="form-group col-lg-6">
          <label for="placeOfBirth">{{'placeOfBirth' | translate}}:</label>
          <input type="text" id="placeOfBirth" name="placeOfBirth" [(ngModel)]="placeOfBirth" />
        </div>
      </div>

      <div class="row">
        <!-- Height -->
        <div class="form-group col-lg-6">
          <label for="height">{{'height' | translate}} (cm):</label>
          <input type="number" id="height" name="height" [(ngModel)]="height" #heightField="ngModel"
            placeholder="{{ 'enterValue' | translate }}" />
        </div>

        <!-- Weight -->
        <div class="form-group col-lg-6">
          <label for="weight">{{'weight' | translate}} (kg):</label>
          <input type="number" id="weight" name="weight" [(ngModel)]="weight" #weightField="ngModel"
            placeholder="{{ 'enterValue' | translate }}" (keypress)="onKeyPress($event)" />
        </div>
      </div>

      <div class="row" *ngIf="!isHideClubSection">
        <!-- Contract Start Date -->
        <div class="form-group col-lg-6">
          <label for="contractStart">{{'contractStartDate' | translate}}:</label>
          <div class="d-flex align-items-center justify-content-center dob1">
            <input class="dob" matInput id="contractStart" name="contractStart" [matDatepicker]="contractStartPicker"
              [formControl]="contractStart" placeholder="DD.MM.YYYY" />
            <mat-datepicker-toggle matSuffix [for]="contractStartPicker"></mat-datepicker-toggle>
            <mat-datepicker #contractStartPicker></mat-datepicker>
          </div>
        </div>

        <!-- Contract End Date -->
        <div class="form-group col-lg-6">
          <label for="contractEnd">{{'contractEndDate' | translate}}:</label>
          <div class="d-flex align-items-center justify-content-center dob1">
            <input class="dob" matInput id="contractEnd" name="contractEnd" [matDatepicker]="contractEndPicker"
              [formControl]="contractEnd" placeholder="DD.MM.YYYY" />
            <mat-datepicker-toggle matSuffix [for]="contractEndPicker"></mat-datepicker-toggle>
            <mat-datepicker #contractEndPicker></mat-datepicker>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Dominant Foot -->
        <div class="form-group col-lg-6 position_inputs">
          <label for="dominantFoot">{{'dominantFoot' | translate}}:</label>
          <!-- <mat-select class="form-select" id="dominantFoot" name="dominantFoot" [(ngModel)]="dominantFoot"
            #dominantFootField="ngModel" required>
            <mat-option value="Right">{{'right' | translate}}</mat-option>
            <mat-option value="Left">{{'left' | translate}}</mat-option>
            <mat-option value="Both">{{'both' | translate}}</mat-option>
          </mat-select> -->
          <mat-form-field appearance="fill" class="w-100 custom_select_mat">
            <!-- <pre>{{nationControl | json}}</pre> -->
            <mat-select #singleSelect class="form-select mat_search_selector" id="dominantFoot"
              name="dominantFoot" [(ngModel)]="dominantFoot" #dominantFootField="ngModel" required>
              <mat-option value="Right">{{'right' | translate}}</mat-option>
              <mat-option value="Left">{{'left' | translate}}</mat-option>
              <mat-option value="Both">{{'both' | translate}}</mat-option>
              <!-- Search input inside dropdown -->
              <!-- <ngx-mat-select-search [formControl]="nationFilterCtrl"
                placeholder="Search countries"></ngx-mat-select-search> -->
              <!-- List of countries -->
            </mat-select>
          </mat-form-field>
          <!-- Validation message -->
          <div *ngIf="dominantFootField.invalid && (dominantFootField.touched || myForm.submitted)"
            class="alert text-danger my-0 px-0">
            {{'dominantFootRequired' | translate}}.
          </div>
        </div>
        <!-- Date of birth -->
        <div class="form-group col-lg-6">
          <label for="dateOfBirth">{{ 'dateOfBirth' | translate }}:</label>
          <div class="d-flex align-items-center justify-content-center dob1">
            <input class="dob" matInput id="dateOfBirth" name="dateOfBirth" [matDatepicker]="dp"
              [formControl]="dateOfBirth" placeholder="DD.MM.YYYY" required />
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp panelClass="custom-datepicker"></mat-datepicker>
          </div>

          <!-- Validation message -->
          <div *ngIf="dateOfBirth.invalid && (dateOfBirth.touched || myForm.submitted)"
            class="alert text-danger my-0 px-0">
            {{'dobRequired' | translate}}
          </div>

        </div>
      </div>
    </div>
    <div class="dialog-actions align-items-center d-flex justify-content-between">
      <button class="cancel-btn" type="button" (click)="onCancel()">{{'cancel' | translate}}</button>
      <button class="save-btn" type="submit">{{'save' | translate}}</button>
    </div>
  </form>
</div>