.dialog-container {
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.personal_edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0px;
}

.close-btn {
  background: none;
  font-size: 19px;
  cursor: pointer;
  font-weight: 600;
  padding: 2px 9px;
  color: #849aa2;
  border: 4px solid #849aa2;
  border-radius: 50%;
}

.dialog-content {
  margin-top: 20px;
  padding: 0px 20px;

}

.form-group {
  margin-bottom: 26px;
  padding: 0px 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.start_bate {
  border-radius: 10px 0px 0px 10px !important;
  border: 1px solid #bbb7b7;
}

.end_bate {
  border-radius: 0px 10px 10px 0px !important;
  border-left: none !important;
  border: 1px solid #bbb7b7;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 14px;
  line-height: normal;
  border: 1px solid #bbb7b7;
  font-weight: 300;
  border-radius: 10px;
}

.date_inputs input {
  width: 48%;
}

.dialog-actions {
  margin-top: 20px;
  padding: 0px 20px 20px 20px;
}

.cancel-btn,
.save-btn {
  padding: 14px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cancel-btn {
  background: none;
  color: #FD5454;
  font-weight: 600;
  width: 45%;
}

.save-btn {
  background: #58bc5c;
  color: white;
  font-weight: 600;
  width: 45%;
}

.dialog-header h2 {
  font-size: 20px;
  font-weight: 600;
}

.gap_inputs {
  padding-right: 12px;
}

.contract_end {
  border-left: none;
  width: 50% !important;
  border-left: none !important;
  border-radius: 0px 10px 10px 0px !important;
}

.contract_start {
  border-radius: 10px 0px 0px 10px !important;
  width: 50% !important;
}

.overflow-card {
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px 20px 0px 20px;
}

.mat-mdc-dialog-surface {
  overflow: hidden !important;
}

.overflow-card::-webkit-scrollbar {
  width: 6px;
}

.overflow-card::-webkit-scrollbar-thumb {
  background: rgb(228, 228, 228);
  border-radius: 10px;
}


.position_inputs mat-select {
  width: 100%;
  padding: 12px 14px;
  line-height: normal;
  border: 1px solid #bbb7b7;
  font-weight: 300;
  border-radius: 10px;
  font-size: inherit !important;
}

/* edit-personal-details.component.scss */
.suggestions-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  position: absolute;
  z-index: 1000;
  min-width: 300px;
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}

.position_inputs mat-select span {
  color: #000;
  font-weight: 400 !important;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}

mat-datepicker-toggle {
  margin-left: -50px;
}

.check_align {
  .form-check-input {
    position: relative;
    top: 2px;
  }
}

::ng-deep {
  @media(min-width:2000px) {
    .check_align {
      .form-check-input {
        position: relative;
        top: 2px;
      }
    }
  }
}

::ng-deep {
  @media(min-width:1600px) {
    .edit_p_detail {
      width: 1000px !important;
    }

    .team_gender_p {
      .gen_radio {
        min-height: 52px !important;
      }
    }
  }
}

@media(min-width:992px) {
  .team_gender_p {
    padding: 0px !important;

    .gen_radio {
      min-height: 45px;
      align-items: center;
    }
  }
}

@media(max-width:991px) {
  .form-group {
    margin-bottom: 15px;
    padding: 0px 15px;
  }
  .hide_lable_mobile {
    display: none;
  }
  .align_radio_ {
    input.form-check-input {
      position: relative;
      top: -2px;
    }
  }
}


@media(max-width:768px) {
  .mobile-input {
    width: 50% !important;
  }

  .form-group {
    margin-bottom: 15px;
    padding: 0px 15px;
  }

  .social-media-section .d-flex.mb-3 {
    flex-wrap: wrap;
    margin-left: -10px;
    width: calc(100% + 20px);
  }

  .social-media-section .single_platform {
    width: 100%;
    margin-left: 0 !important;
    margin-top: 1rem;
    margin-right: 8px;
  }

  .social-media-section .d-flex.mb-3 {
    margin-bottom: 0 !important;
  }

  .overflow-card {
    max-height: unset !important;
  }
}

.backgroundGray {
  // background-color: gray;
}

::ng-deep .error-border {
  border: 2px solid red;
  border-color: red !important;
}

::ng-deeo .matSelectPanelClass {
  border: 5px solid red !important;
}


::ng-deep .gen_radio {
  display: flex;
  flex-wrap: wrap;
}

::ng-deep .dark-theme {
  .save-btn {
    color: #072944 !important;
    background: #bde34f !important;
  }
}

::ng-deep {
  .custom_select_mat {
    .mat-focused .mat-mdc-form-field-focus-overlay {
      opacity: 0 !important;
    }

    .mdc-text-field {
      padding: 0 !important;
      background: transparent !important;
    }

    .mdc-line-ripple {
      display: none !important;
    }
    .mat-mdc-select-value, .form-select {
      --bs-form-select-bg-img: none !important;
    }
    .dark-theme .custom_search_mat {
      background: #0c3453;
      color: white !important;
    }
  }
}