<div class="dialog-container">
  <div class="personal_edit popup_header p-3">
    <div class="dialog-header m-auto">
      <h2>{{'editPersonalDetails' | translate}}</h2>
    </div>
    <!-- <div class="close_buttons">
      <button class="close-btn" (click)="onCancel()">X</button>
    </div> -->

    <div class="close_buttons" *ngIf='theme!="dark"'>
      <button class="close-btn border-0 padding-0" aria-label="Close" (click)="onCancel()">
        <img src="../../../../assets/images/carbon_close-outline-light.svg" alt="">
      </button>
    </div>
    <div class="close_buttons" *ngIf='theme=="dark"'>
      <button class="close-btn border-0 padding-0" aria-label="Close" (click)="onCancel()">
        <!-- <img src="../../../../../assets/images/carbon_close-outline.svg" alt=""> -->
        <img src="../../../../assets/images/carbon_close-outline.svg" alt="">
      </button>
    </div>
  </div>
  <form class="popup__body pt-3" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <div class="overflow-card">
      <div class="row">
        <!-- First Name -->
        <div class="form-group col-lg-6">
          <label for="first_name">{{'firstName' | translate}}:</label>
          <input type="text" id="first_name" name="first_name" [(ngModel)]="firstName" #firstNameField="ngModel" />
        </div>

        <!-- Last Name -->
        <div class="form-group col-lg-6">
          <label for="last_name">{{'lastName' | translate}}:</label>
          <input type="text" id="last_name" name="last_name" [(ngModel)]="lastName" #lastNameField="ngModel" />
        </div>
      </div>

      <div class="row">

        <!-- Current Club -->
        <div class="form-group col-lg-6 position_inputs">
          <label for="currentClub">{{'currentClub' | translate}}: {{currentClubId}}</label>

          <mat-select [(ngModel)]="currentClubId" class="form-select" id="currentClub" name="currentClub"
            (selectionChange)="clubUpdated()">
            <div>
              <input matInput (keyup)="filterClubs($event)" placeholder="{{'search' | translate}}"
                [(ngModel)]="clubSearch" name="club_search" class="form-control backgroundGray" />
            </div>
            <ng-container *ngIf="clubSearch == ''">
              <mat-option *ngFor="let club of playerClubsListing" [value]="club.id">
                {{ club.club_name }}
              </mat-option>
            </ng-container>
            <ng-container *ngIf="clubSearch != ''">
              <mat-option *ngFor="let club of searchedClubs" [value]="club.id">
                {{ club.club_name }}
              </mat-option>
            </ng-container>
          </mat-select>
        </div>

        <!-- Team According to club -->
        <div class="form-group col-lg-6 position_inputs">
          <label for="team_id" class="form-label">{{'team' | translate}}:</label>
          <!-- <pre>{{teamsArr | json}}</pre> -->
          <!-- <h3>Selected {{CurrentTeamId}}</h3> -->

          <mat-select [(ngModel)]="CurrentTeamId" class="form-select" id="team_id" name="team_id" required>
            <mat-option [value]="0" disabled>{{ 'select' | translate }}</mat-option>
            <mat-option *ngFor="let teamArr of teamsArr" [value]="teamArr.id">
              {{teamArr.team_name }} - {{teamArr.team_type}}
            </mat-option>
          </mat-select>
        </div>
      </div>


      <div class="row">
        <!-- Nationality (Updated for multiple selection) -->
        <div class="form-group col-lg-6 position_inputs">
          <label for="nationality" class="form-label">{{'nationality' | translate}}:</label>
          <!-- <mat-select [(ngModel)]="nationality" class="form-select" id="nationality" name="nationality" multiple
            #nationalityField="ngModel" required>
            <div>
              <input matInput (keyup)="filterClubs($event)" placeholder="{{'search' | translate}}"
                [(ngModel)]="clubSearch" name="club_search" class="form-control" />
            </div>
            <mat-option *ngFor="let country of countries" [value]="country.id">
              {{ country.country_name }}
            </mat-option>
          </mat-select> -->
          <mat-select [(ngModel)]="nationality" class="form-select" id="nationality" name="nationality" multiple
            #nationalityField="ngModel" required>

            <div>
              <input matInput (keyup)="filterCountries($event)" placeholder="{{'search' | translate}}"
                [(ngModel)]="nationSearch" name="club_search" class="form-control backgroundGray" />
            </div>

            <mat-option *ngFor="let country of displayedCountries; trackBy: trackByCountryId" [value]="country.id">
              {{ country.country_name }}
            </mat-option>
          </mat-select>


          <!-- Validation message -->
          <div *ngIf="nationalityField.invalid && (nationalityField.touched || myForm.submitted)"
            class="alert text-danger my-0 px-0">
            {{'nationalityRequired' | translate}}
          </div>
        </div>

        <!-- Place of Birth -->
        <div class="form-group col-lg-6">
          <label for="placeOfBirth">{{'placeOfBirth' | translate}}:</label>
          <input type="text" id="placeOfBirth" name="placeOfBirth" [(ngModel)]="placeOfBirth" />
        </div>
      </div>

      <div class="row">
        <!-- Height -->
        <div class="form-group col-lg-6">
          <label for="height">{{'height' | translate}} (cm):</label>
          <input type="number" id="height" name="height" [(ngModel)]="height" #heightField="ngModel"
            placeholder="{{ 'enterValue' | translate }}" />
        </div>

        <!-- Weight -->
        <div class="form-group col-lg-6">
          <label for="weight">{{'weight' | translate}} (kg):</label>
          <input type="number" id="weight" name="weight" [(ngModel)]="weight" #weightField="ngModel"
            placeholder="{{ 'enterValue' | translate }}" />
        </div>
      </div>

      <div class="row">
        <!-- Contract Start Date -->
        <div class="form-group col-lg-6">
          <label for="contractStart">{{'contractStartDate' | translate}}:</label>
          <div class="d-flex align-items-center justify-content-center dob1">
            <input class="dob" matInput id="contractStart" name="contractStart" [matDatepicker]="contractStartPicker"
              [formControl]="contractStart" placeholder="DD.MM.YYYY" />
            <mat-datepicker-toggle matSuffix [for]="contractStartPicker"></mat-datepicker-toggle>
            <mat-datepicker #contractStartPicker></mat-datepicker>
          </div>
        </div>

        <!-- Contract End Date -->
        <div class="form-group col-lg-6">
          <label for="contractEnd">{{'contractEndDate' | translate}}:</label>
          <div class="d-flex align-items-center justify-content-center dob1">
            <input class="dob" matInput id="contractEnd" name="contractEnd" [matDatepicker]="contractEndPicker"
              [formControl]="contractEnd" placeholder="DD.MM.YYYY" />
            <mat-datepicker-toggle matSuffix [for]="contractEndPicker"></mat-datepicker-toggle>
            <mat-datepicker #contractEndPicker></mat-datepicker>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- League Level -->
        <!-- <div class="form-group col-lg-6 position_inputs">
          <label for="leagueLevel">{{'leagueLevel' | translate}}: {{leagueLevel}}</label>
          <mat-select [(ngModel)]="selectedLeagueId" class="form-select" id="leagueLevel" name="leagueLevel">
            <mat-option *ngFor="let league of leagueLevels; trackBy: trackById" [value]="league.id">
              {{ league.league_name }}
            </mat-option>
          </mat-select>
        </div> -->

        <!-- Dominant Foot -->
        <div class="form-group col-lg-6 position_inputs">
          <label for="dominantFoot">{{'dominantFoot' | translate}}:</label>
          <mat-select class="form-select" id="dominantFoot" name="dominantFoot" [(ngModel)]="dominantFoot"
            #dominantFootField="ngModel" required>
            <mat-option value="Right">{{'right' | translate}}</mat-option>
            <mat-option value="Left">{{'left' | translate}}</mat-option>
            <mat-option value="Both">{{'both' | translate}}</mat-option>
          </mat-select>
          <!-- Validation message -->
          <div *ngIf="dominantFootField.invalid && (dominantFootField.touched || myForm.submitted)"
            class="alert text-danger my-0 px-0">
            {{'dominantFootRequired' | translate}}.
          </div>
        </div>
        <!-- Date of birth -->
        <div class="form-group col-lg-6">
          <label for="dateOfBirth">{{ 'dateOfBirth' | translate }}:</label>
          <div class="d-flex align-items-center justify-content-center dob1">
            <input class="dob" matInput id="dateOfBirth" name="dateOfBirth" [matDatepicker]="dp"
              [formControl]="dateOfBirth" placeholder="DD.MM.YYYY" required />
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp panelClass="custom-datepicker"></mat-datepicker>
          </div>

          <!-- Validation message -->
          <div *ngIf="dateOfBirth.invalid && (dateOfBirth.touched || myForm.submitted)"
            class="alert text-danger my-0 px-0">
            {{'dobRequired' | translate}}
          </div>

        </div>
      </div>

    </div>
    <div class="dialog-actions align-items-center d-flex justify-content-between">
      <button class="cancel-btn" type="button" (click)="onCancel()">{{'cancel' | translate}}</button>
      <button class="save-btn" type="submit">{{'save' | translate}}</button>
    </div>
  </form>
</div>