/*---------------------------------------------------------------------------------------------------------
 # close button
 --------------------------------------------------------------------------------------------------------- */

.custom-border {
  border: none !important;
}

.ad-close-button {
  position: absolute;
  top: 4px;
  right: 4px;
  border: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  z-index: 1;
}

.ad-close-button i {
  font-size: 20px;
  display: flex;
  position: absolute;
  top: 0px;
  left: 3px;
}


.hidden {
  display: none;
}

/*---------------------------------------------------------------------------------------------------------
   # close button
   --------------------------------------------------------------------------------------------------------- */



/*------------------------------------------------------------
  /
  
  /*---------------------------------------------------------------------------------------------------------
   # material css
   --------------------------------------------------------------------------------------------------------- */
// .mdc-list-item__primary-text {
//   color: white ;
// }

.website-code .mdc-list-item__primary-text {
  font-weight: 600 !important;
}

.website-code .mdc-list-item.mdc-list-item--with-one-line {
  height: 40px !important;
}

.website-code .pricing .mat-mdc-card {
  border-radius: var(--mdc-elevated-card-container-shape);
  background-color: transparent !important;
  border-width: 0;
  border-style: solid;
  border-color: var(--mdc-elevated-card-container-color);
  box-shadow: none !important;
}

.website-code .sidebar .website-code .mb-1 {
  color: white;
  font-weight: 400;
}

.website-code .mdc-line-ripple::before,
.website-code .mdc-line-ripple::after {
  display: none !important;
}

.website-code .mdc-text-field {
  padding: 0 !important;
}

.website-code .mat-mdc-button[disabled],
.website-code .mat-mdc-button.mat-mdc-button-disabled {
  cursor: pointer !important;
  pointer-events: fill !important;
  color: var(--mdc-text-button-disabled-label-text-color);
}

.website-code .mat-mdc-form-field-subscript-wrapper {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: none;
}

/*---------------------------------------------------------------------------------------------------------
   # material css
   --------------------------------------------------------------------------------------------------------- */
.light-theme app-player-list nav.navbar.navbar-expand-lg.navbar-light.sticky {
  background: #092E01 !important;
}
.light-theme .custom-list-item.country-name:hover {
  color: #E05263 !important;
}
/*---------------------------------------------------------------------------------------------------------
   # light mode
   --------------------------------------------------------------------------------------------------------- */

.light-theme .website-code h2.coming-heading {
  color: #E05263;
}
.light-theme .website-code .multi-country {
  background: radial-gradient(circle at 25% 0%, transparent, #2B4A25);
}
.light-theme .website-code .booster {
  background: radial-gradient(circle at 25% 0%, transparent, #2B4A25);
}
.light-theme form button {
  background: transparent;
  color: black;
}
.light-theme .website-code .custom-list-item:hover::before {
  color: #E05263;
}
.website-code .mat-mdc-list-item:not(.mat-mdc-list-item-interactive),
.website-code .mat-mdc-list-option:not(.mat-mdc-list-item-interactive) {
  cursor: pointer !important;
}
.website-code .mdc-list-item:hover::before {
  background-color: transparent !important;
  opacity: unset !important;
}
.light-theme .website-code .mdc-list-item__primary-text:hover {
  color: #e05263 !important;
  font-size: 18px;
}

.light-theme .billed-text, .light-theme .premium-text-data {
  color: #e05263;
}
.light-theme .feature-players i.fa-solid.fa-xmark, .light-theme .button4 .mat-icon, .light-theme .button1 .mat-icon, .light-theme .button2 .mat-icon, .light-theme .button3 .mat-icon {
  color: white;
}

.light-theme .button1, .light-theme .button2, .light-theme .button3, .light-theme .button4 {
  background: #E05263;
  border-radius: 20px;
}

.light-theme .website-code nav.navbar.navbar-expand-lg.navbar-light.sticky.scrolled, 
.light-theme .website-code .player-image, .light-theme .website-code .player-image1 {
  background-color: #092E01;
}
.light-theme .website-code .dark-images {
  display: none;
}
.light-theme .website-code .light-images {
  display: block;
}
.light-theme .website-code {
  position: relative;
  // background: #092e01;
  font-family: Libre Franklin, sans-serif;
}

.light-theme .website-code .dark-button {
  display: none;
}

.light-theme .website-code .mat-mdc-list-base {
  background-color: #F5F5F5;
  border: 1px solid #DEDEDE;
}
.light-theme .website-code .mat-mdc-list-base .country-name {
  color: #357525 !important;
}

.light-theme .website-code .custom-list-item::before {
  color: #E05263;
  /* Set dot color */
}

.light-theme .website-code .navbar-nav .nav-link.active::after {
  background-color: #E05263;
}
.light-theme .website-code .feature-heading {
  color: #E05263;
}

.light-theme .website-code .main .overlay, .light-theme .all-page-content .website-code .main .overlay {
  // background: linear-gradient(to top, #092E01 10%, transparent 100%);
  // background: linear-gradient(to top, rgb(255 255 255) 0, transparent 20%);
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, transparent 6%);
}
.light-theme .all-page-content .website-code .main1 .overlay {
  background: unset !important;
}
.light-theme .website-code .overlay1 {
  // background: linear-gradient(to top, #092E01 0%, transparent 100%);
  // background: linear-gradient(to top, rgb(255 255 255) 0, transparent 20%);
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, transparent 6%);
}
.light-theme .website-code .club-overlay {
  background: linear-gradient(to top, transparent 80%, #092E01 100%), linear-gradient(to bottom, transparent 80%, #092E01 100%);
}
.light-theme .website-code .player-img img, .light-theme .website-code .player-img3 img {
  background-color: #DBDBDB;
}
.light-theme {
.thanku-bnr {
  .overlay {
      height: 4%;
      background: linear-gradient(to top, #ffffff -4%, #ffffff00 100%) !important;
  }
}
}
.light-theme .website-code .joined-btn button.btn {
  color: #E05263;
  border: 1px solid #E05263;
  background-color: white;
}
.light-theme .website-code .joined-btn button.btn:hover {
  background: #E05263 !important;
  border: 1px solid #E05263;
  color: #fff !important;
}
.light-theme .website-code .learn-more {
  border: 1px solid #175B07;
  color: white;
  background-image: linear-gradient(to bottom, #6FB95D, #236115);
}
.light-theme .website-code .feature-data .btn:hover, .light-theme .website-code .learn-more:hover {
  background: linear-gradient(rgb(255, 147, 160), rgb(224, 82, 99));
  border: 1px solid rgb(219, 67, 67);
}
.light-theme .website-code .dark-vector-img {
  display: none;
}
.light-theme .website-code .slider:before {
  background-color: #ccc;
  // border: 2px solid #ccc;
}
.light-theme .custom-list-item.country-name:hover {
  color: #E05263 !important;
}
.light-theme .website-code button.btn.btn-success.active-btn {
  background-image: linear-gradient(180deg, #6FB95D, #236115);
  border: 1px solid #175B07;
}
.light-theme .thanku-bnr .overlay, .light-theme .email-verify-bnr .overlay {
  background: linear-gradient(to top, #092E01 10%, transparent 100%) !important;
}
.light-theme .website-code .club .border-btn {
  background-image: linear-gradient(45deg, #C2A64A, #A77A2E);
}

.light-theme .website-code .progress_btn {
  color: #175B07;
}

.light-theme .website-code .work-text a {
  color: #175B07;
}

.dark-theme .number p {
  background-color: #BDE34F;
}

.light-theme .website-code .image-wrapper::before {
  background: linear-gradient(to right, #092e01e0 0, transparent 100%);
}

.light-theme .website-code .number p {
  background-color: #175B07;
}

.light-theme .website-code .check-resister {
  border: 1px solid #D7D7D7;
}

.check-resister .form-check-label span {
  color: #A1A1A1;
}

.light-theme .website-code .banner-btn .btn {
  color: white;
}

.light-theme .website-code .login-btn {
  color: white;
}

.light-theme .website-code .tabs button.active {
  color: #fff;
  border: 1px solid #175B07;
  background: linear-gradient(180deg, #236115 0%, #6fb95d 100%);
}

.light-theme .website-code .work-text .number p {
  background: linear-gradient(to bottom, #67B056, #2F6F20);
}
.light-theme .website-code .work-text.active .number p, .dark-theme .website-code .work-text.active .number p {
  opacity: 1;
}
.dark-theme .website-code .work-text .number p, .dark-theme .works-btn button.btn.active-btn {
  color: #072944 !important;
}

.light-theme .website-code .form-check-input:checked {
  background-color: #236115;
  border-color: #236115;
}

.light-theme .website-code .navbar-nav .nav-link.active::after {
  background-color: #E05263;
}

.light-theme .website-code img.dark-button {
  display: none;
}

.light-theme .website-code .form-select {
  border: 1px solid #D7D7D7;
}

.light-theme .website-code .modal-content {
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #000;
}

.light-theme .website-code .modal-content p {
  color: #000;
}
.light-theme .website-code .modal-content .modal-body  {
  h6, p {
    color: #357525;
  }
} 

.light-theme .website-code {
  .modal-footer a.btn-primary, .btn.btn-primary.d-block, .create-account.d-block {
    background: linear-gradient(to bottom, #6FB95D, #236115);
    border: 1px solid #175B07;
    color: #fff;
    transition: .3s all;
  }
  .btn.btn-primary.d-block:hover, .modal-footer a.btn-primary:hover, .create-account.d-block:hover {
    background: linear-gradient(to bottom, #FF93A0, #E05263);
    border: 1px solid #DB4343;
  }
}


.light-theme .website-code span.dark-text {
  display: none;
}
.dark-theme span.light-text {
  display: none;
}
.light-theme .website-code  {
  .check-resister.active input#ManualInput, .check-resister.active input#AutomaticInput, .check-resister.active input#scoutRole {
  border: 5px solid #E05263;
}
}

.light-theme .website-code .banner-btn a.btn-primary, .light-theme .website-code .login-btn {
  background-color: #E05263;
}
.light-theme .website-code .slider {
  background-color: white;
  border: 1px solid grey;
}

.light-theme .website-code .personalization-box.ng-star-inserted .accept,
.light-theme .website-code .choice,
.light-theme .website-code .accept {
  color: white;

  &:hover{
    background: linear-gradient(0deg,#065f06,#4a8c37);
  }
}

// .light-theme .website-code .personalization-box.ng-star-inserted .accept:hover,
// .light-theme .website-code .choice::before,
// .light-theme .website-code .accept::before{
//   background: linear-gradient(0deg,#065f06,#4a8c37);
// }

/*---------------------------------------------------------------------------------------------------------
   # light mode
   --------------------------------------------------------------------------------------------------------- */

.light-theme .website-code ::marker {
  color: #E05263;
}
.light-theme .website-code ::marker {
  color: #E05263;
}
.light-theme .website-code .privacy {
  color: white;
}

.light-theme .all-page-content .website-code .privacy {
  background-color: unset;
}



.light-theme .all-page-content .website-code .terms {
  background-color: unset;
}



.light-theme .website-code .dark-map {
  display: none;
}

// register

.light-theme .website-code .btn.btn-register {
  color: white;
  background-color: #E05263;
}

.light-theme .website-code .form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  outline: 0;
  box-shadow: none;
}

.light-theme .website-code .form-control:disabled {
  background-color: white;
  opacity: 1;
}

// register

.light-theme .website-code .club_text {
  background:#fff;
  border: 1px solid #DEDEDE;
  transition: .4s all;
}
.light-theme .website-code .club_text:hover {
  background: #357525;
  border-color: #357525;
  p {
    color: #fff !important;
  }
  img {
    filter: brightness(0) invert(1);
  }
}
.light-theme .website-code .cookie-popup, .light-theme .website-code .personalization-box {
  background: #fff;
}

.light-theme .website-code #footer .footer-top .footer-links ul li a:hover {
  color: #E05263 !important;
}

.light-theme .website-code .social-link li a svg path {
  fill: #fff;
}

.light-theme .website-code .social-link li a svg path:hover {
  fill: #E05263;
}

.light-theme .website-code .register .form-select {
  background-color: white;
  color: black;
}
.light-theme .website-code .accordion-item:first-of-type, .light-theme .website-code .accordion-body, .accordion-item, .light-theme .website-code .accordion-item,
.light-theme .website-code .accordion-item::after, .light-theme .website-code .accordion-button  {
  background-color: transparent !important;
  border-radius: 0 !important;
}
.light-theme .website-code .accordion-button:after {
  filter: none !important;
}

.light-theme .website-code .accordion-item {
  border-bottom: 1px solid #2B4A24;
}
.light-theme .website-code .btn.btn-danger {
  background-color: white;
  color: #E05263;
  border: 1px solid #E05263;
}

.light-theme .website-code .premium {
  background: #F5F5F5;
  border: 1px solid #DEDEDE;
}

body {
  font-family: "Libre Franklin", sans-serif;
  background: #fff;
}

.light-theme .website-code .toggle-button.active {
  background-color: #E05263;
}

.light-theme .website-code a.dropdown-item.ai-icon.selected {
  background-color: #E05263 !important;
  color: white;
}
.light-theme .website-code .dark-feature1, .light-theme .website-code .dark-feature2,
.light-theme .website-code .dark-feature3, .light-theme .website-code .dark-feature4,
.light-theme .website-code .dark-location, .light-theme .website-code .dark-mail  {
  display: none;
}

.light-theme .all-page-content .website-code .main2 {
  background: linear-gradient(180deg, #236115 0%, #6fb95d 100%);
}

.light-theme .website-code li::before {
  color: #E05263;
}

.light-theme .website-code .feature-box {
  background: radial-gradient(circle at 50% 0%, transparent, #2B4A25);
}

.light-theme .website-code .feature-data .btn {
  border: 1px solid #175B07;
  background: linear-gradient(to bottom, #6FB95D, #236115);
}

.light-theme .website-code button.page-active.active {
  background-color: #E05263;
}

.light-theme .website-code label.check-resister.active {
  border-color: #E05263;
  border: 1px solid #E05263;
}

.light-theme .website-code .btn.btn-join {
  color: white;
}

.light-theme .website-code input#name,
.light-theme .website-code input#email,
.light-theme .website-code input#phone {
  border: 1px solid #2B4A24;
  background-color: #163E0D;
}

.light-theme .website-code #message {
  border: 1px solid #2B4A24;
  background-color: #163E0D;
}

.dark-theme #message {
  border: 1px solid #2B4A24;
  background-color: #0C3453;
}

.light-theme .website-code .custom-radio input[type="radio"]:checked+.radio-button::before,
.light-theme .website-code .navbar-nav .nav-link:hover::after, .light-theme .website-code .navbar-nav .nav-link::after {
  background-color: #E05263;
}
.light-theme .website-code .navbar-nav .nav-link.active, .light-theme .website-code .navbar-nav .nav-link.active:hover {
  color: #E05263;
}
.footer-links a {
  color: white;
}

.light-theme .website-code a.login-btn:hover,
.light-theme .website-code .banner-btn a.btn-primary:hover,
.light-theme .website-code .btn.btn-register:hover {
  background: linear-gradient(to bottom right, #6FB95D, #236115);
  border: none;
}

.light-theme .website-code .nav-link.active {
  color: rgb(250 247 247);
}
.light-theme .website-code .ad-close-button {
  background-color: #E05263;
  color: white;
  border: none;
}
.light-theme .website-code ul.social-links i:hover {
  color: #092E01;
}
.light-theme .all-page-content .website-code .faq {
  background: linear-gradient(180deg, #236115 0%, #6fb95d 100%);
}
.text-light a {
  color: #000;
  text-decoration: underline !important; 
}
.dark-theme {
  .text-light a {
    color: #fff !important;
  }
}

.light-theme img.check-image-dark {
  display: none;
}
.light-theme .website-code .thanku-bnr {
  background-image: url("/assets/images/thanku.png");
}
.dark-theme .thanku-bnr {
  background-image: url("/assets/images/thanku-dark.png");
}
.light-theme .website-code .main-bnr {
  background-image: url("/assets/images/error-png.jpg");
}
.light-theme .website-code nav.navbar.navbar-expand-lg.navbar-light.sticky {
  background: linear-gradient(to bottom, #000000, transparent);
}
.light-theme .website-code input:-webkit-autofill,
.light-theme .website-code input:-webkit-autofill:hover,
.light-theme .website-code input:-webkit-autofill:focus,
.light-theme .website-code input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: black !important;
}
.feature-player1 .player-img img,
.feature-player2 .player-img img,
.feature-player3 .player-img img {
  background: linear-gradient(45deg, #FFFFFF, #ababab);
}

.light-theme .website-code .join-text {
  background: linear-gradient(to top, #236115 10%, #6FB95D 100%);
}

.light-theme .website-code .join-text p {
  color: white;
}

.light-theme .website-code .banner {
  background: url(/assets/images/talent_page/talent-page-banner.png), #236115;
  background-repeat: no-repeat;
  background-size: cover;
}

.light-theme .website-code .join-text:hover {
  background: linear-gradient(0deg, #065f06, #4a8c37);
}
 .website-code .learn {
  color: white;
}
a {
  text-decoration: none;
}

.light-theme .page-sidebar {
  background: linear-gradient(180deg, #236115 0%, #6fb95d 100%);
}
.light-theme .website-code .choice {
  background: linear-gradient(180deg, #6FB95D, #236115);
  border: 1px solid #175B07;
}

.light-theme .website-code .accept {
  background: linear-gradient(180deg, #6FB95D, #236115);
  border: 1px solid #175B07;
}

.light-theme .website-code .decline {
  background: linear-gradient(180deg, #FF93A0, #E05263);
  border: 1px solid #DB4343;

  &:hover{
    background: linear-gradient(0deg, #FF93A0, #E05263);
  }
}

.page-header {
  // position: fixed;
  // width: calc(100% - 230px);
  position: sticky !important;
  width: 100% !important;
  top: 0 !important;
  z-index: 9;
  padding: 20px 0 !important;
  background: #f0f0f0 !important;
  transition: all 0.4s;

}

.page-container {
  // margin-left: 245px;
  padding: 0 1rem 0 1.5rem !important;
  margin-left: 0 !important;
  height: 100%;
  overflow: auto;

  // width: calc(100% - 300px) !important;
  position: relative;
  transition: all 0.4s;
}

.page-container::-webkit-scrollbar {
  display: none;
}

.page-content {
  // padding: 0px 25px 50px 10px;
  padding: 0 !important;
  width: 100% !important;
}

.main-wrapper {
  position: relative;
  // top: 115px;
  top: 0;
  z-index: 1;
}

.compact-sidebar .page-header {
  position: fixed;
  width: calc(100% - 100px);
  z-index: 9;
  padding: 20px 25px;
  // background: #f0f0f0;
  transition: all 0.4s;
}

.compact-sidebar .dash_header {
  width: calc(100% - 430px);
  padding: 20px 0px;

}

.dash_header {
  width: calc(100% - 560px);
  padding: 20px 0px;
}

#theme-text {
  margin-right: 8px;
}

.toggle-padding {
  padding: 4px 8px !important;
  border-radius: 4px !important;
}

.custom-size-calendar .mdc-text-field--filled {
  background: none !important;
  border: 1px solid #111418;
  border-radius: 5px !important;
}

.custom-size-calendar .mdc-text-field--filled:hover {
  background: none !important;
}

.custom-size-calendar .mdc-line-ripple::before,
.mdc-line-ripple::after {
  position: static !important;
}

.custom-size-calendar .mat-mdc-form-field-infix {
  padding: 0 !important;
}

.custom-size-calendar .mat-mdc-text-field-wrapper {
  height: 42px;
  padding: 10px 11px !important;
}

.custom-size-calendar .mat-mdc-form-field-subscript-wrapper {
  display: none;
}


.compact-sidebar .logo_img {
  display: none !important;
}

.table> :not(caption)>*>* {
  border-bottom-width: 0px !important;
  padding: 0.938rem .5rem;
  vertical-align: middle;
}

#basic-addon1 {
  background-color: transparent;
  border-left: 0;

  .input-group-text {
    border-left: 0;


  }
}

.message-send {
  .input-group {
    border: 2px solid #E2E8F0;
    border-radius: 12px;
    padding: 13px 18px;
  }

  .form-control,
  .input-group-text {
    border: 0;
    border-radius: 12px;
  }
}

.search-area {
  width: 16.063rem;
  border-radius: 30px;
  padding: 8px 13px;
  background-color: #fff;

  .input-group-text,
  .form-control {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;

  }

  .input-group-text {
    padding-right: 0;
    padding-left: 0;

  }

  .form-control {
    font-size: 14px;
    font-weight: 400;
    color: #202224;
    opacity: 0.5;

    &:focus {
      box-shadow: unset;
    }

  }
}


.table th {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

.table td,
.table td span {
  color: #111418;
  font-weight: 400;
}

.web-create-bg {
  background-color: #6FB95D;
  border: 1px solid #6FB95D;
}

.bg_success {
  background: #236115;
  padding: 5px 15px;
  color: #fff !important;
  text-align: center;
  font-size: 14px !important;
  font-weight: 600 !important;
  border-radius: 15px;
}

.bg_pending {
  background: #fcbe2d;
  padding: 5px 15px;
  color: #fff !important;
  text-align: center;
  font-size: 14px !important;
  font-weight: 600 !important;
  border-radius: 15px;
}

.bg_reject {
  background: #fd5454;
  padding: 5px 15px;
  color: #fff !important;
  text-align: center;
  font-size: 14px !important;
  font-weight: 600 !important;
  border-radius: 15px;
}
.form-check-input[type="checkbox"] {
  border-radius: 0px;
}

.form-check-input:hover {
  cursor: pointer
}

.form-check-input:focus {
  box-shadow: none;
}

.c_pointer {
  cursor: pointer;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-bg-type: transparent !important;
}

.card-title {
  font-size: 18px;
  font-weight: 700;

}

.card {
  padding: 15px 0px;

  .card-header {
    background: #fff;
  }
}

.card-search {
  width: 344px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;

  .input-group-text,
  .form-control {
    background-color: transparent;

    border-radius: 0;
    padding: 5px 10px;
    border: 0;
  }

  .form-control {
    border-left: 0;
  }
}

.form-control {
  font-size: 14px;
  font-weight: 400;
}

.form-control ::placeholder {
  font-size: 14px;
  font-weight: 400;
}

// .card-header .dropdown {
//   margin-right: 7px;
// }

.btn-outline-white {
  padding: 5px 10px 5px 10px;
  border: 1px solid #D9D9D9;
  font-size: 14px;
  color: #787878;
  font-weight: 400;
  display: flex;
  align-items: center;
  border-radius: 5px !important;
  margin-right: 7px;

  &:hover {
    border: 1px solid #D9D9D9;
  }

  &:active {
    border-color: #D9D9D9 !important;
  }
}

// a.dropdown-item.ai-icon.selected {
//   background: #0d6efd !important;
// }

// ------------------------- sidebar start ------------------
.logo-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  border-bottom: 1px solid rgb(229 229 229 / 70%);
  height: 11%;
  min-height: 80px;
}

.sidebar_state {
  position: absolute;
  background-color: #fff;
  right: -15px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}


.sidebar_menu a:hover p {
  background: #023A4A;
  // padding: 10px 10px 10px 0px !important;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  // transition: all 0.4s ease-in-out !important;

}

.sidebar_menu a:hover {
  // padding: 0 10px !important;
  background: #023A4A;

}


.sidebar_menu a.active {
  background: #023A4A;

}


.sidebar_menu a:hover {
  .sidebar_menu_span {
    display: block;
  }
}

.mobile-sidebar-active .page-sidebar {
  transform: translateX(0);
}

.logo_img1 {
  display: none;
}

.logo_img {
  width: 110px;
  display: block;
}

// ------------------------- sidebar end ------------------

// ------------------------- header start------------------
.sidebar-menu {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

// .slider.round {
//   border-radius: 34px;
// }


// .dark-theme a.login-btn {
//   background-color: #BDE34F;
// }

// input:checked+.slider:before {
//   -webkit-transform: translateX(26px);
//   -ms-transform: translateX(26px);
//   transform: translateX(26px);
// }

// /* Rounded sliders */
// .slider.round {
//   border-radius: 34px;
// }


.dashboard-title {
  font-size: 22px;
  font-weight: 700;
  margin-right: 18px;
  color: #111418;
  white-space: nowrap;
}

.dashboard-title h6 {
  font-size: 14px;
  font-weight: 400;

  // display: flex;
  // gap: 5px;
  // align-items: center;
}

.dashboard-title h6 strong {
  font-weight: 600;
}

.badgeinfo {
  background-color: #7EC9FF;
  padding: 5px;
  font-size: 10px;
  border-radius: 20px;
  margin: 0px 5px;
}

.badge-info {
  background-color: var(--info);
  border-color: var(--info);
  color: #072944;
}

.avatar {
  width: 20px;
  height: 20px;
  min-width: 20px;
  object-fit: cover;
  border-radius: 50%;
}

.header-left-content .search-area {
  width: 15.625rem;
  height: 3rem;

  overflow: hidden;
}

.nav-action {
  position: relative;
}

.bg-danger {
  background-color: #f93c65 !important;
}

.nav-action svg {
  stroke-width: 0 !important;
  stroke: #000;
}

.nav-action svg path {
  fill: #000;
}

.light-theme .website-code .page-header #nav-search {
  border-radius: 20px;
  border: 0;
  padding: 10px 22px;
  font-size: 13px;
  width: 230px;
  background: #fff;
  color: #7d7d83;
  font-weight: 700;
  display: block;
  margin: 6px 0 6px;
}

.offcanvas-body::-webkit-scrollbar {
  display: none;
}

// ------------------marketing popup


.mat-mdc-dialog-surface.mdc-dialog__surface {
  z-index: 9;
}
.mat-mdc-dialog-inner-container.mdc-dialog__container {
  position: relative;
  top: 0px;
}
.mat-mdc-dialog-surface.mdc-dialog__surface {
  border-radius: 16px;
}
.cursor-pointer {
  cursor: pointer;
}

.body-background .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: inherit !important;
}

.body-background .mdc-text-field--filled:hover {
  background: inherit !important;
}

.body-background .mat-mdc-text-field-wrapper:hover {
  opacity: inherit;
}

.body-background .mat-mdc-form-field-focus-overlay {
  background: inherit !important;
}

.body-background .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: #fff !important;
  border: 1px solid #D9D9D9 !important;

}

.body-background .mat-mdc-chip:hover {
  background: inherit !important;
  // border: 2px solid black !important;
}

.body-background .mat-mdc-chip-focus-overlay {
  background: inherit !important;
  border: 2px solid black !important;
}

.inbox-wrapper .mdc-line-ripple::before {
  border-bottom: 2px solid transparent !important;
}

.inbox-wrapper .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.body-background .mdc-text-field--outlined .mat-mdc-form-field-infix,
.mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding-top: unset !important;
  padding-bottom: unset !important;
}

.body-background .mat-mdc-form-field-infix {
  min-height: inherit !important;
}

.listBox {
  width: 100%;
  max-height: 256px;
  border-radius: 0 !important;
  box-shadow: inherit !important;
  background-color: #FAFAFA !important;
  border-bottom: 1px solid #EBEBEB;

}

.listBox::-webkit-scrollbar {
  display: none;
}

.messanger-selector .mdc-evolution-chip-set__chips {
  align-items: center !important;
}

.listBox .fruit-font .mat-pseudo-checkbox {
  padding: 15px !important;
  background: #148DE4 !important;
  border-radius: 50% !important;
}

.listBox .fruit-font .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
  color: white;
}

.mat-mdc-paginator-page-size {
  display: none !important;
}
.marketing-calender-btn{
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.main-popup-div .mat-mdc-select-trigger {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 4px;
}
.main-popup-div .mat-date-range-input-inner{
  position: relative !important;
}
.main-popup-div .mat-datepicker-toggle{
  position: relative !important;
}
.marketing-calender-field .mdc-text-field--filled .mdc-line-ripple::before {
  border-bottom: 0 !important;
}

.light-theme {
  .cookie_text_main {
    color: #000;
    a, a:hover {
      color: inherit;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .personalization-box {
    .model-heading {
      color: #357525 !important;
    }
    .model-text * {
      color: #000 !important;
    }
  }
  .register button.btn-close, .login button.btn-close, .forget-password button.btn-close {
      filter: none !important;
  }
  .recently-joined  .joined-text h3, .works h3, .club-scout .club-heading4, .features .feature-heading3,
  .price-heading3, .premium-heading2, .premium-col-right .premium-heading5, .premium-heading3,
  .countries h2.country-available, .contact-form .form-heading, h2.accordion-header, .work-text .progress_btn a, .faq h3, .faq .header h4, .pricing .price_mat_wrapper .feature-box h4.free-heading,
  .latest-news h4, .news_detail_text_container h3, .learn-banner h1, .player-list-code .player-list h1, .features1.py_0 .feature-heading3 {
    color: #357525 !important;
  }
  .premium-col-right .premium-text p, .billed_wrapp .inactive-text, .billed_wrapp .active-text,
  .website-code .club_text p, .accordion-body p, .about-content .content-text, .work-text .progress_btn p,
  .contact-form .contact-text *, .contact-form .radio-group *, .faq .faq-content, .pricing .feature-data li, .pricing .feature-data p, .latest-news .news-box p, .news_detail_text_container p,
  .news_detail_text_container ul li, .news_detail_text_container .social-icons.news_share_icons h5, .news_detail_text_container .social-icons.news_share_icons a,
  .learn-banner .back-button {
    color: #000 !important;
  }
  
  .premium-text img {
    background-color: #E05263 !important;
  }
  .features.py_0, .features1.py_0 {
    background-color: #F5F5F5;
  }
  #footer img.web_footer_light {
    display: block;
  }
  #footer img.web_footer_dark {
    display: none;
  }
  .custom-radio .radio-button {
    background-color: #D9D9D9 !important;
  }
  .contact-form input#name, .contact-form input#email, .contact-form input#phone, .contact-form textarea {
    background: #fff !important;
    color: #000 !important;
    border: 1px solid #D7D7D7 !important;
  }
  .talent-content::after, .club-content::after, .scout-content::after {
    background-color: #DEDEDE !important;
    opacity: 1 !important;
  }
  .faq .header .toggle-icon {
    color: #2B4A24 !important;
  }
  .website-code .faq .tabs button.active {
    color: #fff !important;
  }
  .pricing .price_mat_wrapper {
    .feature-box {
      background: #F5F5F5 !important;
      border: 1px solid #DEDEDE;
    }
    .feature-heading {
      border-bottom-color: #DEDEDE !important;
    }
    .inactive-text, .active-text {
      color: #000 !important;
    }
  }
  .club .club_player_light {
    display: block;
  }
  .club .club_player_dark {
    display: none;
  }
  .latest-news .news-box p.p-text {
    color: #7A7A7A !important;
  }
  .news_detail_text_container .social-icons.news_share_icons {
      border-color: #000;
  }
  .news_detail_text_container .social-icons.news_share_icons a:hover {
    color: #E05263 !important;
  }
  .learn-banner .back-button img {
    filter: brightness(0) invert(0);
  }
}


// ------------------------- users end ------------------

// ------------------------- respone------------------
@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1040px;
  }
}

@media (min-width: 1440px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}

@media (min-width: 1536px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1280px;
  }
}

@media (max-width: 1199px) {
  .dashboard-title {
    margin-right: 3%;
  }

  .profile img {
    height: 35px;
    width: 35px;
  }

  .page-header .navbarcollapse .navbar-nav {
    padding-right: 10px;
  }

  .page-header #nav-search {
    padding: 10px 22px;
    font-size: 12px;
    width: 200px;
  }
}

@media (max-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1030px;
  }
}


@media (max-width: 991px) {
  .mdc-list-item.mdc-list-item--with-one-line {
    height: 32px !important;
  }

  .mat-mdc-list-base {
    width: 250px;
  }

  .country-name {
    margin-left: 20px;
  }

  .custom-list-item::before {
    margin-top: 2px;
  }

  .light-theme .footer-links a:hover {
    color: #e05263;
  }

  .light-theme a.nav-link:hover {
    color: #e05263;
  }

  .light-theme ul.social-links i:hover {
    color: #e05263 !important;
  }

  .light-theme a:not([href]):not([class]):hover {
    color: #e05263 !important;

  }


  .light-theme .website-code .login-btn {
    background-color: transparent;
  }

  .dark-theme .ms-2 {
    filter: brightness(0) invert(1);
  }

  .light-theme .website-code .number p {
    background-color: #6FB95D;
  }

  .dark-theme .number p {
    background-color: #BDE34F;
  }

  .dark-theme .work-text.active .number p {
    background-color: #BDE34F;
  }

  .dark-theme .slider.round {
    border-radius: 34px;
    background-color: #BDE34F;
  }

  .light-theme .website-code .sidebar {
    background-color: #fff;
    .nav-link, .footer-links a, .footer-bottom .text-white, .social-links li,
    ul.social-links i {
      color: #357525 !important;
    }
    .logo1::after, .logo1::before, .footer-links::after {
      background-color: #357525 !important;
    }
    .navbar-toggler {
      filter: none !important;
    }
    img.nav_mobile_logo.nav_logo_dark {
      display: none;
    }
  }

  .dark-theme .sidebar {
    background-color: #072944;
  }

  .dark-theme .work-text {
    color: white;
    opacity: 1;
  }

  .page-container {
    width: 100% !important;
    margin: 0 !important;
  }

  .page-header .navbarcollapse .navbar-nav {
    padding-right: 0px !important;
  }

  .page-header {
    width: 100% !important;
    padding: 0px 30px 0px 30px !important;
  }

  .page-content {
    padding: 0px 20px;
    width: 100%;
  }

  .right-sidebar {
    display: none;
  }

  .sidebar-menu {
    display: block !important;
  }
  .mobile-sidebar-active .page-sidebar {
    opacity: 1;
    visibility: visible;
    margin: 0;
    border-radius: 0;
    height: 100%;
    width: 100%;

    .sidebar_menu_span {
      display: block;
    }

    .sidebar_state {
      display: none;
    }
  }

  .search-area {
    width: 10rem !important;
    border-radius: 20px !important;
  }

  app-sidebar {
    margin-top: 60px;
  }

  .ad-close-button {
    display: none;
  }

}

@media (max-width: 767px) {

  .theme_dropdown,
  .notification_dropdown,
  .country_dropdown {
    display: none;
  }

  .navbar-search, .dashboard-title {
    display: none;
  }

  .dashboard-title h6 {
    font-size: 14px;
  }

  .dashboard-title {
    margin: 0px;
  }

  .page-header {
    width: 100% !important;
    padding: 0px 10px !important;
  }

  .page-content {
    padding: 0px 10px;
  }


}

@media(max-width: 575px) {
  .mdc-list-item.mdc-list-item--with-one-line {
    height: 32px !important;
  }

  .mdc-list-item.mdc-list-item--with-one-line {
    height: 26px !important;
  }

  .custom-list-item::before {
    margin-top: 0;
  }

  .mat-mdc-form-field-infix {
    flex: auto;
    min-width: 0;
    width: 180px;
    // height: 100px;
    position: relative;
    box-sizing: border-box;
  }

  .light-theme .website-code .thanku-bnr {
    background-image: url("/assets/images/thanku-m-light.png");
  }

  .dark-theme .website-code .thanku-bnr {
    background-image: url("/assets/images/thanku-m-dark.png");
  }

  .light-theme .website-code .main-bnr {
    background-image: url("/assets/images/error-m-light.png");
  }

  .dark-theme .website-code .main-bnr {
    background-image: url("/assets/images/error-m-dark.png");
  }
}


@media(max-width: 425px) {
  .bg_pending {
    background: #fcbe2d;
    padding: 3px 10px;
    color: #fff !important;
    text-align: center;
    font-size: 12px !important;
    font-weight: 600 !important;
    border-radius: 15px;
  }

  .bg_sucess {
    background: #236115;
    padding: 3px 10px;
    color: #fff !important;
    text-align: center;
    font-size: 12px !important;
    font-weight: 600 !important;
    border-radius: 15px;
  }

  .bg_reject {
    background: #fd5454;
    padding: 3px 10px;
    color: #fff !important;
    text-align: center;
    font-size: 12px !important;
    font-weight: 600 !important;
    border-radius: 15px;
  }
}

@media (max-width: 376px) {
  .mdc-list-item.mdc-list-item--with-one-line {
    height: 27px !important;
  }

  .mdc-list-item__primary-text {
    font-weight: 600 !important;
    font-size: 12px !important;
  }

}

@media(max-width: 321px) {
  .mdc-list-item__primary-text {
    font-weight: 400 !important;
    font-size: 14px !important;
  }

  .mdc-list-item.mdc-list-item--with-one-line {
    height: 22px !important;
  }

  .light-theme .website-code .check-resister.active input#ManualInput {
    border: 4px solid #E05263;
  }

  .light-theme .website-code .check-resister.active input#AutomaticInput {
    border: 4px solid #E05263;
  }

  .light-theme .website-code .check-resister.active input#scoutRole {
    border: 4px solid #E05263;
  }
}

.light-theme {
  .billed__infor {
    small {
      color: #E05263 !important;
    }
  }
  .buy_now_btn_front_price .btn.fill_btn {
      background-color: #E05263 !important;
      color: #fff !important;
  }
}

.light-theme {
  .adv-player-list .pagination-controls label {
      color: #000 !important;
  }
}

.light-theme {
  footer.website_main_pages .select-country {
    background-color: #fff;
    border: 1px solid #E05263 !important;
    border-radius: 10px;
  }
  .item_column:nth-child(2) {
    .header_card *, .premium-heading2, .premium-heading3 {
        color: #fff !important;
    }
  }
  .website_main_pages  .nav-link.active::before { 
      background: #357525 !important;
  }
}



body.light-theme.static-common-banner {
  background: url(/assets/images/common-full-banner-image.png) no-repeat center;
  background-size: cover;
.thanku-bnr, .main-bnr {
  background: none !important;
  .overlay {
    display: none !important;
  }
}
footer img.web_footer_bg {
  display: none !important;
}
}


.light-theme {
  .common_static_page  {
    h2, h3, h4, p strong, li strong {
      color: #357525;
    }
    p, li {
      color: #000;
    }
    p a, li a, a strong {
        color: #e05263;
    }
  }
   
  .website-code .faq-club-button, .website-code button.faq-talent-button, .website-code button.faq-scout-button {
    color: #357525;
  }
}