.image-cropper-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .cropper-container {
        display: flex;
        margin-top: 20px;
        gap: 20px;
    }

    .main-cropper {
        max-width: 400px;
        max-height: 400px;

        img {
            width: 100%;
        }
    }

    .img-preview {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border: 2px solid #ccc;
    }

    .result {
        margin-top: 20px;

        img {
            max-width: 300px;
            border: 1px solid #999;
        }
    }

    .crop-btn {
        margin-top: 20px;
        padding: 10px 20px;
    }
}


img {
    max-width: 100%;
    display: block;
}