<div class="msg-popup-dialog">
    <!-- <div class="msg-popup-close">
        <img *ngIf="!isLoading" src="../../../assets/images/close-icon-circle.png" alt="" class="" (click)="close()" />
    </div> -->

    <div class="msg-popup-close d-flex align-items-center">
        <div class="m-auto">
            <h2 class="upload-file">{{'uploadFiles' | translate}}</h2>
        </div>
        <img *ngIf="!isLoading && theme!='dark'" src="../../../assets/images/carbon_close-outline-light.svg" alt=""
            class="" (click)="close()" />
        <img *ngIf="!isLoading && theme=='dark'" src="../../../assets/images/carbon_close-outline.svg" alt="" class=""
            (click)="close()" />
    </div>
    <hr>
    <div class="msg-popup-content">

        <div *ngIf="!isLoading" class="upload-box" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
            (drop)="onFileDropped($event)">
            <p class="upload-file_name">{{'dragAndDropFilesHere' | translate}}</p>
            <p class="upload-file_name">{{'filesSupported' | translate}}</p>
            <input type="file" (change)="onFileSelect($event)" multiple hidden #fileInput
                accept="image/jpeg, image/png, video/mp4" />
            <button type="button" (click)="fileInput.click()">{{'uploadFiles' | translate}}</button>
            <p class="upload-file_name">{{'maximumSize' | translate}}</p>
        </div>

        <div *ngIf="isLoading" class="upload-box">
            {{'pleaseWait' | translate}}
        </div>
    </div>
</div>