.py_0 {
    padding-top: 50px;
    padding-bottom: 50px;
}
h2, h3, h4 {
    font-weight: 700;
}
* {
    font-family: var(--bs-avenir-regular);
}
h1, h2, h3, strong {
  font-family: var(--bs-avenir-bold);
}
.grey_common_banner h3 {
  font-family: var(--bs-avenir-semibold);
}
.content_page h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.content_page h3 {
    font-size: 21px;
    margin-bottom: 5px;
}
.content_page p, .content_page li {
    font-size: 18px;
    font-weight: 400;
}
.content_page li {
    margin-top: 20px;
}
.content_page .py_0 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.grey_common_banner {
    margin-top: 140px;
    padding: 50px 0;
    h2.cookie-text, h3 {
      color: #357525;
    }
    h3 {
      margin: 1rem 0;
      font-size: 30px;
    }
}
.main-bnr {
    position: relative;
    z-index: 1;
}
.bnr-media {
    position: relative;
}
.bnr-media img {
    width: 100%;
}
.form-select:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}
.overlay {
    position: absolute;
    height: auto;
}
.overlay {
    position: absolute;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
}
.main1 {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    min-height: 375px;
    background-color: #092e01;
}
.light-theme .all-page-content .website-code .main1 {
    background-color: unset;
}
.header-transparent {
    position: absolute;
    z-index: 2;
    width: 100%;
}
.privacy-text {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    filter: brightness(0) invert(1);
    text-transform: uppercase;
}
.content_page ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    text-align: left;
}
.content_page li {
    display: inline-block;
    position: relative;
    padding-left: 2rem;
}
.content_page li::before {
    content: '•';
    position: absolute;
    font-size: 30px;
    top: 15px;
    left: 0;
    transform: translateY(-50%);
}
.contact-text {
    margin-bottom: 20px;
}



.location {
  display: flex;
}
.location-image {
  margin-right: 10px;
}
.address_col .location {
  margin-bottom: 1rem;
}
.mail {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  a {
    color: inherit;
  }
  .location-image img {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
}

@media (max-width: 1199px) {
    .main1 {
        height: 270px;
    }
    .privacy-text {
        font-size: 35px;
    }
    h4 {
        font-size: 18px;
        margin-bottom: 20px;
    }
    li {
        font-size: 16px;
    }
    .content_page .py_0 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 991px) {
    .main1 {
        height: 200px;
    }
    .privacy-text {
        font-size: 28px;
    }
    li::marker {
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .content_page li {
        padding-left: 20px;
    }
    .content_page li::before {
        top: 12px;
        font-size: 18px;
    }
    .main-bnr {
        height: 250px;
        background-position: bottom;
    }
    .content_page .information{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .content_page .address{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .content_page .py_0 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .content_page h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .content_page h3 {
        font-size: 20px;
    }
    .content_page p, .content_page li {
        font-size: 16px;
    }
    .content_page .info-text {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .privacy-text {
        font-size: 30px;
        padding-top: 3rem;
    }

    .grey_common_banner {
        h3 {
            font-size: 20px;
        }
    }
}

@media (max-width: 400px) {
    li::before {
        top: 13px;
        font-size: 45px;
    }
    li {
        padding-left: 25px;
    }
    p.list-text {
        padding-left: 25px;
    }
}

@media (max-width: 321px) {
    li {
        padding-left: 20px;
    }
    p.list-text {
        padding-left: 20px;
    }
}

.light-theme {
    .btn.donlod_btn_style {
        background-color: #E05263 !important;
        color: #fff !important;
        &:hover {
            background: linear-gradient(to bottom right, #6FB95D, #236115);
            color: #fff !important;
        }
    }
}
.btn.donlod_btn_style {
    background-color: #BDE34E;
    color: #072944;
    margin-top: 20px;
    border-radius: 80px;
    height: unset;
    margin-right: 10px;
    padding: 12px 25px;
    border: 0;
    font-size: inherit;
    font-family: var(--bs-avenir-bold);
}
.accordion {
    .card {
        border-radius: 0;
        margin: 1em 0 0;
        border: none;
        overflow: hidden;
        border-bottom: 1px solid #80808047;
        padding: 0 !important;
    }
    .card .card-header {
        background: transparent;
        margin-bottom: 0;
        border: 0;
    }
    .card-header a {
        width: 100%;
        display: inline-block;
        padding: 10px 0;
        padding-right: 50px;
        position: relative;
        color: #357525;
        font-family: var(--bs-avenir-semibold);
        border-radius: 0;
    }
    .card-header a:before {
        content: ' ';
        position: absolute;
        right: 10px;
        top: 16px;
        width: 30px;
        height: 30px;
        background-image: url(../../../../assets/images/accordion-minus-dark.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;
    }
    .card-header a.collapsed:before {
        background-image: url(../../../../assets/images/accordion-plus-dark.svg);
    }
    .card-body {
        padding: 0 0 1rem;
    }
}

.light-theme {
    .accordion {
        .card-header a:before {
            background-image: url(../../../../assets/images/accordion-minus-light.svg) !important;
        }
        .card-header a.collapsed:before {
            background-image: url(../../../../assets/images/accordion-plus-light.svg) !important;
        }
    }
}

@media (min-width: 992px) {
.common_download_btns_page {
    display: flex;
    justify-content: space-between;
}
}

@media (min-width: 992px) and (max-width: 1999px) {
    .common_static_page {
        h2 {
            font-size: 35px;
        }
        h3, .card-header a {
            font-size: 30px;
        }
        p, address, li, .card-body p, .card-body li {
            font-size: 24px;
        }
    }
    .content_page li::before {
        top: 18px;
    }
    .contact-text * {
      font-size: 24px;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .common_static_page {
        h2 {
            font-size: 28px;
        }
        h3, .card-header a {
            font-size: 24px;
        }
        p, address, li, .card-body p, .card-body li {
            font-size: 20px;
        }
    }
    .content_page li::before {
        top: 15px;
    }
    .cookie-text {
        font-size: 40px;
    }
    .grey_common_banner {
        h3 {
            font-size: 25px;
        }
        .contact-text {
            font-size: 20px;
        }
    }
}


@media (min-width: 992px) and (max-width: 1599px) {
  .cookie-text {
    font-size: 55px;
  }
}

@media (min-width: 1600px) and (max-width: 2999px) {
.grey_common_banner {
    padding: 80px 0;
    .location-image img {
    width: 40px !important;
    height: 40px !important;
    object-fit: contain;
  }
}
}

@media (min-width: 2000px) {
    .common_static_page {
        h2 {
            font-size: 38px;
        }
        h3, .card-header a {
            font-size: 32px;
        }
        p, address, li, .card-body p, .card-body li {
            font-size: 26px;
        }
    }
    .content_page li::before {
        top: 19px;
    }
    .grey_common_banner {
        h3 {
        font-size: 45px !important;
        margin: 1.25rem 0 !important;
        }
    }
}
     
@media (min-width: 3000px) {
    .common_static_page {
        h2 {
            font-size: 50px;
        }
        h3, .card-header a {
            font-size: 45px;
        }
        p, address, li, .card-body p, .card-body li {
            font-size: 40px;
        }
    }
    .content_page li::before {
        top: 30px;
    }
    .grey_common_banner {
        margin-top: 240px;
        padding: 80px 0;
        h3 {
            font-size: 55px !important;
            margin: 1.5rem 0 !important;
        }
        .location-image img {
            width: 50px !important;
            height: 50px !important;
            object-fit: contain;
        }
    }
    
    .accordion {
        .card-header a:before {
            width: 40px;
            height: 40px;
            background-size: 40px !important;
        }
    }
}