.history-text {
    font-family: Libre Franklin, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.39px;
    text-align: left;
}

.historyTextarea {
    width: 100%;
    height: 400px;
    padding: 10px;
    font-family: Libre Franklin, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    resize: vertical;
    outline: none;
}

.historyTextarea:focus {
    border-color: #4A90E2;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}


.club_history {
    padding: 0 !important;

    &>.d-flex {
        justify-content: space-between;
    }
}

.NgxEditor-Default-height {
    min-height: 400px !important;
}

::ng-deep {
    /* to penetrate <ngx-editor> CSS styling */

    .NgxEditor {
        height: 400px !important;
        overflow-y: scroll;
    }

    .NgxEditor__Placeholder::before {
        color: black !important;
    }

    .NgxEditor__Content {
        width: 100%;
        height: 100%;
    }
}


h6.main-template {
    font-size: 21px;
    font-weight: 700;
}

@media (min-width: 1600px) and (max-width: 2999px) {
    h6.main-template {
        font-size: 26px;
    }
    .history-text {
        font-size: 20px !important;
    }
    .btn-outline-white {
        font-size: 18px !important;
        min-width: 170px;
        justify-content: center;
    }
}


@media (min-width: 3000px) {
    h6.main-template {
        font-size: 32px;
    }
    .history-text {
        font-size: 24px !important;
    }
    .btn-outline-white {
        min-width: 240px;
        justify-content: center;
        font-size: 24px !important;
    }
}

@media (min-width: 992px) and (max-width: 1599.98px) {
  .btn-outline-white {
    min-width: 140px;
    justify-content: center;
  }
}

@media (max-width: 575px) {
    .mobile_column_flex {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start !important;
        gap: 10px;
    }
    
    h6.main-template {
        font-size: 18px;
    }
}

::ng-deep .tox-promotion {
    display: none !important;
}

::ng-deep .dark-theme .tox-menubar {
    background-color: #072944 !important;
}

::ng-deep .dark-theme .tox-toolbar__primary {
    background-color: #072944 !important;
}

::ng-deep .dark-theme .tox-tinymce {
    border: 2px solid #072944 !important;
}

::ng-deep .tox-statusbar {
    display: none !important;
}

::ng-deep .dark-theme .tox:not(.tox-tinymce-inline) .tox-editor-header {
    background-color: #072944 !important;
}

::ng-deep .dark-theme.tox .tox-toolbar-overlord {
    background-color: #072944 !important;
}

// COPY PASTE CSS
.unlock_page {
  position: relative;
  // height: 30vh;

  .unlock_btn {
    background: #6FB95D;
    padding: 10px 24px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
    border: none;
  }

  .upgrade_unlock {
    height: 100%;
    background: rgb(255 255 255 / 65%);
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .position-boxs {
    gap: 20px;
    border-right: 1px solid #e7e7e7;
  }

  .social_icons .facebook {
    width: 12px;
    margin-right: 14px;
  }

  .social_icons .instagram {
    width: 20px;
    margin-right: 14px;
  }

  .general_titels h2 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #565555;
  }

}

::ng-deep .dark-theme .NgxEditor__Placeholder::before{
   color: #ffffff !important;
}