.history-text {
    font-family: Libre Franklin, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.39px;
    text-align: left;
}

.historyTextarea {
    width: 100%;
    height: 400px;
    padding: 10px;
    font-family: Libre Franklin, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    resize: vertical;
    outline: none;
}

.historyTextarea:focus {
    border-color: #4A90E2;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}


.club_history {
    padding: 0 !important;

    &>.d-flex {
        justify-content: space-between;
    }
}

.upgrade_unlock .unlock_btn {
    padding: 12px 25px 10px !important;
    font-size: 17px !important;
    background: #6FB95D;
    // padding: ;
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
    border: none;
    display: inline-block;
    margin-top: 1rem;
}


@media (min-width: 2000px) {
    .company_history {
        h6.main-template {
            font-size: 20px;
        }

        .btn-outline-white,
        .history-text {
            font-size: 18px !important;
        }
    }
}

.NgxEditor-Default-height {
    min-height: 400px !important;
}

::ng-deep {
    /* to penetrate <ngx-editor> CSS styling */

    .NgxEditor {
        height: 400px !important;
        overflow-y: scroll;
    }
    .NgxEditor__Placeholder::before{
        color: black !important;
    }
}