.boosted-profile-preview {
  padding: 20px;
}

h2, h3 {
  text-align: center;
}

.target-audience, .stats, .default-profile-preview {
  margin-bottom: 20px;
}

.actions button {
  margin-right: 10px;
}
.dialog-header h2 {
  font-size: 18px;
  font-weight: 600;
}
.personal_edit {
display: flex;
justify-content: space-between;
align-items: center;
}
.close-btn {
background: none;
font-size: 19px;
cursor: pointer;
font-weight: 600;
padding: 2px 9px;
color: #849aa2;
border: 4px solid #849aa2;
border-radius: 50%;
}
.profile_preview {
border-radius: 10px;
position: relative;
overflow: hidden;
border-radius: 10px;
text-align: center;
height: 280px;
border: 2px solid #ad8434;
}
.player-image-bg-2{
background: #CACACA;
}
.player-image-bg{
background: rgb(35,97,21);
background: linear-gradient(90deg, rgba(35,97,21,1) 0%, rgba(111,185,93,1) 100%);;
}
.player_img img {
width: 100%;
padding: 30px;
padding-bottom: 0;
// width: 260px;
height: 260px;
object-fit: contain;
}
.player-names {
background: #429130;
padding: 8px 8px 10px 8px;
text-align: center;
position: absolute;
bottom: 0;
width: 100%;
z-index: 1;
}
.card-shape {
  background: linear-gradient(90deg, rgb(111, 185, 93) 0%, rgb(35, 97, 21) 100%);
  height: 60px;
  transform: rotate(43deg);
  position: absolute;
  bottom: 8px;
  width: 72px;
  left: -30px;
}
.player-names a {
text-decoration-line: none;
color: #fff;
font-size: 16px;
font-weight: 500;
}
.team-logo-bg {
background: #ffffff;
width: 180px;
height: 160px;
position: absolute;
top: -84px;
right: -87px;
transform: rotate(43deg);
}
.flag_box {
background: #fff;
width: fit-content;
border-radius: 4px;
position: absolute;
bottom: 50px;
left: 12px;
padding: 6px 10px;
text-align: center;
}
.image_box {
  border-radius: 16px !important;
}
.boosted-box {
background: #023A4A;
color: #fff;
font-size: 16px;
font-weight: 600;
width: fit-content;
padding: 14px 20px;
border-radius: 0px 0px 10px 0px ;
position: absolute;
top: 0;
}
.flag_box img{
margin-bottom: 4px;
}
.flag_box hr {
margin: 2px;
}
.player-age{
font-size: 12px;
margin-left: 4px    ;
color: #559B44;
font-weight: 600;
}
.player-team-logo img {
width: 36px;
padding: 0;
position: absolute;
top: 14px;
right: 14px;
}
.image-right-border{
border-right: 1px solid #EBEBEB;
padding: 0px 50px 0px 40px;
}
.boosted-profile{
  color: #111418;
  font-size: 16px;
  font-weight: 600;
  text-align: justify;
  margin-bottom: 8px;
}
.form-group input,.form-group mat-select {
width: 100%;
padding: 14px;
line-height: normal;
border: 1px solid #bbb7b7;
font-weight: 300;
border-radius: 10px;
}
.form-group mat-select{
margin-top: 10px;
}
.boost-plan_profile{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.target-audience  label{
font: 16px;
font-weight: 700;
}
.explore-chip {
flex-wrap: wrap;
row-gap: 10px;
}
.explore-chip .chip {
background: #023A4A;
color: #fff;
font-size: 13px;
padding: 2px 10px;
border-radius: 20px;
margin: 0px 5px;
}
.explore-chip_cut svg {
fill: #fff;
margin-left: 8px;
}
.explore-chip_cut {
background: inherit;
border: none;
}
.stats h3{
font-size: 16px;
font-weight: 700;
text-align: justify;
}
.total-bg{
background: #F3FFF1;
padding: 20px 30px;
}
.totle-view svg path{
fill: #6FB95D;
}
.total-bg p{
font-size: 16px;
color: #000;
font-weight: 400;
}
.total-bg span.bold-text{
font-weight: 800;
}
.main-template{
font-size: 16px;
color: #111418;
margin-left: 20px;
font-weight: 400;
}
.table-bg td{
padding: 8px 18px;
text-align: center;
}
.table-bg-2 td{
padding: 8px 18px;
text-align: center;
}
.table-bg{
background: #FAFAFA;
}

.table-bg-2:hover{
border: 1px solid #236115 ;
border-collapse: separate;
background: #edffe9;
}
.table-bg:hover{
border: 1px solid #236115 ;
border-collapse: separate;
background: #edffe9;
}
.table-bg-2{
background: inherit;
}
.puse-btn{
font-size: 18px;
font-weight: 700;
color: #FD5454;
padding: 12px 40px;
border: none;
}
.save_button{
background: #6FB95D;
padding: 15px 30px;
border-radius: 10px;
color: #fff;
font-size: 16px;
font-weight: 800;
}
.stats{
margin-top: 70px;
}
.audience_box{
padding: 0px 30px 30px;
}
.overflow-stats{
max-height: 26vh;
overflow: auto;
}
.overflow-stats::-webkit-scrollbar-thumb{
background: none;
}
.overflow-stats::-webkit-scrollbar {
width: 6px;
}
.boost-profile .overflow-card{
max-height: 80vh;
overflow-y: auto;
overflow-x: hidden;
padding:0px 20px 0px 20px;
}
.boost-profile .personal_edit {
padding: 0px 20px 0px 20px;
}
.mat-mdc-dialog-surface{
overflow: hidden !important;
}
.boost-profile .overflow-card::-webkit-scrollbar {
width: 6px;
}
.boost-profile .overflow-card::-webkit-scrollbar-thumb {
background: rgb(228, 228, 228);
border-radius: 10px;
}

@media (max-width:1199px) {
.stats {
    margin-top: 0;
}
.total-bg {
  padding: 20px;
}
}


@media (min-width: 851px) and (max-width:1199px) {
  .image-right-border {
      padding: 0px 20px !important;
  }
  }
  
  @media (max-width:850px) {
.mobile-table{
  flex-direction: column;
  row-gap: 20px;
}
.image-right-border {
  padding: 0px 10px;
}
.audience_box {
padding: 0px 10px 20px;
}
.mobile-table .col-5{
  width: 100%;
  border-right: none !important;
}
.mobile-table .col-7{
  width: 100%;
}
}
@media (max-width:600px) {
.puse-btn{
  margin-right: 0 !important;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.save_button {
  margin-right: 0 !important;
  width: 100%;
  text-align: center;

}
}


button:focus-visible{
  outline: 0 !important;
  border: 0 !important;
}

.player_img.player-image-bg{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (min-width: 851px) {
  .edit_boost_footer {
    width: calc(100% + 70px);
    margin-left: -30px;
    padding: 10px;
    margin-bottom: -30px !important;
  }
}

@media (max-width: 850px) {
  .edit_boost_footer {
    width: calc(100% + 20px);
    margin-left: -10px;
    padding: 10px;
    margin-bottom: -20px !important;
  }
}



.player--item {
  padding: 15px;
  cursor: pointer;
  .boosted--profile {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient_neww 15s ease infinite;
  }
  .item--inner {
    border-radius: 24px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    background-color: #fff;
  }
  .clubPlayers .player_profile_img {
    padding: 30px 40px 70px;
  }
  .player--bio-dtl {
    width: 100%;
    height: 270px;
    overflow: hidden;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../../../../assets/images/circle-cut.svg) no-repeat center;
        background-size: 130%;
    }
  }
  .item--icons-list {
    z-index: 1;
    position: absolute;
    left: 6px;
    top: 10px;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    img {
      width: 35px;
      height: 35px;
      object-fit: contain;
    }
  }
  .player--dob {
    background-color: #F2F2F2;
    border: 2px solid #D8D8D8;
    display: inline-block;
    padding: 5px 10px 3px;
    font-family: var(--bs-avenir-semibold);
    border-radius: 30px;
    line-height: 1;
    letter-spacing: 0.001rem;
    font-size: 90%;
  }
  .player_profile_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: .5s all;
    position: relative;
    z-index: 1;
  }
  .player__name {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: var(--bs-avenir-semibold);
    z-index: 1;
  }
  .booster_text {
    position: absolute;
    top: 0;
    right: 0;
    background: #023A4A;
    color: #fff;
    border-radius: 0 0 0 20px;
    padding: 7px 20px;
    font-family: var(--bs-avenir-semibold);
    z-index: 1;
}
  &:hover {
    .player_profile_img {
      transform: scale(1.10);
    }
  }
}

@keyframes gradient_neww {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


@media (max-width: 991px) {
.player--item {
    .booster_text {
        border-radius: 0 0 0 12px;
        padding: 7px 11px;
        font-family: var(--bs-avenir-semibold);
        font-size: 80%;
    }
}
}

@media (min-width: 701px) and (max-width: 800px) {
.player--item {
    padding: 10px;
    .player--bio-dtl {
      height: 230px;
    }
    .item--icons-list {
      width: 40px;
      img {
        width: 25px;
        height: 25px;
      }
    }
    .player--dob {
      font-size: 70%;
      padding: 3px 5px 1px;
    }
  }
}

@media (min-width: 576px) and (max-width: 700px) {
.player--item {
    padding: 10px;
    .player--bio-dtl {
      height: 180px;
    }
    .item--icons-list {
      width: 40px;
      img {
        width: 25px;
        height: 25px;
      }
    }
    .player--dob {
      font-size: 70%;
      padding: 3px 5px 1px;
    }
  }
}

@media (min-width: 501px) and (max-width: 575px) {
.player--item {
    padding: 10px;
    .player--bio-dtl {
      height: 200px;
    }
    .item--icons-list {
      width: 40px;
      img {
        width: 25px;
        height: 25px;
      }
    }
    .player--dob {
      font-size: 70%;
      padding: 3px 5px 1px;
    }
  }
}

@media (max-width: 575px) {

}

@media (max-width: 500px) {
.player--item {
    padding: 12px;
    .player--bio-dtl {
      height: 220px;
    }
  }
}

@media (max-width: 480px) {
.total-bg {
 flex-direction: column;
  gap: 10px;
  align-items: flex-start !important;
}
}