.unlock_page{
    position: relative;
    .upgrade_unlock svg{
      margin-right: 6px;
    }
    .unlock_btn{
      background: #6FB95D;
      padding: 10px 24px;
      font-size: 12px;
      font-weight: 600;
      color: #fff;
      border-radius: 10px;
      border: none;
    }
    .upgrade_unlock{
      height: 100%;
      background: rgb(255 255 255 / 65%);
      position: absolute;
      width: 100%;
      top: 0px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
}


h6.main-template {
    font-size: 18px;
}
@media (min-width: 1600px) and (max-width: 2999px) {
    h6.main-template {
        font-size: 25px;
    }
    .btn-outline-white, .history-text {
            font-size: 18px !important;
        }
}
@media (min-width: 3000px) {
    h6.main-template {
        font-size: 30px;
    }
    .btn-outline-white, .history-text {
        font-size: 24px !important;
    }

}


::ng-deep .tox-promotion {
    display: none !important;
}

::ng-deep .dark-theme .tox-menubar {
    background-color: #072944 !important;
}

::ng-deep .dark-theme .tox-toolbar__primary {
    background-color: #072944 !important;
}

::ng-deep .dark-theme .tox-tinymce {
    border: 2px solid #072944 !important;
}

::ng-deep .tox-statusbar {
    display: none !important;
}

::ng-deep .dark-theme .tox:not(.tox-tinymce-inline) .tox-editor-header {
    background-color: #072944 !important;
}

::ng-deep .dark-theme.tox .tox-toolbar-overlord {
    background-color: #072944 !important;
}
::ng-deep .dark-theme .NgxEditor__Placeholder::before{
   color: #ffffff !important;
}