.user-pending-icon{
    max-width: 22px;
    position: absolute;
    margin-top: 25px;
    margin-left: -15px;
  }
  
  .user-approved-icon{
    max-width: 26px;
    position: absolute;
    margin-top: 23px;
    margin-left: -15px;
  }
  
  .user-rejected-icon{
    max-width: 22px;
    position: absolute;
    margin-top: 25px;
    margin-left: -15px;
  }

.box-square{ 
  width:150px;
  height:150px;
  margin-right:15px;
  display:inline-block;
  color: #FFFFFF;
  background:#6FB95D;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.team-types{
  position: absolute  ;
  top: 63px;
  left:25px;
}

.team-type{
  font-family: Libre Franklin, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.club-team{
  font-family: Libre Franklin, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.back-link{
  font-size: 12px;
  cursor: pointer;
  margin-right: 12px;
  margin-top: 1px;
  background: #6FB95D;
  color: #ffffff;
  border-radius: 4px;
  padding: 0px 5px;
  letter-spacing: .3px;
}

table th, table td {
  white-space: nowrap;
}


@media (max-width: 767px) {
  .box-square{ 
    width:110px;
    height:110px;
  }
}


@media (min-width: 1600px) and (max-width: 2999px) {
	.team-type {
    font-size: 22px !important;
  }
  td.cursor-pointer svg {
    width: 32px !important;
    height: 32px !important;
  }
}



@media (min-width: 3000px) {
.team-type {
  font-size: 28px !important;
}
td.cursor-pointer svg {
  width: 40px !important;
  height: 40px !important;
}
}