<div class="card mb-3">
  <div class="card-header border-0 pt-0  pb-0">
    <div>
      <h6 class="card-title">{{'appSettings' | translate}}</h6>
      <p>{{'customizeExperience' | translate}}</p>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header header-activity-log">
    <h6 class="card-title">
      {{'generalPermissions' | translate}}
    </h6>
  </div>
  <div class="card-body">
    <div class="permission-item d-flex align-items-center justify-content-between">
      <label for="newsletter" class="mb-0"><b>{{'newsLetter' | translate}}</b></label>
      <label class="switch">
        <input type="checkbox"  *ngIf="checkRole()" id="newsletter" name="newsletter" [checked]="loggedInUser.newsletter == 1"
          (change)="onNewsletterToggle($event)" class="news_latter_btn {{currentLoggedInPermission}}">
        <span  *ngIf="checkRole()" class="slider round"></span>
      </label>
    </div>
    <p>{{'appSettingText' | translate}}</p>
  </div>
  <div class="card-header header-delete-account mt-4">
    <h6 class="card-title">{{'account' | translate}}</h6>
  </div>
  <div class="card-body">
    <div class="acount_del-item d-flex align-items-center justify-content-between">
      <label for="DeleteAccount" class="mb-0"><b>{{ 'deleteAccount' | translate}}</b></label>
    </div>
    <div class="acount_del-item d-flex align-items-center justify-content-between flex-wrap">
      <p>{{ 'deleteAccountDesc' | translate}}</p>
      <button *ngIf="checkRole()" id="DeleteAccount" type="button" class="button acount_delete_btn {{currentLoggedInPermission}}" (click)="confirmDeleteProfile(1)">{{'deleteMyAccount' | translate}}</button>
    </div>
  </div>
</div>