.table tbody tr:hover td.main-table-2 {
  border-right: none !important;
}
.btn.web-create-bg, .invite-talent-btn {
    padding: 7px 10px;
    border-radius: 10px;
}
.main-template {
  color: black;
}

.Favorite-parent {
  padding: 0;
}
.card_sight_btns {
  margin-top: 10px;
  margin-bottom: 10px;
}
.dropdown-favourites {
  .form-check {
    padding-left: 0 !important;
  }
  .form-check-input {
    margin-left: 0 !important;
  }
}
::ng-deep .mat-mdc-select-arrow-wrapper {
  margin-left: 10px;
}
.invite-talent-btn {
  background: #6FB95D;
  color: #fff;
  padding: 7px 24px;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 600;
}

::ng-deep {
  .dark-theme {
    .add_btn_.invite-talent-btn {
      background: #bde34f !important;
      color: #072944 !important;
    }
  }
}

@media(max-width: 425px) {
  .btn-outline-white {
    padding: 5px;
    border: 1px solid #D9D9D9;
    font-size: 10px;
    color: #787878;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-radius: 5px !important;
    margin-right: 7px;
  }

  .paging-data {
    font-size: 12px;
    font-weight: 500;
    margin-left: 5px;
  }

  .left-slide svg,
  .right-slide svg {
    height: 20px;
    width: 20px;
  }

  .card_sight_title {
    flex-wrap: wrap !important;
    gap: 10px;
  }
}

@media(max-width: 360px) {
  .btn-outline-white {
    padding: 3px;
    border: 1px solid #D9D9D9;
    font-size: 10px;
    color: #787878;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-radius: 5px !important;
    margin-right: 7px;
  }

  .paging-data {
    font-size: 10px;
    font-weight: 500;
    margin-left: 5px;
  }

  .left-slide svg,
  .right-slide svg {
    height: 20px;
    width: 20px;
  }

  .form-check-input {
    margin-top: 6px;
  }

  .toggle-padding {
    padding: 4px !important;
    font-size: 12px;
  }

  .card-title {
    font-size: 16px;
  }

  .input-filter-text {
    font-size: 10px;
  }

  .filter-svg svg {
    height: 12px;
    width: 12px;
  }

  .card-search .input-group .input-group-text svg {
    height: 12px;
    width: 12px;
  }
}



.pointer {
  cursor: pointer;
}

.user-pending-icon {
  max-width: 22px;
  position: absolute;
  margin-top: 25px;
  margin-left: -15px;
}

.user-approved-icon {
  max-width: 26px;
  position: absolute;
  margin-top: 23px;
  margin-left: -15px;
}

.user-rejected-icon {
  max-width: 22px;
  position: absolute;
  margin-top: 25px;
  margin-left: -15px;
}

input:focus {
  outline: none;
  box-shadow: inherit;
}

.favourites-main-checkbox {
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  padding: 5px 10px;

}

.dropdown-favourites .dropdown-toggle::after {

  display: none;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.dropdown-favourites .btn:hover {
  border-color: #D9D9D9 !important;
}

body {
  font-family: Arial, sans-serif;
}

.sighting-bg {
  background-color: #F8F8F8;

  img.img-fluid {
    object-fit: cover;
    object-position: center;
  }
}

.col_padding .edit_button {
  justify-content: space-between;
}

.edit_button button {
  border: 1px solid #918f8f;
  background: no-repeat;
  padding: 5px 8px;
  border-radius: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.edit_button button svg {
  margin-right: 4px;
}

.inquire-btn {
  padding: 6px 24px !important;
  border-radius: 10px !important;
}

.text-size {
  font-size: 20px;
}

.event-text {
  font-size: 14px;
}

.attachment_box {
  border: 1px solid #EFEFEF;
  padding: 7px;
  width: 100%;
  margin-right: 15px;
}

.attachment_box span {
  font-size: 14px;
  margin-left: 6px;
  color: #111418;
  font-weight: 500;
}

.download_delete {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.upload-btn {
  color: #787878;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  padding: 8px 15px;
  margin-top: 20px;
}

.btn-primary {
  background-color: #007bff;
  /* Blue */
  border: none;
  padding: 6px 18px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.btn-secondary {
  background-color: #6c757d;
  /* Gray */
  // border: none;
  padding: 6px 18px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.btn-success {
  background-color: #28a745;
  /* Green */
  border: none;
  padding: 6px 18px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.btn-light {
  background-color: #f8f9fa;
  /* Light Gray */
  border: 1px solid #ced4da;
  /* Light Gray Border */
  padding: 10px 20px;
  border-radius: 5px;
  color: #343a40;
  /* Dark Gray */
  font-weight: bold;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.fas {
  font-size: 1.2em;
}

.bg-236115 {
  background-color: #236115;
}

.invited-image {
  border-left: 1px solid #E7E7E7;
  padding-left: 6px;
  margin-left: 10px;
}

.invited-image h2 {
  color: #787878;
  font-size: 14px;
  font-weight: 600;
  padding: 0px 8px;

}

.invited-image_box img {
  object-fit: cover;
  border-radius: 50px;
}

.invited-image_box {
  width: fit-content;
  position: relative;
}

.invited-image_box {
  display: flex;
  align-items: center;
}

.invited-image_box img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.invited-img-1 {
  z-index: 4;
}

.invited-img-2 {
  margin-left: -15px;
  z-index: 3;
}

.invited-img-3 {
  margin-left: -15px;
  z-index: 2;
}

.invited-img-4 {
  margin-left: -15px;
  z-index: 1;
}

.pointer {
  cursor: pointer;
}

.back-link1 {
  font-size: 12px;
  cursor: pointer;
  margin-right: 12px;
  margin-top: 1px;
  background: #6FB95D;
  color: #ffffff;
  border-radius: 4px;
  padding: 0px 5px;
  letter-spacing: .3px;
}


.sighting_tab {
  padding: 0 !important;
}

.card-search {
  max-width: 300px;
  width: 100%;
}

.col_padding {
  padding: 20px 10px;
}

.edit_padding {
  padding: 10px 10px 20px;
}

@media (min-width: 1400px) {
  .green_bar_sec {
    flex-wrap: nowrap;
    justify-content: space-between;

    .text-size {
      width: max-content;
      max-width: 40%;
    }

    .butn_div {
      width: max-content;
      max-width: 20%;
    }
  }
}


@media (min-width: 768px) and (max-width: 1399.98px) {
  .green_bar_sec {
    flex-wrap: nowrap;
    justify-content: space-between;

    .text-size,
    .butn_div {
      width: max-content;
      max-width: 33.33%;
    }
  }
}

@media (min-width: 768px) {
  .green_bar_sec {
    .green_bar_location {
      position: relative;
      padding-left: 40px;

      svg {
        position: absolute;
        left: 0;
        top: 2px;
      }
    }
  }
}

@media (max-width: 767px) {
  .btn.web-create-bg,
  .invite-talent-btn {
    font-size: 16px;
  }
  .col_padding {
    padding: 20px 5px;
  }

  .edit_padding {
    padding: 10px 5px 20px;
  }

  .green_bar_sec {
    padding: 20px 0 !important;
  }

  .mobile_sight {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start !important;
  }

  .card-search {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .card_sight_btns .btn-outline-white {
    font-size: 0 !important;
    svg {
      margin-right: 0 !important;
    }
  }

  .view_back_sight {
    flex-direction: column;
    align-items: flex-start !important;

    .invited-image {
      border-left: 0;
      padding-left: 0;
      margin-left: 0;
    }

    .invited-image:not(:last-child) {
      border-right: 1px solid #E7E7E7;
      padding-right: 6px;
      margin-right: 10px;
    }

    .invited-image {
      margin-top: 10px;
    }
  }

  .view_back_sight>.d-flex.align-items-center {
    flex-wrap: wrap;
    gap: 10px;
  }

  .web-create-bg {
    padding: 8px 10px !important;
    font-size: 14px !important;
  }
}

@media (min-width: 992px) and (max-width: 1599.98px) {
  .btn.web-create-bg {
    min-width: 300px;
    text-align: center;
    justify-content: center;
  }
}


@media (min-width: 1600px) and (max-width: 2999px) {

  // <<<<<<< HEAD 
  .btn.web-create-bg,
  .invite-talent-btn {
    font-size: 24px !important;
    margin-bottom: 10px !important;
  }

  table td svg,
  span.back-link svg {
    width: 30px !important;
    height: 30px !important;
    margin-right: 4px;
  }

  .btn.btn-outline-white.delete-text,
  .attachment_box span {
    font-size: 18px !important;
  }

  .invited-image h2,
  .text-size,
  .edit_padding h4,
  .upload-btn {
    font-size: 22px !important;
  }

  .event-text,
  .edit_padding .d-flex div {
    font-size: 18px !important;
  }

  .attachment_box {
    padding: 11px !important;
  }

  .attachment_box svg,
  .upload-btn svg {
    width: 25px !important;
    height: 25px !important;
  }

  .btn.web-create-bg {
    min-width: 430px;
    text-align: center;
    justify-content: center;
  }
}

@media (min-width: 3000px) {

  .btn.web-create-bg,
  .invite-talent-btn {
    font-size: 28px !important;
    margin-bottom: 10px !important;
  }

  table td svg,
  span.back-link svg {
    width: 40px !important;
    height: 40px !important;
    margin-right: 4px;
  }

  .btn.btn-outline-white.delete-text,
  .attachment_box span {
    font-size: 25px !important;
  }

  .invited-image h2,
  .text-size,
  .edit_padding h4,
  .upload-btn {
    font-size: 28px !important;
  }

  .download_delete svg {
    width: 32px !important;
    height: 32px !important;
  }

  .event-text,
  .edit_padding .d-flex div {
    font-size: 26px !important;
  }

  .attachment_box {
    padding: 15px !important;
  }

  .attachment_box svg,
  .upload-btn svg {
    width: 30px !important;
    height: 30px !important;
  }

  .btn.web-create-bg {
    min-width: 490px;
    text-align: center;
    justify-content: center;
  }
}

::ng-deep .mat-mdc-select-min-line{
  color: #fff !important;
}

::ng-deep .cdk-overlay-pane{
  width: auto !important;
}

.bg_success,
.bg_reject,
.bg_pending {
  width: 100%;
  display: inline-block;
  max-width: 150px;
  border-radius: 60px;
  

  // =======
  .sighting-bg img.img-fluid {
    max-height: 600px !important;
  }

  .btn.web-create-bg,
  .invite-talent-btn {
    font-size: 22px !important;
    margin-bottom: 10px !important;
  }

  table td svg,
  span.back-link svg {
    width: 30px !important;
    height: 30px !important;
    margin-right: 4px;
  }

  .btn.btn-outline-white.delete-text,
  .attachment_box span {
    font-size: 18px !important;
  }

  .invited-image h2,
  .text-size,
  .edit_padding h4,
  .upload-btn {
    font-size: 24px !important;
  }

  .event-text,
  .edit_padding .d-flex div {
    font-size: 18px !important;
  }

  .attachment_box {
    padding: 11px !important;
    width: max-content !important;
    max-width: calc(100% - 60px);
  }

  .attachment_box svg,
  .upload-btn svg,
  .edit_padding svg,
  .green_bar_sec svg,
  .download_delete svg {
    width: 28px !important;
    height: 28px !important;
  }
}

.ve_align {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  svg {
    width: 22px;
    height: 22px;
    top: -2px;
    position: relative;
}
}


@media (min-width: 1750px) and (max-width: 2500px) {
.ve_align {
  svg {
    width: 26px;
    height: 26px;
    top: -1px;
}
}
}

@media (min-width: 2501px) and (max-width: 2900px) {
.ve_align {
  svg {
    width: 26px;
    height: 26px;
    top: 0;
}
}
}


@media (min-width: 2000px) {
.download_delete svg {
    width: 35px !important;
    height: 35px !important;
}
}
@media (min-width: 3000px) {
  .sighting-bg img.img-fluid {
    max-height: unset !important;
  }

  .btn.web-create-bg,
  .invite-talent-btn {
    font-size: 28px !important;
    margin-bottom: 10px !important;
  }

  table td svg,
  span.back-link svg {
    width: 40px !important;
    height: 40px !important;
    margin-right: 4px;
  }

  .btn.btn-outline-white.delete-text,
  .attachment_box span {
    font-size: 26px !important;
  }

  .invited-image h2,
  .text-size,
  .edit_padding h4,
  .upload-btn {
    font-size: 32px !important;
  }

  .download_delete svg {
    width: 40px !important;
    height: 40px !important;
  }

  .event-text,
  .edit_padding .d-flex div {
    font-size: 28px !important;
  }

  .attachment_box {
    padding: 15px !important;
    width: max-content !important;
    max-width: calc(100% - 60px);
  }

  .attachment_box svg,
  .upload-btn svg,
  .edit_padding svg,
  .green_bar_sec svg {
    width: 35px !important;
    height: 35px !important;
  }

  .col_padding {
    padding: 60px 20px 30px !important;
  }

  .edit_padding {
    padding: 60px 40px 30px !important;
  }
  .ve_align {
    svg {
        width: 35px;
        height: 35px;
        top: -1px;
    }
  }
}

.bg_success,
.bg_reject,
.bg_pending {
  width: 100%;
  display: inline-block;
  max-width: 150px;
  border-radius: 60px;
}


@media (max-width: 575px) {
  .mat-mdc-paginator-container {
    justify-content: flex-start !important;
    margin-left: -20px;
  }

  :host ::ng-deep .mat-mdc-paginator-range-actions {
    margin-top: 10px !important;
    max-width: 110px;

    .mat-mdc-paginator-range-label {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    button {
      margin-right: 0 !important;
    }
  }
  .bg_success, .bg_reject, .bg_pending {
      max-width: 100px;
      padding-left: 7px;
      padding-top: 4px !important;
      font-size: 14px !important;
  }
}


// COPY PASTE CSS
.unlock_page {
  position: relative;
  // height: 30vh;

  .unlock_btn {
    background: #6FB95D;
    padding: 10px 24px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
    border: none;
  }

  .upgrade_unlock {
    height: 100%;
    background: rgb(255 255 255 / 65%);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .position-boxs {
    gap: 20px;
    border-right: 1px solid #e7e7e7;
  }

  .social_icons .facebook {
    width: 12px;
    margin-right: 14px;
  }

  .social_icons .instagram {
    width: 20px;
    margin-right: 14px;
  }

  .general_titels h2 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #565555;
  }
}

.btn.web-create-bg {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

::ng-deep .mat-mdc-select-arrow svg{
  color: #fff !important;
}