<div class="dashboard_footer footer_main footer-responsive ">
    <div>
        <p class="footer-text">{{ 'copyright' | translate }}</p>
    </div>
    <div class="footer_main_inner">
        <p><a routerLink="/privacy">{{ 'privacyPolicy' | translate }}</a></p>
        <p><a routerLink="/terms">{{ 'terms&Conditions' | translate }}</a></p>
        <p><a routerLink="/imprint">{{ 'imprint' | translate }}</a></p>
        <p><a routerLink="/faq">{{ 'faq' | translate }}</a></p>
        <p><a routerLink="/news">{{ 'news&Media' | translate }}</a></p>
    </div>
</div>
