<div class="user-right-content">
    <div class="d-flex align-items-center">
        <h6 class="mb-0 me-2 main-template"> {{ 'generalDetails' | translate}} </h6>
        <a class="btn btn-outline-white main-template" (click)="editPlayer(userData, 'general')">
            <svg id="users-icon" class="me-1" width="24" height="25" viewBox="0 0 24 25" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M3 17.7495V21.4995H6.75L17.81 10.4395L14.06 6.68951L3 17.7495ZM20.71 7.53951C20.8027 7.447 20.8762 7.33711 20.9264 7.21614C20.9766 7.09517 21.0024 6.96548 21.0024 6.83451C21.0024 6.70355 20.9766 6.57386 20.9264 6.45289C20.8762 6.33192 20.8027 6.22203 20.71 6.12951L18.37 3.78951C18.2775 3.69681 18.1676 3.62326 18.0466 3.57308C17.9257 3.5229 17.796 3.49707 17.665 3.49707C17.534 3.49707 17.4043 3.5229 17.2834 3.57308C17.1624 3.62326 17.0525 3.69681 16.96 3.78951L15.13 5.61951L18.88 9.36951L20.71 7.53951Z"
                    fill="#787878" />
            </svg>

            {{ 'edit' | translate}}</a>
    </div>
    <div class="row">
        <div class="col-lg-3 td_col">
            <div class="team-details style-1">
                <p>{{ 'currentClub' | translate}}</p>
                <h6>
                    <img *ngIf="userData.club_logo_path" src="{{userData.club_logo_path}}"
                        class="fc-club-img" alt="">
                    <!-- <img *ngIf="userData.current_club_country_path" src="{{userData.current_club_country_path}}" class="fc-img  style-1" alt="">
                 -->
                </h6>
                {{userData?.current_club_name | translate }}
            </div>
        </div>
        <div class="col-lg-3 td_col">
            <div class="team-details style-1">
                <p> {{ 'leagueLevel' | translate }}</p>
                <h6 *ngIf="userData.league_name">{{ userData.league_name | translate }}</h6>
                <!-- <h6 *ngIf="!userData.league_name">NA</h6> -->
            </div>
        </div>
        <div class="col-lg-3 td_col">
            <div class="team-details style-1">
                <p> {{ 'nationality' | translate }}</p>
                <div class="d-flex align-items-center mb-2" *ngFor="let nation of userNationalities">
                    <img src="{{nation.flag_path}}" alt="">
                    <h6> {{nation.country_name | translate }} </h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3 td_col">
            <div class="team-details style-1">
                <p> {{ 'position' | translate}}</p>
                <h6 *ngIf="userData.positions">{{ getPosition(userData.positions) }}</h6>
                <!-- <pre>{{userData | json}}</pre> -->
                <!-- <h6 *ngIf="!userData.positions">NA</h6> -->
            </div>
        </div>
        <div class="col-lg-3 td_col">
            <div class="team-details">
                <p> {{ 'internationalPlayer' | translate}}</p>
                <div class="d-flex align-items-center">
                    <img *ngIf="userData.int_player_country_logo_path" src="{{userData.int_player_country_logo_path}}"
                        alt="">
                    <h6>{{userData?.int_player_country}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="user-right-content">
    <div class="d-flex align-items-center">
        <h6 class="mb-0 me-2 main-template"> {{ 'personalDetails' | translate}}</h6>
        <a class="btn btn-outline-white  main-template" (click)="editPlayer(userData, 'personal')">
            <svg id="users-icon" class="me-1" width="24" height="25" viewBox="0 0 24 25" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M3 17.7495V21.4995H6.75L17.81 10.4395L14.06 6.68951L3 17.7495ZM20.71 7.53951C20.8027 7.447 20.8762 7.33711 20.9264 7.21614C20.9766 7.09517 21.0024 6.96548 21.0024 6.83451C21.0024 6.70355 20.9766 6.57386 20.9264 6.45289C20.8762 6.33192 20.8027 6.22203 20.71 6.12951L18.37 3.78951C18.2775 3.69681 18.1676 3.62326 18.0466 3.57308C17.9257 3.5229 17.796 3.49707 17.665 3.49707C17.534 3.49707 17.4043 3.5229 17.2834 3.57308C17.1624 3.62326 17.0525 3.69681 16.96 3.78951L15.13 5.61951L18.88 9.36951L20.71 7.53951Z"
                    fill="#787878" />
            </svg>

            {{ 'edit' | translate}}</a>
    </div>
    <div class="row">
        <div class="col-lg-3 td_col">
            <div class="team-details style-1">
                <p> {{ 'fullName' | translate}}</p>
                <h6>{{userData.first_name}} {{userData.last_name}}</h6>
            </div>
        </div>
        <div class="col-lg-3 td_col">
            <div class="team-details style-1">
                <p> {{ 'dateOfBirth' | translate}}</p>
                <h6>{{userData?.meta?.date_of_birth | date:'dd.MM.yyyy' }}</h6>
            </div>
        </div>
        <div class="col-lg-3 td_col">
            <div class="team-details style-1">
                <p> {{ 'foot' | translate}}</p>
                <h6>{{userData?.meta?.foot}}</h6>
            </div>
        </div>
        <div class="col-lg-3 td_col">
            <div class="team-details style-1">
                <p>{{ 'inTheTeamSince' | translate}}</p>
                <h6>{{userData?.meta?.in_team_since | date:'dd.MM.yyyy' }}</h6>
            </div>
        </div>
        <div class="col-lg-3 td_col mt-3">
            <div class="team-details style-1">
                <p>{{ 'age' | translate}}</p>
                <h6 *ngIf="calculateAge(userData?.meta?.date_of_birth) > 0">{{calculateAge(userData?.meta?.date_of_birth)}}</h6>
            </div>
        </div>
        <div class="col-lg-3 td_col mt-3 ">
            <div class="team-details style-1">
                <p> {{"placeOfBirth" | translate }}</p>
                <div class="d-flex align-items-center gap-1">
                    <h6>{{userData?.meta?.place_of_birth}}</h6>
                    <!-- <div class="col-lg-3 team-badge_image"> -->
                        <!-- <img height="15px" width="15px" src="{{userCountryFlag}}" alt=""> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <div class="col-lg-3 td_col mt-3">
            <div class="team-details style-1">
                <p>{{ 'contractUntil' | translate}}</p>
                <!-- <h6 *ngIf="userData.meta && userData.meta.contract_end">{{userData.meta.contract_end | date:'MMM d, y'
                    }}</h6> -->
                <h6 *ngIf="userData.meta && userData.meta.contract_end">{{userData.meta.contract_end | date:'dd.MM.yyyy'
                    }}</h6>

                    <!-- {{user?.meta?.date_of_birth | date:'dd.MM.yyyy' }} -->
                <!-- <h6 *ngIf="!userData.meta || !userData.meta.contract_end">NA</h6> -->
            </div>
        </div>
        <div class="col-lg-3 td_col mt-3">
            <div class="team-details style-1">
                <p> {{ 'topSpeed' | translate}}</p>
                <h6 *ngIf="userData.meta && userData.meta.top_speed">{{userData.meta.top_speed}}
                    {{userData.meta.top_speed_unit}}</h6>
                <!-- <h6 *ngIf="!userData.meta || !userData.meta.top_speed">NA</h6> -->
            </div>
        </div>
        <div class="col-lg-3 td_col mt-3">
            <div class="team-details style-1">
                <p> {{ 'height' | translate }}</p>
                <h6 *ngIf="userData.meta && userData.meta.height">{{userData.meta.height}} {{userData.meta.height_unit}}
                </h6>
                <!-- <h6 *ngIf="!userData.meta || !userData.meta.height">NA</h6> -->
            </div>
        </div>
        <div class="col-lg-3 td_col mt-3">
            <div class="team-details style-1">
                <p> {{ 'otherPositions' | translate }}</p>
                <h6 *ngIf="userData.positions">{{ getOtherPositions(userData.positions) }}</h6>
                <!-- <h6 *ngIf="userData.meta && userData.meta.other_position">{{userData.meta.other_position}}</h6> -->
                <!-- <h6 *ngIf="!userData.meta || !userData.meta.other_position">NA</h6> -->
            </div>
        </div>
        <div class="col-lg-6 td_col mt-3">
            <div class="team-details style-1 admin_social_profile">
                <p> {{'socialMedia' | translate }}</p>
                <div class="d-flex align-items-center team-details-sub" *ngIf="userData.meta && userData.meta.sm_x">
                    <h6>
                        <svg id="users-icon" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_3008_6581)">
                                <path
                                    d="M10.0834 7.19844L16.276 0H14.8084L9.43159 6.25016L5.13697 0H0.183594L6.67786 9.45147L0.183594 17H1.65117L7.32944 10.3996L11.8647 17H16.8181L10.083 7.19844H10.0834ZM8.07345 9.53461L7.41537 8.5935L2.1799 1.10473H4.43399L8.65889 7.1485L9.31684 8.08961L14.809 15.9455H12.5552L8.07345 9.53501V9.53461Z"
                                    fill="black" />
                            </g>
                            <defs>
                                <clipPath id="clip0_3008_6581">
                                    <rect width="17" height="17" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>


                        www.x.com/{{userData.meta.sm_x}}
                    </h6>
                </div>
                <div class="d-flex align-items-center team-details-sub"
                    *ngIf="userData.meta && userData.meta.sm_facebook">
                    <h6>
                        <svg id="users-icon" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_3009_6591)">
                                <!-- <path d="M17.3151 0.716797H1.68609C1.15077 0.716797 0.716797 1.15077 0.716797 1.68609V17.3151C0.716797 17.8504 1.15077 18.2844 1.68609 18.2844H17.3151C17.8504 18.2844 18.2844 17.8504 18.2844 17.3151V1.68609C18.2844 1.15077 17.8504 0.716797 17.3151 0.716797Z" fill="#3D5A98"/> -->
                                <path
                                    d="M12.8366 18.2829V11.48H15.1196L15.461 8.82892H12.8366V7.13673C12.8366 6.36931 13.0504 5.84532 14.1503 5.84532H15.5545V3.47032C14.8745 3.39959 14.1912 3.36589 13.5076 3.36939C11.4859 3.36939 10.0935 4.60142 10.0935 6.874V8.82892H7.81055V11.48H10.0935V18.2829H12.8366Z"
                                    fill="#111418" />
                            </g>
                            <defs>
                                <clipPath id="clip0_3009_6591">
                                    <rect width="19" height="19" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        www.facebook.com/{{userData.meta.sm_facebook}}
                    </h6>
                </div>
                <div class="d-flex align-items-center team-details-sub"
                    *ngIf="userData.meta && userData.meta.sm_instagram">
                    <h6>
                        <svg id="users-icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M13.75 0H6.25C2.79412 0 0 2.79412 0 6.25V13.75C0 17.2059 2.79412 20 6.25 20H13.75C17.2059 20 20 17.2059 20 13.75V6.25C20.0735 2.79412 17.2794 0 13.75 0ZM18.1618 13.75C18.1618 16.1765 16.1765 18.1618 13.75 18.1618H6.25C3.82353 18.1618 1.83824 16.1765 1.83824 13.75V6.25C1.83824 3.82353 3.82353 1.83824 6.25 1.83824H13.75C16.1765 1.83824 18.1618 3.82353 18.1618 6.25V13.75Z"
                                fill="#111418" />
                            <path
                                d="M10 5C7.20588 5 5 7.20588 5 10C5 12.7941 7.20588 15 10 15C12.7941 15 15 12.7941 15 10C15 7.27941 12.7941 5 10 5ZM10 13.1618C8.30882 13.1618 6.83824 11.7647 6.83824 10C6.83824 8.23529 8.23529 6.83824 10 6.83824C11.7647 6.83824 13.1618 8.23529 13.1618 10C13.1618 11.7647 11.7647 13.1618 10 13.1618Z"
                                fill="#111418" />
                            <path
                                d="M15.4406 3.9707C15.8083 3.9707 16.1024 4.26482 16.1024 4.63247C16.1024 5.00011 15.8083 5.29423 15.4406 5.29423C15.073 5.29423 14.7788 5.00011 14.7788 4.63247C14.7053 4.26482 14.9994 3.9707 15.4406 3.9707Z"
                                fill="#111418" />
                        </svg>

                        www.instagram.com/{{userData.meta.sm_instagram}}
                    </h6>
                </div>

                <div class="d-flex align-items-center team-details-sub"
                    *ngIf="userData.meta && userData.meta.sm_tiktok">
                    <h6>
                        <svg id="users-icon" class="social-svg" width="20" height="20"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                                d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z"
                                stroke="#111418" fill="#111418" />
                        </svg>
                        www.tiktok.com/{{userData.meta.sm_tiktok}}
                    </h6>
                </div>

                <div class="d-flex align-items-center team-details-sub"
                    *ngIf="userData.meta && userData.meta.sm_youtube">
                    <h6>
                        <svg id="users-icon" width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M20.5613 2.34286C20.321 1.42143 19.6093 0.695236 18.704 0.447617C17.066 -2.46934e-06 10.5 0 10.5 0C10.5 0 3.93401 -2.46934e-06 2.29601 0.447617C1.39301 0.695236 0.681334 1.41905 0.438668 2.34286C1.14044e-06 4.01429 0 7.5 0 7.5C0 7.5 1.14044e-06 10.9857 0.438668 12.6571C0.679001 13.5786 1.39067 14.3048 2.29601 14.5524C3.93401 15 10.5 15 10.5 15C10.5 15 17.066 15 18.704 14.5524C19.607 14.3048 20.3187 13.581 20.5613 12.6571C21 10.9857 21 7.5 21 7.5C21 7.5 21 4.01429 20.5613 2.34286ZM8.4 10.7143V4.28572L13.8553 7.5L8.4 10.7143Z"
                                fill="#111418" />
                        </svg>


                        www.youtube.com/{{userData.meta.sm_youtube}}
                    </h6>
                </div>

                <div class="d-flex align-items-center team-details-sub" *ngIf="userData.meta && userData.meta.sm_vimeo">
                    <h6>

                        <svg id="users-icon" width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M19.9903 3.93085C19.9002 5.84478 18.5418 8.46293 15.9109 11.7896C13.1921 15.2632 10.8908 17 9.00937 17C7.84226 17 6.85758 15.9437 6.05094 13.8267C5.51244 11.8868 4.97614 9.94914 4.43765 8.00929C3.83981 5.89446 3.19801 4.83597 2.51005 4.83597C2.36059 4.83597 1.83748 5.14488 0.940719 5.76269L0 4.57242C0.986876 3.71915 1.96057 2.86803 2.91887 2.01476C4.23544 0.89794 5.22451 0.308212 5.88389 0.249886C7.44004 0.102993 8.39834 1.14852 8.7566 3.38648C9.14564 5.80157 9.41379 7.30291 9.56545 7.89048C10.0138 9.89514 10.5084 10.8953 11.0469 10.8953C11.4645 10.8953 12.0953 10.2451 12.9327 8.94465C13.7701 7.64638 14.2185 6.65701 14.28 5.97655C14.3987 4.85541 13.9503 4.29376 12.9327 4.29376C12.4535 4.29376 11.959 4.40177 11.4513 4.61563C12.4338 1.45095 14.313 -0.0849463 17.0846 0.00362153C19.1397 0.0619467 20.109 1.37318 19.9903 3.93301V3.93085Z"
                                fill="#111418" />
                        </svg>
                        www.vimeo.com/{{userData.meta.sm_vimeo}}
                    </h6>
                </div>

                <div class="d-flex align-items-center team-details-sub" *ngIf="userData.meta && userData.meta.sm_linkedin">
                    <h6>

                        <svg id="users-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="28" viewBox="0 0 27 28" fill="none">
                            <g clip-path="url(#clip0_242_13596)">
                                <path class="linkedin-innerside" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M23.25 23.2603H19.2434V16.436C19.2434 14.565 18.5324 13.5195 17.0515 13.5195C15.4405 13.5195 14.5988 14.6075 14.5988 16.436V23.2603H10.7375V10.2603H14.5988V12.0114C14.5988 12.0114 15.7598 9.86308 18.5185 9.86308C21.2759 9.86308 23.25 11.5469 23.25 15.0295V23.2603ZM6.13101 8.55801C4.81577 8.55801 3.75 7.48388 3.75 6.15913C3.75 4.83439 4.81577 3.76025 6.13101 3.76025C7.44624 3.76025 8.51138 4.83439 8.51138 6.15913C8.51138 7.48388 7.44624 8.55801 6.13101 8.55801ZM4.13721 23.2603H8.16353V10.2603H4.13721V23.2603Z"
                                    fill="#111418" />
                            </g>
                            <defs>
                                <clipPath id="clip0_242_13596">
                                    <rect width="27" height="27" fill="white" transform="translate(0 0.0102539)" />
                                </clipPath>
                            </defs>
                        </svg>
                        www.linkedin.com/{{userData.meta.sm_linkedin}}
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3 td_col">
            <div class="team-details">
                <p> {{ 'email' | translate }}</p>
                <h6>{{userData.email}}</h6>
            </div>
        </div>
        <div class="col-lg-3 td_col">
            <div class="team-details">
                <p> {{ 'password' | translate }}</p>
                <h6>***************</h6>
            </div>
        </div>
    </div>
</div>