.user-right-content > div{
    margin-bottom: 24px;
}
.user-right-content{
    padding: 28px 19px;
    h6{
        color: #111418;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 32px;

    }
    .fc-club-img{
        width: 38px;
        height: 36px;
        object-fit: contain;
    }
    .fc-img{
        width: 24px;
        height: 26px;
        margin-right: 3px;
        &.style-1{
            margin-right: 0;
            margin-left: 3px;
            
        }
    }
    .team-details{
        &.style-1{
            margin-bottom: 47px;
        }
        p{
            color: #787878;
            opacity: 1;
            margin-bottom: 5px;
        }
        h6{
            color: #111418;
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 0;
        }
        img{
            margin-right: 7px;
        }
    }
}

.team-details-sub{
    margin-bottom: 19px;
}

.team-details .team-details-sub h6 {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    svg {
        margin-right: 8px;
        min-width: 20px;
    }
}



@media (min-width: 1600px) and (max-width: 2999px) {
    .general_titels h2, .general_details .details_1, .position-boxs .details_1, .main-position .details_1,
    .forms_details .email_box {
      font-size: 20px !important;
    }
    .forms_details .email_box label, .password_box label, .password_box input, 
    .general_details .details_2, .position-boxs .details_2, .main-position .details_2, .edit_button span, .main-position .social_icons {
      font-size: 18px !important;
    }
    .general_details .details_2, .position-boxs .details_2, .main-position .details_2 {
      padding-bottom: 5px;
    }
    .details-1 {
      font-size: 20px;
    }
  }
  
  @media (min-width: 3000px) {
    .general_titels h2, .general_details .details_1, .position-boxs .details_1, .main-position .details_1, .forms_details .email_box {
      font-size: 28px !important;
    }
    .forms_details .email_box label, .password_box label, .password_box input, 
    .general_details .details_2, .position-boxs .details_2, .main-position .details_2, .edit_button span, .main-position .social_icons {
      font-size: 25px !important;
    }
    .general_details .details_2, .position-boxs .details_2, .main-position .details_2 {
      padding-bottom: 5px;
    }
    .details-1 {
      font-size: 28px;
    }
  }