<div class="container statistics_popup">
  <div class="row">
    <!-- Right column: Form for editing player details -->
    <div class="col-md-12 p-0">
      <div class="personal_edit popup_header p-3">
        <div class="dialog-header mx-auto">
          <h2>{{'addNewPerformance' | translate}}</h2>
        </div>
        <div class="close_buttons" *ngIf='theme!="dark"'>
          <button class="close-btn border-0 padding-0" aria-label="Close" (click)="onCancel()">
            <img src="../../../../assets/images/carbon_close-outline-light.svg" alt="">
          </button>
        </div>
        <div class="close_buttons" *ngIf='theme=="dark"'>
          <button class="close-btn border-0 padding-0" aria-label="Close" (click)="onCancel()">
            <!-- <img src="../../../../../assets/images/carbon_close-outline.svg" alt=""> -->
            <img src="../../../../assets/images/carbon_close-outline.svg" alt="">
          </button>
        </div>
      </div>
      <form class="general_form popup__body pt-3" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
        <div class="overflow-card">
          <div class="row">
            <!-- <p>isHideTeamSection {{isHideTeamSection}}</p> -->
            <!-- [ngClass]="{'col-sm-6':isHideTeamSection,'col-sm-12':!isHideTeamSection}" -->
            <div>
              <div class="checkbox-wrap">
                <div class="form-check checkbox mb-3">
                  <input class="form-check-input mt-0 checkbox" type="checkbox" value="" id="flexCheckDefault995"
                    [(ngModel)]="noClub" name="noClub" (ngModelChange)="onNoClubChange($event)" />
                  <label class="form-check-label fs-14 font-w400 text-light" for="flexCheckDefault995">
                    {{ 'noTeamAndClub' | translate }}
                  </label>
                </div>
              </div>

            </div>
            <div class="form-group col-sm-6" *ngIf="isHideTeamSection">
              <label class="form-check-label fs-14 font-w400 text-light" for="team_country_id">
                {{ 'country' | translate }}
              </label>
              <select [ngClass]="{'isrequiredField': !team_country_id}" class="form-select" id="team_country_id"
                name="team_country_id" [(ngModel)]="team_country_id">
                <option value="0" [ngValue]="0">{{'select' | translate}}</option>
                <option *ngFor="let country of countries" [ngValue]="country.id">
                  {{ country.country_name }}
                </option>
              </select>
            </div>
            <div class="form-group col-lg-6" *ngIf="!isHideTeamSection">
              <label for="team" class="form-label">{{'team' | translate}}</label>


              <input type="text" id="currentTeam" name="currentTeam" placeholder="{{'enterAndSearch' | translate}}"
                [(ngModel)]="currentTeam" #currentTeamsField="ngModel" (input)="onSearchTeams()" autocomplete="off"
                required style="padding-left: 30px;" [ngClass]="{'isrequiredField': isrequiredField}" />
              <img class="me-2" [src]="currentTeamLogo" class="performance-image">

              <!-- Club suggestions -->
              <ul *ngIf="filterTeams.length > 0 && currentTeam.length >= 2" class="suggestions-list">
                <li *ngFor="let team of filterTeams" (click)="onSelectTeam(team)">
                  <!-- {{ team.team_name }} - {{ team.team_type }} -->
                  <img class="me-2" [src]="team.team_club_logo_path" class="me-3" style="max-width: 25px;"> {{
                  team.team_name }} - {{ team.team_type }}
                </li>
              </ul>
            </div>
            <div class="form-group col-lg-6" *ngIf="isHideTeamSection">
              <label for="team" class="form-label">{{'team' | translate}}</label>
              <input [ngClass]="{'isrequiredField': !teamName}" type="text" id="teamName" name="teamName"
                placeholder="{{'noTeamAndClubPlaceHolder' | translate}}" [(ngModel)]="teamName" required
                style="padding-left: 30px;" [ngClass]="{'isrequiredField': isrequiredField}" />

            </div>
            <div class="form-group col-lg-6" *ngIf="!isHideTeamSection">
              <label for="matches" class="form-label">{{'matches' | translate}}</label>
              <input type="number" id="matches" name="matches" [(ngModel)]="performance.matches">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-6">
              <label for="goals" class="form-label">{{'goal' | translate}}</label>
              <input type="number" id="goals" name="goals" [(ngModel)]="performance.goals">
            </div>
            <div class="form-group col-lg-6">
              <label for="Coach" class="form-label">{{'coachDuringDebut' | translate}}</label>
              <input type="text" id="Coach" name="coach" [(ngModel)]="performance.coach">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-6">
              <label for="session" class="form-label">{{'saison' | translate}}</label>
              <!-- <input type="text" id="session" name="session" [(ngModel)]="performance.session"
                [ngClass]="{'isrequiredField': isrequiredField}"> -->
              <select [(ngModel)]="performance.session" class="form-select"
                [ngClass]="{'isrequiredField': isrequiredField}" id="session" name="session" required>
                <option [value]="0" disabled>{{ 'select' | translate }}</option>
                <option *ngFor="let session of sessionArr" [value]="session">
                  {{ session }}
                </option>
              </select>
            </div>
            <div class="form-group col-lg-6">
              <label for="player_age" class="form-label">{{'playerAge' | translate}}</label>
              <input type="text" id="player_age" name="player_age" [(ngModel)]="performance.player_age">
            </div>
          </div>

          <div class="row mb-md-5">
            <div class="form-group col-lg-6" *ngIf="isHideTeamSection">
              <label for="matches" class="form-label">{{'matches' | translate}}</label>
              <input type="number" id="matches" name="matches" [(ngModel)]="performance.matches">
            </div>
            <div class="form-group col-lg-6">
              <div class="col-lg-12 p-0">
                <label for="form-date" class="form-label">{{'form-upto' | translate}}</label>
                <div class="date-imputs d-flex align-items-center">
                  <div class="d-flex align-items-center justify-content-center date_field">
                    <input class="upto-date" matInput id="from_date" name="from_date" [matDatepicker]="from_datepicker"
                      [formControl]="from_date" placeholder="DD.MM.YYYY" required />
                    <mat-datepicker-toggle matSuffix [for]="from_datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #from_datepicker></mat-datepicker>
                  </div>
                  <div class="d-flex align-items-center justify-content-center date_field">
                    <input class="upto-date-2" matInput id="to_date" name="to_date" [matDatepicker]="to_datepicker"
                      [formControl]="to_date" placeholder="DD.MM.YYYY" required />
                    <mat-datepicker-toggle matSuffix [for]="to_datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #to_datepicker></mat-datepicker>
                  </div>
                </div>
                <!-- <div class="date-imputs d-flex align-items-center">
                  <input type="date" name="from_date" class="form-upto_date" [(ngModel)]="performance.from_date" required>
                  <input type="date" name="to_date" class="form-upto_date-2" [(ngModel)]="performance.to_date" required>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="dialog-actions align-items-center d-flex justify-content-between">
          <button class="cancel-btn" type="button" (click)="onCancel()">{{'cancel' | translate}}</button>
          <button class="save-btn" type="submit">{{'save' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>