.explore-box_images {
    min-height: calc(100vh - 420px);
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 14px !important;
    line-height: normal;
    border: 1px solid #bbb7b7;
    border-radius: 10px;
}

.card-shape {
    background: rgb(111, 185, 93);
    background: linear-gradient(130deg, rgba(111, 185, 93, 1) 0%, rgba(35, 97, 21, 1) 100%);
    height: 60px;
    transform: rotate(43deg);
    position: absolute;
    bottom: 8px;
    width: 72px;
    left: -30px;

}

.explore-inputs th {
    padding-top: 0;
    padding-bottom: 0;
}

.explore-table {
    width: 94%;
    margin-top: 4px;
}

.explore-chip {
    flex-wrap: wrap;
    row-gap: 10px;
}

.explore-chip .chip {
    background: #023A4A;
    color: #fff;
    font-size: 13px;
    padding: 4px 10px;
    border-radius: 20px;
    margin: 0px 5px;
}

.explore-chip_cut {
    background: inherit;
    border: none;
}

.explore-chip_cut svg {
    fill: #fff;
    margin-left: 8px;
}

.image_box {
    background: #CACACA;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}

.booster_box {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}

.booster_box, .image_box {
    height: 250px
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.player-image-list .col-lg-2 {
    width: 20% !important;
    padding: 0px 5px;
}

.result-page-slider {
    text-align: end;
}

.player-image-list {
    row-gap: 10px;
    padding: 0px 5px;
}

.image_box-2 {
    background: #CACACA !important;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}

.image_box2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player_img {
    flex-grow: 1;
    overflow: hidden;
}

.image_box .player_img img {
    height: 100%;
    object-fit: contain;
    object-position: bottom;
    padding-top: 12px;
}

.player-names {
    background: #429130;
    padding: 8px 8px 10px 8px;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 1;
}

.player-names a {
    text-decoration-line: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.team-logo-bg {
    // background: #E2001A;
    background: #fff;
    width: 180px;
    height: 160px;
    position: absolute;
    top: -84px;
    right: -87px;
    transform: rotate(43deg);
}

.player-team-logo img {
    width: 36px;
    padding: 0;
    position: absolute;
    top: 14px;
    right: 14px;
}

.flag_box {
    background: #fff;
    width: fit-content;
    border-radius: 4px;
    position: absolute;
    bottom: 42px;
    left: 18px;
    padding: 6px 10px;
    text-align: center;
}

.flag_box hr {
    margin: 2px;
}

.player-age {
    font-size: 12px;
    margin-left: 4px;
    color: #559B44;
    font-weight: 600;
}

.image_box {
    border-radius: 16px !important;
    border: 2px solid #ad8434;
}

.boosted-box {
    background: #023A4A;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 0px 0px 10px 0px;
    position: absolute;
    top: 0;
}

.mat-mdc-paginator-page-size {
    display: flex !important;
}

.explore-all_input mat-form-field .mat-mdc-form-field-infix {
    width: 100% !important;
}

.explore-all_input mat-form-field {
    width: 100%;
}

.explore-all_input .mat-mdc-form-field-infix {
    width: 100% !important;
}

.explore-all_input mat-label {
    color: #111418;
}

.explore-all_input mat-select {
    color: #111418;
}

button#explore_filter_mobile {
    background: #6FB95D;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    border-radius: 10px;
    border: none;
    width: calc(100% - 30px);
    margin-left: 15px;
}



.player--item {
  padding: 15px;
  cursor: pointer;
  .boosted--profile {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient_neww 15s ease infinite;
  }
  .item--inner {
    border-radius: 24px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    cursor: pointer;
  }
  .clubPlayers .player_profile_img {
    padding: 30px 40px 70px;
  }
  .player--bio-dtl {
    width: 100%;
    height: 260px;
    overflow: hidden;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../../../../assets/images/circle-cut.svg) no-repeat center;
        background-size: 130%;
    }
  }
  .item--icons-list {
    z-index: 1;
    position: absolute;
    left: 6px;
    top: 10px;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    img {
      width: 35px;
      height: 35px;
      object-fit: contain;
    }
  }
  .player--dob {
    background-color: #F2F2F2;
    border: 2px solid #D8D8D8;
    display: inline-block;
    padding: 5px 10px 3px;
    font-family: var(--bs-avenir-semibold);
    border-radius: 30px;
    line-height: 1;
    letter-spacing: 0.001rem;
    font-size: 90%;
  }
  .player_profile_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: .5s all;
    position: relative;
    z-index: 0;
  }
  .player__name {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    line-height: 1;
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: var(--bs-avenir-semibold);
  }
  .booster_text {
    position: absolute;
    top: 0;
    right: 0;
    background: #023A4A;
    color: #fff;
    border-radius: 0 0 0 20px;
    padding: 7px 20px;
    font-family: var(--bs-avenir-semibold);
    z-index: 1;
}
  &:hover {
    .player_profile_img {
      transform: scale(1.10);
    }
  }
}

@keyframes gradient_neww {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


@media (max-width:1024px) {
    .explore-table {
        width: 100%;
    }

}

@media (min-width: 1200px) and (max-width:1440px) {
    .explore-box_images .player-image-list .col-lg-2 {
        width: 25% !important;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    .explore-box_images .player-image-list .col-lg-2 {
        width: 33.33% !important;
    }
}

@media (max-width:768px) {

    .form-group input,
    .form-group select {
        margin-bottom: 12px;
    }

    .table-striped th,
    .table-striped td {
        display: block;
        width: 100%;
        text-align: left;
    }

    .player-image-list {
        row-gap: 20px;
    }

    .booster_box,
    .image_box {
        height: 210px
    }

    .explore-inputs {
        th {
            margin-bottom: 10px;
        }
    }
    .explore-inputs .onlyScout {
        width: 100% !important;
    }
}

@media (min-width: 600px) and (max-width:991px) {
    .explore-box_images .player-image-list .col-lg-2 {
        width: 33.33% !important;
    }
}

@media (min-width: 481px) and (max-width:599px) {
    .explore-box_images .player-image-list .col-lg-2 {
        width: 50% !important;
    }
}


@media (max-width: 480px) {
    .explore-box_images .player-image-list .col-lg-2 {
        width: 100% !important;
    }
}

.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}

.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.explore-table .explore-inputs .explore-all_input .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}

@media (min-width: 1600px) {

    .booster_box,
    .image_box {
        height: 300px !important;
    }

    .boosted-box {
        font-size: 16px;
    }
}


.currentPage {
    border: 5px solid blue;
}


@media (min-width: 1400px) and (max-width: 1599.98px) {
    .player--item {
        .player--bio-dtl {
            height: 245px;
        }
    }
}

@media (min-width: 1080px) and (max-width: 1299.98px) {
    .player--item {
        .player--bio-dtl {
            height: 235px;
        }
    }
}


@media (min-width: 2000px) {
.flag_box {
        bottom: 62px !important;
    }

    .card-shape {
        bottom: 24px !important;
    }
    .player--item {
        padding: 17px;
        .item--icons-list {
            left: 18px;
            top: 15px;
            width: 70px;
            gap: 10px;
            img {
                width: 42px;
                height: 42px;
            }
        }
        .player--dob {
            padding: 8px 15px 6px;
        }
        .player--bio-dtl {
            height: 360px;
            padding-bottom: 0;
        }
        .player__name {
            padding: 15px 10px;
        }
        .clubPlayers .player_profile_img {
            padding: 30px 40px 70px;
        }
    }
    .booster_box,
    .image_box {
        height: 400px !important;
    }

    .player-names a {
        font-size: 24px !important;
    }

    .explore-chip .chip {
        font-size: 20px !important;
    }

    ::ng-deep .explore-all_input .mat-mdc-select-value {
        font-size: 22px !important;
    }

    ::ng-deep .explore-all_input mat-label {
        font-size: 20px !important;
    }
}

::ng-deep .explore-inputs .onlyScout {
    width: 200px;
}


@media (min-width: 3000px) {
.player--item {
    padding: 30px;
    .item--icons-list {
      left: 28px;
      top: 25px;
      width: 100px;
      gap: 18px;
      img {
        width: 60px;
        height: 60px;
      }
    }
    .player--dob {
      padding: 10px 20px 6px;
    }
    .player--bio-dtl {
      height: 590px;
      padding-bottom: 0;
    }
    .player__name {
      padding: 20px 10px;
    }
    .clubPlayers .player_profile_img {
        padding: 60px 80px 110px;
    }
  }
}

@media (max-width: 991px) {
.player--item {
    .booster_text {
        border-radius: 0 0 0 12px;
        padding: 7px 11px;
        font-family: var(--bs-avenir-semibold);
        font-size: 80%;
    }
}
}

@media (min-width: 701px) and (max-width: 800px) {
.player--item {
    padding: 10px;
    .player--bio-dtl {
      height: 230px;
    }
    .item--icons-list {
      width: 40px;
      img {
        width: 25px;
        height: 25px;
      }
    }
    .player--dob {
      font-size: 70%;
      padding: 3px 5px 1px;
    }
  }
}

@media (min-width: 501px) and (max-width: 700px) {
.player--item {
    padding: 10px;
    .player--bio-dtl {
      height: 200px;
    }
    .item--icons-list {
      width: 40px;
      img {
        width: 25px;
        height: 25px;
      }
    }
    .player--dob {
      font-size: 70%;
      padding: 3px 5px 1px;
    }
  }
}

@media (min-width: 400px) and (max-width: 500px) {
.player--item {
    padding: 12px;
    .player--bio-dtl {
      height: 220px;
    }
  }
}

@media (max-width: 399px) {
.player--item {
    padding: 8px;
    .player--bio-dtl {
      height: 180px;
    }
    .item--icons-list {
      width: 40px;
      img {
        width: 25px;
        height: 25px;
      }
    }
    .player--dob {
      font-size: 70%;
      padding: 3px 5px 1px;
    }
  }
}

@media (min-width: 992px) {
.pagination_btnss {
    span.arrow_mobile {
        display: none !important;
    }
}
}

@media (max-width: 991px) {
.pagination_btnss {
    span.arrow_desktop {
        display: none !important;
    }
}
}