<div class="page-content">
  <div class="main-wrapper">
    <div class="card bg-color">
      <button id="explore_filter_mobile" (click)="toggleFilterMobile()" *ngIf="deviceType == 'mobile'">{{'filter' |
        translate}}</button>
      <div class="card-header border-0 py-0">
        <div class="table-responsive">
          <!-- <table class="table table-striped explore-table"> -->
          <table class="table table-striped explore-table" [ngClass]="{'d-none': isHideFilter}">
            <thead>
              <tr class="explore-inputs">
                <th [ngClass]="{'onlyScout':selectedRole == 2}">
                  <div class="form-group explore-all_input"
                    [ngClass]="{'onlyScout':selectedRole == 3 || selectedRole == 2 || !selectedRole}">
                    <mat-form-field appearance="fill">
                      <mat-label>{{ 'selectHere' | translate }}</mat-label>

                      <mat-select #roleSelect [(ngModel)]="selectedRole" (selectionChange)="onRoleChange(roleSelect)"
                        id="roles" name="role">
                        <mat-option *ngFor="let role of roles" [value]="role.id">{{role.role_name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </th>
                <!-- Position Filter -->
                <th *ngIf="selectedRole == 4" [ngClass]="{'d-none':!selectedRole}">
                  <div class="form-group explore-all_input">
                    <mat-form-field appearance="fill">
                      <mat-label>{{'position' | translate}}</mat-label>
                      <mat-select #positionSelect [(ngModel)]="selectedPositions"
                        (selectionChange)="onPositionChange(positionSelect)" id="position" name="position" multiple>
                        <mat-option *ngFor="let position of positions"
                          [value]="position.id">{{position.position}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </th>

                <!-- Age Filter -->
                <th *ngIf="selectedRole == 4" [ngClass]="{'d-none':!selectedRole}">
                  <div class="form-group explore-all_input">
                    <mat-form-field appearance="fill">
                      <mat-label>{{'age' | translate}}</mat-label>
                      <mat-select #ageSelector [(ngModel)]="selectedAge" (selectionChange)="onAgeChange(ageSelector)"
                        id="age" name="age" multiple>
                        <mat-option *ngFor="let age of ageRange" [value]="age">{{ age }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </th>

                <!-- Foot Filter -->
                <th *ngIf="selectedRole == 4" [ngClass]="{'d-none':!selectedRole}">
                  <div class="form-group explore-all_input">
                    <mat-form-field appearance="fill">
                      <mat-label>{{'foot' | translate}}</mat-label>
                      <mat-select #footChnage [(ngModel)]="selectedFoot" (selectionChange)="onFootChange(footChnage)"
                        id="foot" name="foot">
                        <mat-option value="right">{{'right' | translate}}</mat-option>
                        <mat-option value="left">{{'left' | translate}}</mat-option>
                        <mat-option value="both">{{'both' | translate}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </th>

                <!-- Top Speed Filter -->
                <th *ngIf="selectedRole == 4" [ngClass]="{'d-none':!selectedRole}">
                  <div class="form-group explore-all_input">
                    <mat-form-field appearance="fill">
                      <mat-label>{{'topSpeed' | translate}}</mat-label>
                      <mat-select #topSpeed [(ngModel)]="selectedTopSpeed"
                        (selectionChange)="onTopSpeedChange(topSpeed)" id="top-speed" name="topSpeed">
                        <mat-option value="15">15-20 Km/hr</mat-option>
                        <mat-option value="20">20-25 km/hr</mat-option>
                        <mat-option value="25">25-30 km/hr</mat-option>
                        <mat-option value="30">30-35 km/hr</mat-option>
                        <mat-option value="35">35-40 km/hr</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </th>
                <!-- Country Filter -->
                <th *ngIf="selectedRole == 4 || selectedRole == 2" [ngClass]="{'d-none':!selectedRole}">
                  <div class="form-group explore-all_input"
                    [ngClass]="{'onlyScout':selectedRole == 2 && !selectedCountry}">
                    <mat-form-field appearance="fill">
                      <mat-label>{{ 'club' | translate }} {{ 'country' | translate }}</mat-label>
                      <mat-select #countryChange [(ngModel)]="selectedCountry"
                        (selectionChange)="onCountryChange(countryChange); countryAndLeauge('country');" id="country"
                        name="country">
                        <mat-option *ngFor="let country of countries" [value]="country.country_id">
                          {{country.location}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </th>
                <!-- League Filter -->
                <th *ngIf="selectedRole == 4 || selectedRole == 2"
                  [ngClass]="{'d-none':!selectedRole || !selectedCountry}">
                  <div class="form-group explore-all_input">
                    <mat-form-field appearance="fill">
                      <mat-label>{{'league' | translate}}</mat-label>
                      <mat-select #leaugeChange [(ngModel)]="selectedLeague"
                        (selectionChange)="onLeaugeChange(leaugeChange); countryAndLeauge('league');" id="league"
                        name="league" [disabled]="!selectedCountry">
                        <mat-option *ngFor="let league of leagues"
                          [value]="league.id">{{league.league_name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </th>

                <!-- Club Filter -->
                <th *ngIf="selectedRole == 4 || selectedRole == 2"
                  [ngClass]="{'d-none':!selectedRole || !selectedCountry}">
                  <div class="form-group explore-all_input">
                    <mat-form-field appearance="fill">
                      <mat-label>{{'clubRole' | translate}}</mat-label>
                      <mat-select #clubChange [(ngModel)]="selectedClub" (selectionChange)="onClubChange(clubChange)"
                        id="club" name="club">
                        <mat-option *ngFor="let club of clubs" [value]="club.id">{{club.club_name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </th>

                <!-- Team Type -->
                <th *ngIf="selectedRole == 4" [ngClass]="{'d-none':!selectedRole}">
                  <div class="form-group explore-all_input">
                    <mat-form-field appearance="fill">
                      <mat-label>{{'team' | translate}}</mat-label>
                      <mat-select #teamType multiple [(ngModel)]="selectedTeam"
                        (selectionChange)="onTeamTypeChange($event, teamType)" id="selectedTeam" name="selectedTeam"
                        [disabled]="!teamTypesArr || teamTypesArr.length === 0">
                        <mat-option *ngFor="let teamType of teamTypesArr" [value]="teamType">{{teamType}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </th>
              </tr>
            </thead>
          </table>
        </div>

        <div class="explore-chip d-flex align-items-center my-2" *ngIf="!isLoading">

          <div *ngFor="let filter of getSelectedFilters()">
            <div class="chip" *ngIf="filter.label && !empty(filter.label) && filter.value &&  !empty(filter.value)">
              <!-- Check if label is not empty -->
              <span>
                <span [translate]="filter.label"></span>:
                <strong *ngIf="getNameById(filter.label, filter.value) == 'left'"> {{ 'left' | translate}}</strong>
                <strong *ngIf="getNameById(filter.label, filter.value) == 'right'"> {{ 'right' | translate}}</strong>
                <strong *ngIf="getNameById(filter.label, filter.value) == 'both'"> {{ 'both' | translate }}</strong>
                <strong *ngIf="filter.value != 'left' && filter.value != 'right' && filter.value != 'both'">

                  <!-- First Time When Showing Selected Filter as Talent -->
                  <!-- <span *ngIf="filter.label == 'category' || filter.label == '4'"> {{'talent' | translate}}</span>
                  <span *ngIf="filter.label != 'category' && filter.label != '4'"> {{getNameById(filter.label,
                    filter.value)}}</span> -->
                  {{getNameById(filter.label, filter.value)}}
                </strong>
              </span>
              <span>
                <button class="explore-chip_cut" (click)="removeFilter(filter.label)">
                  <svg width="13px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                    <path
                      d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z">
                    </path>
                  </svg>
                </button>
              </span>
            </div>
          </div>
        </div>

        <div class="explore-box_images mt-3">
          <div *ngIf="isLoading">
            <app-loader></app-loader>
            <!-- <div class="loader"></div> -->

            <!-- <p>{{'loading' | translate}}</p> -->
          </div>
          <!-- <div class="noUserFound text-center py-1" *ngIf="noUsersFound && !isLoading">
            {{ 'noResultFound' | translate }}
          </div> -->

          <div class="row player-image-list ">
            <div class="col-lg-2" *ngFor="let player of players">
              <ng-container *ngIf="player.id != loggedInUser && !isLoading">
                <div class="player--item" (click)="exploreUser(player.role_name, player.id)">
                  <!-- <pre>{{player | json}}</pre> -->
                  <div class="item--inner"
                    [ngClass]="{'boosted--profile': player?.package_name == 'Booster','clubPlayers' : player.role_name == 'Club'}">
                    <div class="player--bio-dtl">
                      <div class="item--icons-list">
                        <div class="item--club">
                          <img *ngIf="player.current_club_logo && player.current_club_logo == 'no-logo' && player.role_name != 'Club'"
                            src="../../../../assets/club_logo/default_logo_{{theme}}.svg" alt="team-logo">
                          <img *ngIf="player.current_club_logo && player.current_club_logo != 'no-logo' && player.role_name != 'Club'"
                            src="{{baseUrl + player.current_club_logo}}" alt="team-logo">
                        </div>
                        @if (getNationality(player.user_nationalities) || player?.meta?.formation_date &&
                        player.role_name != 'Club') {
                        <div class="player--flag" [class]="{'d-none':!getNationality(player.user_nationalities)}">
                          @if (getNationality(player.user_nationalities)) { <img
                            src="{{getNationality(player.user_nationalities)}}" class="flag-img"> }
                        </div>
                        }@else if (player.role_name == 'Club' && player.current_club_country != '') {
                        <div class="player--flag">
                          <img src="{{baseUrl+'logos/' + player.current_club_country}}" class="flag-img">
                        </div>
                        }
                        <ng-container
                          *ngIf="player.role_name != 'Club' && player?.meta?.date_of_birth && player?.meta?.date_of_birth != 'Invalid date'">
                          <div class="player--dob"
                            *ngIf="getBirthYear(player.meta.date_of_birth) && getBirthYear(player.meta.date_of_birth) != 0">
                            {{ getBirthYear(player.meta.date_of_birth)}}
                          </div>
                        </ng-container>
                      </div>
                      <img *ngIf="player.meta.profile_image && player.role_name != 'Club'"
                        [src]="baseUrl + player.meta.profile_image" alt="player-image" class="player_profile_img">
                      <img *ngIf="player.current_club_logo && player.role_name == 'Club'"
                        [src]="baseUrl + player.current_club_logo" alt="player-image" class="player_profile_img">
                      <img *ngIf="!player.meta.profile_image && player.role_name != 'Club'"
                        src="../../../../assets/images/default/dummy-image-soccer.png" class="player_profile_img"
                        alt="player-image">
                      <div class="booster_text" *ngIf="player.package_name == 'Booster'">{{ 'boosted' | translate}}
                      </div>
                    </div>
                    <div class="player__name" *ngIf="player.role_name != 'Club'">{{player?.first_name?? ''}}
                      {{player?.last_name?? ''}}</div>
                    <div class="player__name" *ngIf="player.role_name == 'Club'">{{player?.current_club_name ?? ''}}
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <!-- <h1>total record is {{totalItems}} Current Page is {{currentPage}} itemsPerPage {{itemsPerPage}}</h1> -->
        <div *ngIf="players.length >= 0" class="result-page-slider">
          <div class="paginator-container">
            <label for="pagePerItem">{{'PAGINATOR.ITEMS_PER_PAGE' | translate}}</label>
            <select name="" id="pagePerItem" [(ngModel)]="itemsPerPage" (change)="changeItemsPerPage()">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
            </select>
            <div class="pagination_btnss">
              <button (click)="nextPrevious('previous')" [disabled]="currentPage == 0 || currentPage == 1">
                <span class="arrow_desktop">{{'PAGINATOR.PREVIOUS_PAGE' | translate}}</span>
                <span class="arrow_mobile">
                  <i class="fa-solid fa-angle-left"></i>
                  <i class="fa-solid fa-angle-left"></i>
                </span>
              </button>
              <!-- <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="onPageChange($event)" aria-label="Select page" showFirstLastButtons>
            </mat-paginator> -->
              <ng-container *ngFor="let page of pagesToShow()">
                <button class="page-active" (click)="goToPage(page)" [class.currentPage]="currentPage === page">
                  {{ page }}
                </button>
              </ng-container>

              <button (click)="nextPrevious('next')" [disabled]="currentPage === lastPage">
                <span class="arrow_desktop">{{ 'PAGINATOR.NEXT_PAGE' | translate }}</span>
                <span class="arrow_mobile">
                  <i class="fa-solid fa-angle-right"></i>
                  <i class="fa-solid fa-angle-right"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>