/*--------------------------------------------------------------
   banner
--------------------------------------------------------------*/
body {
    height: 100%;
}

.thanku-bnr {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    background-image: url(/assets/images/thanku-bnr.png);
}
.thanku-page{
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Ensure overlay is above background */
}

.banner-text-h2 {
    color: white;
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    content: "";
    z-index: 1;
    top: 15rem;
}

h3.banner-text-h3 {
    color: white;
    font-size: 28px;
    position: absolute;
    content: "";
    z-index: 1;
    top: 24rem;
}

img.check-image-light,
img.check-image-dark {
    position: absolute;
    content: "";
    z-index: 1;
    padding: 10% 10% 0% 18%;
    top: 0;
    right: 0;
}

a.btn.btn-register {
    position: absolute;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    height: 41px;
    width: 278px;
    content: "";
    z-index: 1;
    top: 28rem;
    color: #072944;
    background-color: #BDE34F;
}





/*--------------------------------------------------------------
#  Banner
--------------------------------------------------------------*/
@media (min-width: 1441px) {

    img.check-image-light, img.check-image-dark {
        padding: 10% 5% 0% 0%;
    }
}

@media (min-width: 1536px) {
    .banner-text-h2 {
        top: 26rem;
    }
    h3.banner-text-h3 {
        top: 36rem;
    }
    a.btn.btn-register {
        top: 41rem;
    }    
    
    

}

@media (max-width: 1281px){

}

@media (max-width: 1199px) {
    .thanku-bnr {
        height: 600px;
    }
    .banner-text-h2{
        font-size: 45px;
        top: 13rem;
    }
    h3.banner-text-h3 {
        font-size: 24px;
        top: 21rem;
    }
    a.btn.btn-register {
        font-size: 14px;
        height: 38px;
        width: 272px;
        top: 25rem;
    }

    img.check-image-light,
    img.check-image-dark {

        padding: 12% 5% 0% 0%;
        height: 550px;
    }

}

@media (max-width: 991px) {
    .thanku-bnr {
        height: 500px;
    }

    .banner-text-h2 {
        font-size: 38px;
        top: 10rem;
    }
    h3.banner-text-h3 {
        font-size: 20px;
        top: 17rem;
    }

    a.btn.btn-register {
        font-size: 16px;
        height: 36px;
        width: 230px;
        top: 20rem;
    }

    img.check-image-light,
    img.check-image-dark {
        padding: 14% 5% 0% 0%;
        height: 450px;
    }
}

@media (max-width: 768px) {

    img.check-image-light,
    img.check-image-dark {
        padding: 18% 5% 0% 0%;
        height: 400px;
    }

}

@media (max-width: 575px) {
    .thanku-bnr {
        height: 800px;
    }

    .banner-text-h2 {
        font-size: 40px;
    }

    h3.banner-text-h3 {
        font-size: 22px;
    }

    a.btn.btn-register {
        font-size: 18px;
        width: 100%;
        height: 42px;
    }

    img.check-image-light,
    img.check-image-dark {
        padding: 0;
        height: 450px;
        top: 42%;
        left: 6%;
    }

}



@media (max-width: 391px) {
    img.check-image-light, img.check-image-dark {
        left: 6%;
    }
    .banner-text-h2 {
        font-size: 38px;
    }

}

@media (max-width: 376px) {

    img.check-image-light,
    img.check-image-dark {
        left: 0;
    }

    .banner-text-h2 {
        font-size: 38px;
    }
    a.btn.btn-register {
        font-size: 15px;
        width: 100%;
        height: 36px;
        line-height: 18px;
    }
    h3.banner-text-h3 {
        top: 16rem;
    }
    a.btn.btn-register {
        top: 19rem;
    }


}

@media (max-width: 361px) {

    img.check-image-light,
    img.check-image-dark {
        height: 430px;
    }

    .banner-text-h2 {
        font-size: 36px;
    }

}

@media (max-width: 345px) {

    .thanku-bnr {
        height: 650px;
    }
    img.check-image-light, img.check-image-dark {
        height: 380px;
        left: 2%;
    }
   
}



@media (max-width: 321px) {

    .banner-text-h2 {
        font-size: 32px;
    }

    h3.banner-text-h3 {
        font-size: 18px;
    }

    img.check-image-light,
    img.check-image-dark {
        padding: 0;
        height: 360px;
        top: 50%;
    }
    a.btn.btn-register {
        font-size: 14px;
        width: 100%;
        height: 33px;
        line-height: 15px;
    }

}