/*--------------------------------------------------------------
   banner
--------------------------------------------------------------*/
body {
    height: 100%;
}

.thanku-bnr {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/images/thanku-bnr.png);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Ensure overlay is above background */
}

.thankyou_text {
    display: grid;
    gap: 30px;
}

.thankyou_secc {
    padding: 200px 0 150px;
    position: relative;
    z-index: 1;
    width: 100%;
}

.thankyou_text * {
    color: #fff;
}

h1 {
    font-size: 50px;
    line-height: 1;
}

a.btn.btn-register {
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    width: max-content;
    max-width: 100%;
    z-index: 1;
    color: #072944;
    border: 0 !important;
    padding: 13px 30px;
    background-color: #BDE34F;
}

.thnkyou_img {
    max-width: 350px;
    padding: 20px;
    margin: 0 auto;
    display: block;
    width: 100%;
}


@media (max-width: 767px) {
    h1 {
        font-size: 40px;
        line-height: 1;
    }

    h3 {
        font-size: 20px;
    }

    .thankyou_secc .row {
        flex-wrap: wrap-reverse;
        text-align: center;
    }

    .thankyou_secc {
        padding: 70px 0;
    }

    .thnkyou_img {
        max-width: 250px;
    }

    a.btn.btn-register {
        margin: 0 auto;
    }
}
::ng-deep .dark-theme .check-image-light{
    display: none;
}
::ng-deep .light-theme .check-image-dark{
    display: none;
}