<div class="msg-popup-dialog">
    <div class="msg-popup-close">
        <img src="../../../assets/images/close-icon-circle.png" alt="" class="" (click)="close()" />
    </div>

    <div class="msg-popup-content">
        <div class="display-message">{{data.message}}</div>
        <div class="display-message" *ngIf="data.action == 'delete-favorite-confirmation'">
            {{'areToSure' | translate}}
            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">{{'remove' | translate}}</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'delete-scout-player-confirmation'">
            {{ 'wantToDelete' | translate }} “{{data.name}}” {{ 'fromPortfolio' | translate }}
            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">{{'delete' | translate}}</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'popup-delete-confirmation'">
            {{'adminPopupText' | translate}} <br> {{'confirmDeleteUser1' | translate}}

            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">{{'delete' | translate}}</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'template-delete-confirmation'">
            {{'templateIsDeleted' | translate}} <br> {{'confirmDeleteUser1' | translate}}

            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">{{'delete' | translate}}</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'delete-coupon-confirmation'">
            {{'areToSure' | translate}}
            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">{{'remove' | translate}}</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'delete-advertisement-confirmation'">
            {{'areToSure' | translate}}
            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">{{'remove' | translate}}</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'delete-activity-confirmation'">
            {{'areToSure' | translate}}
            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">{{'remove' | translate}}</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'delete-representator-confirmation'">
            {{'areToSure' | translate}}
            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">{{'remove' | translate}}</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'delete-sighting-confirmation'">
            {{'areToSure' | translate}}
            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">{{'remove' | translate}}</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'delete-attachment-confirmation'">
            {{'areToSure' | translate}}
            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">{{'remove' | translate}}</span>
            </div>
        </div>
        <div *ngIf="data.action === 'delete-confirmation'"
            class="popup-delete-btn d-flex align-items-center justify-content-between mx-5 px-5 py-2">
            <div (click)="deleteConfirmed()" style="color: green;">{{ 'removeFavbtn' | translate }}</div>
            <div (click)="close()">{{ 'cancelRemoveFavBtn' | translate }}</div>
        </div>
    </div>
</div>