<div class="msg-popup-dialog delete_portfolio_profile_popup">
    <!-- <div class="msg-popup-close">
        <img src="../../../assets/images/close-icon-circle.png" alt="" class="" (click)="close()" />
    </div> -->

    <div class="msg-popup-close" *ngIf='theme!="dark"'>
        <img src="../../../assets/images/carbon_close-outline-light.svg" alt="" class="" (click)="close()" />
    </div>
    <div class="msg-popup-close" *ngIf='theme=="dark"'>
        <img src="../../../assets/images/carbon_close-outline.svg" alt="" class="" (click)="close()" />
    </div>

    <div class="msg-popup-content px-3">
        <div class="display-message">{{data.message}}</div>
        <div class="display-message" *ngIf="data.action == 'delete-favorite-confirmation'">
            {{'areToSure' | translate}}
            <div class="popup-delete-btn">
                <span class="btn btn-danger bg-dark-btn" (click)="deleteConfirmed()">{{'remove' | translate}}</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'delete-scout-player-confirmation'">
            {{ 'wantToDelete' | translate }} “{{data.name}}” {{ 'fromPortfolio' | translate }}
            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">{{'delete' | translate}}</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'popup-delete-confirmation'">
            {{'adminPopupText' | translate}} <br> {{'confirmDeleteUser1' | translate}}

            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">{{'delete' | translate}}</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'template-delete-confirmation'">
            {{'templateIsDeleted' | translate}} <br> {{'confirmDeleteUser1' | translate}}

            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">{{'delete' | translate}}</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'delete-coupon-confirmation'">
            {{'areToSure' | translate}}
            <div class="popup-delete-btn">
                <span class="btn btn-danger bg-dark-btn" (click)="deleteConfirmed()">{{'remove' | translate}}</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'delete-advertisement-confirmation'">
            {{'areToSure' | translate}}
            <div class="popup-delete-btn">
                <span class="btn btn-danger bg-dark-btn" (click)="deleteConfirmed()">{{'remove' | translate}}</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'delete-activity-confirmation'">
            {{'areToSure' | translate}}
            <div class="popup-delete-btn">
                <span class="btn btn-danger bg-dark-btn" (click)="deleteConfirmed()">{{'remove' | translate}}</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'delete-representator-confirmation'">
            {{'areToSure' | translate}}
            <div class="popup-delete-btn">
                <span class="btn btn-danger bg-dark-btn" (click)="deleteConfirmed()">{{'remove' | translate}}</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'delete-sighting-confirmation'">
            {{'areToSure' | translate}}
            <div class="popup-delete-btn">
                <span class="btn btn-danger bg-dark-btn" (click)="deleteConfirmed()">{{'remove' | translate}}</span>
            </div>
        </div>
        <div class="display-message" *ngIf="data.action == 'delete-attachment-confirmation'">
            {{'areToSure' | translate}}
            <div class="popup-delete-btn">
                <span class="btn btn-danger bg-dark-btn" (click)="deleteConfirmed()">{{'remove' | translate}}</span>
            </div>
        </div>
        <div *ngIf="data.action === 'delete-confirmation'"
            class="popup-delete-btn d-flex align-items-center justify-content-center py-2">
            <div (click)="deleteConfirmed()" class="btn btn-success me-sm-3 bg-light-btn">{{ 'removeFavbtn' | translate
                }}</div>
            <div class="btn btn-danger bg-dark-btn" (click)="close()">{{ 'cancelRemoveFavBtn' | translate }}</div>
        </div>
        <div *ngIf="data.action === 'delete-profile-confirmation'"
            class="popup-delete-btn d-flex align-items-center justify-content-center py-2">
            <div (click)="deleteProfileConfirmed()" class="btn btn-success me-sm-3 bg-light-btn">{{ 'removeFavbtn' | translate
                }}</div>
            <div class="btn btn-danger bg-dark-btn" (click)="close()">{{ 'cancelRemoveFavBtn' | translate }}</div>
        </div>
    </div>
</div>