<div class="msg-popup-dialog">
    <!-- <div class="msg-popup-close">
        <img src="../../../assets/images/close-icon-circle.png" alt="" class="" (click)="close()" />
    </div> -->

    <div class="msg-popup-close" *ngIf='theme!="dark"'>
        <img src="../../../assets/images/carbon_close-outline-light.svg" alt="" class="" (click)="close()" />
    </div>
    <div class="msg-popup-close" *ngIf='theme=="dark"'>
        <img src="../../../assets/images/carbon_close-outline.svg" alt="" class="" (click)="close()" />
    </div>

    <div class="msg-popup-content">
        <div class="display-message p-3" *ngIf="data.action == 'display'">{{data.message}}</div>

        <!-- <div class="display-message p-3" *ngIf="data.action == 'delete-confirmation'">
            {{'confirmDeleteUser' | translate}} <br> {{'confirmDeleteUser1' | translate}}

            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">{{'deleteAccount' | translate}}</span>
            </div>
        </div> -->

        <!-- <div class="display-message p-3" *ngIf="data.action == 'delete-confirmation'">
            {{'confirmDeleteUser' | translate}} <br> {{'confirmDeleteUser1' | translate}}

            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">{{'delete' | translate}}</span>
            </div>
        </div> -->

        <div class="display-message p-3" *ngIf="data.action == 'delete-confirmation'">
            {{'confirmDeleteUser' | translate}} <br> {{'confirmDeleteUser1' | translate}}
            <div *ngIf="data.action === 'delete-confirmation'"
                class="popup-delete-btn d-flex align-items-center flex-wrap justify-content-center py-2">
                <div (click)="close()" class="btn btn_cancell bg-dark-btn me-3 btn_cancell">{{ 'portfolioCloseBtn' |
                    translate }}
                </div>
                <div (click)="deleteConfirmed()" class="btn btn-success bg-light-btn btn_confirmm">{{
                    'portfolioDeletebtn' |
                    translate }}</div>
            </div>
        </div>


        <div class="display-message p-3" *ngIf="data.action == 'delete-activity-confirmation'">
            {{data.message}}

            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">{{'delete' | translate}}</span>
            </div>
        </div>

        <div class="display-message p-3" *ngIf="data.action == 'newsletter-confirmation'">
            {{data.message}}

            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">{{'proceed' | translate}}</span>
            </div>
        </div>

        <div class="display-message p-3" *ngIf="data.action == 'delete-favorite-confirmation'">
            {{'areToSure' | translate}}
            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">{{'remove' | translate}}</span>
            </div>
        </div>

        <!-- <div class="display-message p-3" *ngIf="data.action == 'updateRepo'">
            {{'areToSure' | translate}}
            <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">{{'proceed' | translate}}</span>
            </div>
        </div> -->

        <div class="display-message p-3" *ngIf="data.action == 'updateRepo'">
            {{'areYouSureToUpdateRole' | translate}}
            <div *ngIf="data.action === 'updateRepo'"
                class="popup-delete-btn d-flex align-items-center flex-wrap justify-content-center py-2">
                <div (click)="close()" class="btn btn_cancell bg-dark-btn me-3 btn_cancell">{{ 'portfolioCloseBtn' | translate }}
                </div>
                <div (click)="deleteConfirmed()" class="btn btn-success bg-light-btn btn_confirmm">{{
                    'proceed' | translate }}</div>
            </div>
        </div>

        <div class="display-message p-3" *ngIf="data.action == 'portfolio-delete-confirmation' && data.message != ''">
            {{'portfolioDeleteConfirmation' | translate}}</div>
        <div *ngIf="data.action === 'portfolio-delete-confirmation'"
            class="popup-delete-btn d-flex align-items-center flex-wrap justify-content-center py-2">
            <div (click)="close()" class="btn btn_cancell bg-dark-btn btn_cancell">{{ 'portfolioCloseBtn' |
                translate }}
            </div>
            <div (click)="deleteConfirmed()" class="btn btn-success bg-light-btn btn_confirmm me-3">{{
                'portfolioDeletebtn' |
                translate }}</div>
        </div>
    </div>
</div>