<div class="container my-2 webpages_popup">
  <form (ngSubmit)="submitForm()" #aboutForm="ngForm" enctype="multipart/form-data">
    <h2>{{ 'pricingPage' | translate}}</h2>

    <!-- General Information Block -->
    <fieldset class="border p-3 mb-4" *ngIf="!pageId">
      <div class="row">
        <div class="mb-3 col-md-12">
          <label for="langId" class="form-label">{{ 'selectLanguage' | translate }}</label>
          <select class="form-select" id="langId" name="language" [(ngModel)]="formData.language">
            <option value="" disabled selected>{{ 'selectALanguage' | translate }}</option>
            <ng-container *ngIf="languages && languages.length > 0">
              <ng-container *ngFor="let language of languages; let i = index">
                <option [value]="language.id">{{ language.language }}</option>
              </ng-container>
            </ng-container>
          </select>
        </div>
      </div>
    </fieldset>

    <fieldset class="border p-3 mb-4 d-none">
      <div class="row">
        <div class="mb-3 col-md-6">
          <label for="metaTitle" class="form-label">{{ 'metaTitle' | translate }}</label>
          <input type="text" class="form-control" id="metaTitle" name="meta_title" [(ngModel)]="formData.meta_title" />
        </div>
        <div class="mb-3 col-md-6">
          <label for="metaDescription" class="form-label">{{ 'metaDescription' | translate }}</label>
          <textarea class="form-control" id="metaDescription" name="meta_description"
            [(ngModel)]="formData.meta_description" rows="3"></textarea>
        </div>
      </div>
    </fieldset>

    <div class="mb-3">
      <label for="banner_title" class="form-label">{{ 'bannerTitle' | translate }}</label>
      <input type="text" id="banner_title" class="form-control" name="banner_title" [(ngModel)]="formData.banner_title"
        required />
    </div>

    <!-- <div class="mb-3 d-none">
      <label for="bannerBgImg" class="form-label">{{ 'bannerBackgroundImage' | translate }}</label>
      <input type="file" class="form-control" id="bannerBgImg" (change)="handleFileInput($event, 'pricing_banner_img')"
        formControlName="pricing_banner_img" />
      <div *ngIf="bannerBgImagePreview" class="position-relative mt-2">
        <div class="image_cut">
          <img [src]="bannerBgImagePreview" alt="Preview" class="img-thumbnail p-0" style="max-width: 150px;"
            (load)="imageLoaded = true" />
          <div class="close_image" *ngIf="imageLoaded" (click)="removeImage('pricing_banner_img')">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="26px">
              <path
                d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
            </svg>
          </div>
        </div>
      </div>
    </div> -->


    <div class="form-group">
      <label for="pricingTabsTitle">{{ 'pricingTabsTitle' | translate }}</label>
      <input id="pricingTabsTitle" type="text" class="form-control" name="pricing_tabs_title"
        [(ngModel)]="formData.pricing_tabs_title" />
    </div>


    <div class="card my-3">
      <div class="card-header">
        <h1>{{ 'firstTab' | translate }}</h1>
      </div>
      <div class="card-body">
        <div class="form-group mb-3">
          <label for="firstTabMonthlyLabel">{{ 'monthlyLabel' | translate }}</label>
          <input id="firstTabMonthlyLabel" type="text" class="form-control" name="first_tab.monthly_label"
            [(ngModel)]="formData.first_tab.monthly_label" />
        </div>

        <div class="form-group mb-3">
          <label for="firstTabYearlyLabel">{{ 'yearlyLabel' | translate }}</label>
          <input id="firstTabYearlyLabel" type="text" class="form-control" name="first_tab.yearly_label"
            [(ngModel)]="formData.first_tab.yearly_label" />
        </div>

        <div class="form-group mb-3">
          <label for="firstTabPlanName">{{ 'planName' | translate }}</label>
          <input id="firstTabPlanName" type="text" class="form-control" name="first_tab.plan_name"
            [(ngModel)]="formData.first_tab.plan_name" />
        </div>

        <div class="form-group mb-3">
          <label for="firstTabMonthlyPrice12">{{ 'FeaturesTitle' | translate }}</label>
          <input id="firstTabMonthlyPrice12" type="text" class="form-control" name="first_tab.free_features_title"
            [(ngModel)]="formData.first_tab.features_title" />
        </div>
        <div class="form-group mb-3">
          <label for="firstTabMonthlyPrice">{{ 'FeatureSubTitle' | translate }}</label>
          <input id="firstTabMonthlyPrice" type="text" class="form-control" name="first_tab.features_sub_title"
            [(ngModel)]="formData.first_tab.features_sub_title" />
        </div>

        <!-- Amrit Code  -->
        <div class="form-group mb-3" *ngIf="formData.first_tab.free_features_desc">
          <label>{{ 'freeFeatures' | translate }}</label>
          <div *ngFor="let feature1 of formData.first_tab.free_features_desc || []; let first = index; trackBy: trackByFn"
          class="mb-2">
          <div class="row">
            <div class="col-sm-10">
              <!-- <h5>{{feature1}}</h5> -->
                <!-- <h5>{{formData.first_tab.free_features_desc[first]}}</h5> -->
                <input type="text" class="form-control" [(ngModel)]="formData.first_tab.free_features_desc[first]"
                  name="firstTabFeature{{ first }}" placeholder="{{ 'enterFeature' | translate }}" />
              </div>
              <div class="col-sm-2">
                <a *ngIf="formData.first_tab.free_features_desc.length > 1" href="javascript:void(0);"
                  class="btn btn-outline-white ml-3" (click)="removeFirstTabDescFeature(first)"><svg id="users-icon"
                    width="22" class="me-1" height="23" viewBox="0 0 22 23" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M5.49967 17.5589C5.49967 18.5112 6.32467 19.2904 7.33301 19.2904H14.6663C15.6747 19.2904 16.4997 18.5112 16.4997 17.5589V7.16999H5.49967V17.5589ZM17.4163 4.57277H14.208L13.2913 3.70703H8.70801L7.79134 4.57277H4.58301V6.30425H17.4163V4.57277Z"
                      fill="#787878" />
                  </svg>
                  {{'delete' | translate}}
                </a>
              </div>
            </div>
          </div>

          <button type="button" class="next_btn" (click)="addFirstTabDescFeature()">
            {{ 'addFeature' | translate }}
          </button>
        </div>
        <!-- Amrit Code  -->
        <div class="form-group mt-3">
          <label for="firstTabButtonTxt">{{ 'buttonText' | translate }}</label>
          <input id="firstTabButtonTxt" type="text" class="form-control" name="first_tab.btn_txt"
            [(ngModel)]="formData.first_tab.btn_txt" />
        </div>
      </div>
    </div>

    <!-- Second Tab Inputs -->
    <div class="card my-3">
      <div class="card-header"></div>
      <h1>
        {{ 'secondTab' | translate }}
      </h1>
      <div class="card-body">
        <div class="form-group mb-3">
          <label for="secTabMonthlyLabel">{{ 'monthlyLabel' | translate }}</label>
          <input id="secTabMonthlyLabel" type="text" class="form-control" name="sec_tab.monthly_label"
            [(ngModel)]="formData.sec_tab.monthly_label" />
        </div>

        <div class="form-group mb-3">
          <label for="secTabYearlyLabel">{{ 'yearlyLabel' | translate }}</label>
          <input id="secTabYearlyLabel" type="text" class="form-control" name="sec_tab.yearly_label"
            [(ngModel)]="formData.sec_tab.yearly_label" />
        </div>

        <div class="form-group mb-3">
          <label for="secTabPlanName">{{ 'planName' | translate }}</label>
          <input id="secTabPlanName" type="text" class="form-control" name="sec_tab.plan_name"
            [(ngModel)]="formData.sec_tab.plan_name" />
        </div>

        <div class="form-group mb-3">
          <label for="firstTabMonthlyPrice1122">{{ 'FeaturesTitle' | translate }}</label>
          <input id="firstTabMonthlyPrice1122" type="text" class="form-control" name="sec_tab.free_features_title"
            [(ngModel)]="formData.sec_tab.features_title" />
        </div>
        <div class="form-group mb-3">
          <label for="firstTabMonthlyPrice">{{ 'FeatureSubTitle' | translate }}</label>
          <input id="firstTabMonthlyPrice" type="text" class="form-control" name="sec_tab.features_sub_title"
            [(ngModel)]="formData.sec_tab.features_sub_title" />
        </div>


        <!-- Additional Feature Sections for Second Tab -->
        <div class="form-group mb-3">
          <label>{{ 'freeFeatures' | translate }}</label>
          <div *ngFor="let feature2 of formData.sec_tab.free_features_desc || []; let i = index; trackBy: trackByFn2"
            class="mb-2">
            <div class="row">
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="formData.sec_tab.free_features_desc[i]"
                  name="SecTabFeature{{ i }}" placeholder="{{ 'enterFeature' | translate }}" />
              </div>
              <div class="col-sm-2">
                <a *ngIf="formData.sec_tab.free_features_desc.length > 1" href="javascript:void(0);"
                  class="btn btn-outline-white ml-3" (click)="removeSecTabDescFeature(i)"><svg id="users-icon"
                    width="22" class="me-1" height="23" viewBox="0 0 22 23" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M5.49967 17.5589C5.49967 18.5112 6.32467 19.2904 7.33301 19.2904H14.6663C15.6747 19.2904 16.4997 18.5112 16.4997 17.5589V7.16999H5.49967V17.5589ZM17.4163 4.57277H14.208L13.2913 3.70703H8.70801L7.79134 4.57277H4.58301V6.30425H17.4163V4.57277Z"
                      fill="#787878" />
                  </svg>
                  {{'delete' | translate}}
                </a>
              </div>
            </div>
          </div>
          <!--  -->

          <!--  -->
          <button type="button" class="next_btn" (click)="addSecTabDescFeature()">{{ 'addFeature' | translate
            }}</button>
        </div>


        <div class="form-group mt-3">
          <label for="secTabButtonTxt">{{ 'buttonText' | translate }}</label>
          <input id="secTabButtonTxt" type="text" class="form-control" name="sec_tab.btn_txt"
            [(ngModel)]="formData.sec_tab.btn_txt" />
        </div>
      </div>
    </div>


    <!-- Third Tab Inputs -->
    <div class="card my-3">
      <div class="card-header">
        <h1>{{ 'thirdTab' | translate }}</h1>
      </div>
      <div class="card-body">
        <div class="form-group mb-3">
          <label for="thirdTabMonthlyLabel">{{ 'monthlyLabel' | translate }}</label>
          <input id="thirdTabMonthlyLabel" type="text" class="form-control" name="third_tab.monthly_label"
            [(ngModel)]="formData.third_tab.monthly_label" />
        </div>

        <div class="form-group mb-3">
          <label for="thirdTabYearlyLabel">{{ 'yearlyLabel' | translate }}</label>
          <input id="thirdTabYearlyLabel" type="text" class="form-control" name="third_tab.yearly_label"
            [(ngModel)]="formData.third_tab.yearly_label" />
        </div>

        <div class="form-group mb-3">
          <label for="thirdTabPlanName">{{ 'planName' | translate }}</label>
          <input id="thirdTabPlanName" type="text" class="form-control" name="third_tab.plan_name"
            [(ngModel)]="formData.third_tab.plan_name" />
        </div>
        <div class="form-group mb-3">
          <label for="firstTabMonthlyPrice112233">{{ 'FeaturesTitle' | translate }}</label>
          <input id="firstTabMonthlyPrice112233" type="text" class="form-control" name="third_tab.free_features_title"
            [(ngModel)]="formData.third_tab.features_title" />
        </div>
        <div class="form-group mb-3">
          <label for="firstTabMonthlyPrice">{{ 'FeatureSubTitle' | translate }}</label>
          <input id="firstTabMonthlyPrice" type="text" class="form-control" name="third_tab.features_sub_title"
            [(ngModel)]="formData.third_tab.features_sub_title" />
        </div>



        <!-- Features Section -->
        <div class="form-group mb-3">
          <label>{{ 'freeFeatures' | translate}}</label>
          <div *ngFor="let feature3 of formData.third_tab.free_features_desc || []; let i = index; trackBy: trackByFn3"
            class="mb-2">

            <div class="row">
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="formData.third_tab.free_features_desc[i]"
                  name="thirdTabFeature{{ i }}" placeholder="{{ 'enterFeature' | translate }}" />
              </div>
              <div class="col-sm-2">
                <a *ngIf="formData.third_tab.free_features_desc.length > 1" href="javascript:void(0);"
                  class="btn btn-outline-white ml-3" (click)="removeThirdTabDescFeature(i)"><svg id="users-icon"
                    width="22" class="me-1" height="23" viewBox="0 0 22 23" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M5.49967 17.5589C5.49967 18.5112 6.32467 19.2904 7.33301 19.2904H14.6663C15.6747 19.2904 16.4997 18.5112 16.4997 17.5589V7.16999H5.49967V17.5589ZM17.4163 4.57277H14.208L13.2913 3.70703H8.70801L7.79134 4.57277H4.58301V6.30425H17.4163V4.57277Z"
                      fill="#787878" />
                  </svg>
                  {{'delete' | translate}}
                </a>
              </div>
            </div>
            <!-- <input type="text" class="form-control " [(ngModel)]="formData.third_tab.free_features_desc[i]"
              name="thirdTabFeature{{ i }}" placeholder="{{ 'enterFeature' | translate }}" />
            <button type="button" class="next_btn btn-danger mt-2 " (click)="removeThirdTabDescFeature(i)"
              *ngIf="formData.third_tab.free_features_desc.length > 1">{{ 'removeFeature' | translate }}</button> -->
          </div>
          <button type="button" class="next_btn btn-success" (click)="addThirdTabDescFeature()">{{ 'addFeature' |
            translate }}</button>

        </div>



        <div class="form-group mt-3">
          <label for="thirdTabButtonTxt">{{ 'buttonText' | translate }}</label>
          <input id="thirdTabButtonTxt" type="text" class="form-control" name="third_tab.btn_txt"
            [(ngModel)]="formData.third_tab.btn_txt" />
        </div>
      </div>
    </div>

    <button type="submit" class="next_btn mb-2 float-end">
      <ng-container *ngIf="isLoading; else loginText">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="sr-only">Loading...</span>
      </ng-container>
      <ng-template #loginText>
        {{ 'submit' | translate }}
      </ng-template>
    </button>
  </form>
</div>