<!-- message-popup.component.html -->
<div class="msg-popup-dialog p-3">
    <div class="msg-popup-close">
        <!-- close-icon-circle.png -->
        <img *ngIf="data.action === 'delete-account-close' && theme !='dark'"
            src="../../../assets/images/close-grey-icon.png" alt="" (click)="closeAccount()" />
        <img *ngIf="data.action != 'delete-account-close' && theme !='dark'"
            src="../../../assets/images/close-grey-icon.png" alt="" (click)="close()" />

        <img *ngIf="data.action === 'delete-account-close' && theme=='dark'"
            src="../../../assets/images/carbon_close-outline.svg" alt="" (click)="closeAccount()" />
        <img *ngIf="data.action != 'delete-account-close' && theme=='dark'"
            src="../../../assets/images/carbon_close-outline.svg" alt="" (click)="close()" />
    </div>
    <div class="msg-popup-content p-3 pt-1" [ngClass]="{'px-5':data.action == 'notify'}">
        <div class="display-message" [ngClass]="{'popop_no_title':data.action == 'display'}">
            {{ data.message }}
        </div>
        <div *ngIf="data.action === 'delete-confirmation'"
            class="popup-delete-btn d-flex align-items-center flex-wrap justify-content-center py-2">
            <div (click)="close()" class="btn btn-danger bg-dark-btn btn_cancell">{{ 'close' | translate }}</div>
            <div (click)="deleteConfirmed()" class="btn btn-success me-sm-3 bg-light-btn btn_confirmm">{{ 'confirm' |
                translate }}</div>
        </div>
        <div *ngIf="data.action === 'newsletter-confirmation'"
            class="popup-delete-btn d-flex align-items-center flex-wrap justify-content-center py-2">
            <div (click)="close()" class="btn btn-danger bg-dark-btn btn_cancell">{{ 'close' | translate }}</div>
            <div (click)="newsletterConfirmed()" class="btn btn-success me-sm-3 bg-light-btn btn_confirmm">{{ 'confirm'
                | translate }}</div>
        </div>
        <div *ngIf="data.action === 'activity-confirmation'"
            class="popup-delete-btn d-flex align-items-center flex-wrap justify-content-center py-2">
            <div (click)="close()" class="btn btn-danger bg-dark-btn btn_cancell">{{ 'close' | translate }}</div>
            <div (click)="activityConfirmed()" class="btn btn-success me-sm-3 bg-light-btn btn_confirmm">{{ 'confirm' |
                translate }}</div>
        </div>
        <div *ngIf="data.action === 'remove-fav-confirmation'"
            class="popup-delete-btn d-flex align-items-center flex-wrap justify-content-center py-2">
            <div (click)="close()" class="btn btn-danger bg-dark-btn btn_cancell">{{ 'cancelRemoveFavBtn' | translate }}
            </div>
            <div (click)="deleteConfirmed()" class="btn btn-success me-sm-3 bg-light-btn btn_confirmm">{{ 'removeFavbtn'
                | translate }}</div>
        </div>
        <!-- <div *ngIf="data.action === 'delete-account-close'"
            class="popup-delete-btn d-flex align-items-center mx-5 px-5 py-2">
            <div (click)="closeAccount()">{{ 'close' | translate }}</div>
        </div> -->
        <!--  -->
        <div *ngIf="data.action === 'delete-sighting-confirmation'"
            class="popup-delete-btn d-flex align-items-center flex-wrap justify-content-center py-2">
            <div (click)="close()" class="btn btn-danger bg-dark-btn btn_cancell">{{ 'close' | translate }}</div>
            <div (click)="deleteConfirmed()" class="btn btn-success me-sm-3 bg-light-btn btn_confirmm">{{ 'confirm' |
                translate }}</div>
        </div>
        <div *ngIf="data.action === 'delete-Teamplayer-confirmation'"
            class="popup-delete-btn d-flex align-items-center flex-wrap justify-content-center py-2">
            <div (click)="close()" class="btn btn-danger bg-dark-btn btn_cancell">{{ 'cancelRemoveFavBtn' | translate }}
            </div>
            <div (click)="deleteConfirmed()" class="btn btn-success me-sm-3 bg-light-btn btn_confirmm">{{ 'removeFavbtn'
                | translate }}</div>
        </div>

        <div class="display-message" *ngIf="data.action == 'update_event'">
            {{'areYouSureToUpdateReviewTraining' | translate}}
            <!-- <div class="popup-delete-btn">
                <span (click)="deleteConfirmed()">{{'confirm' | translate}}</span>
            </div> -->
            <div class="popup-delete-btn popup-delete-btn d-flex align-items-center justify-content-center py-2">
                <div (click)="close()" class="btn btn-danger bg-dark-btn btn_cancell me-3">{{ 'close' |
                    translate }}</div>
                <span (click)="deleteConfirmed()"
                    class="btn btn-success bg-light-btn btn_confirmm">{{'update' | translate}}</span>
            </div>
        </div>
    </div>
</div>