<div class="p-0 parent-popup">
  <div class="p-3 popup_header">
    <h4 class="code-text mb-0 text-center">{{ 'news' | translate }}</h4>
    <!-- <img src="../../../assets/images/close-icon-circle.png" alt="" class="close-img" (click)="remove()" /> -->
    <div class="close-img" *ngIf='theme!="dark"'>
      <img src="../../../assets/images/carbon_close-outline-light.svg" alt="" class="" (click)="remove()" />
    </div>
    <div class="close-img" *ngIf='theme=="dark"'>
      <img src="../../../assets/images/carbon_close-outline.svg" alt="" class="" (click)="remove()" />
    </div>
  </div>
  <div class="popup__body news_content_form_popup px-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group template-name-input">
            <label class="text-size">{{ 'slug' | translate }}:</label>
            <input type="text" class="form-control template-name-inputField" [(ngModel)]="slug">
            <div *ngIf="errorMsg.slug" class="error-msg">{{ errorMsg.slug }}</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="text-size" *ngIf="!featuredImage && !UploadedfeaturedImage">
              {{ 'featuredImage' | translate }}
            </label>
            <div class="btn-group" *ngIf="!featuredImage && !UploadedfeaturedImage">
              <input type="file" class="form-control" (change)="onProfileFileChange($event)" accept="image/*" />
            </div>
            <div class="preview-image-container position-relative">
              <label *ngIf="UploadedfeaturedImage" class="text-size">&nbsp;</label>
              <label *ngIf="featuredImage" class="text-size">&nbsp;</label>
              <img *ngIf="UploadedfeaturedImage" [src]="baseUrl + UploadedfeaturedImage" alt="Preview"
                class="image-preview" />
              <button *ngIf="UploadedfeaturedImage && UploadedfeaturedImage" (click)="closeUploadedfeaturedImage()"
                class="ad-close-button d-block">
                <i class="fa-solid fa-xmark"></i>
              </button>
              <img *ngIf="featuredImage" [src]="featuredImage" alt="Preview" class="image-preview" />
              <button *ngIf="featuredImage && featuredImage" (click)="closefeaturedImage()"
                class="ad-close-button d-block">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <mat-tab-group [(selectedIndex)]="selectedLang">
        <mat-tab *ngFor="let lang of langs; let i = index" [label]="lang.language" [ngClass]="'text-size'">
          <ng-template matTabContent>
            <div class="mt-4">
              <div class="row">
                <!-- Name -->
                <div class="col-lg-6">
                  <div class="form-group template-name-input">
                    <label class="text-size">{{ 'name' | translate }}:</label>
                    <input type="text" class="form-control template-name-inputField" [(ngModel)]="titles[lang.slug]">
                    <div *ngIf="errorMsg.title" class="error-msg">{{ errorMsg.title }}</div>
                  </div>
                </div>
                <!-- Title -->
                <div class="col-lg-6">
                  <div class="form-group template-name-input">
                    <label class="text-size"
                      style="margin-right: 5px;">{{ 'metaTitle' | translate }}:</label>
                    <input type="text" class="form-control template-name-inputField"
                      [(ngModel)]="meta_titles[lang.slug]">
                    <div *ngIf="errorMsg.meta_title" class="error-msg">{{ errorMsg.meta_title }}</div>
                  </div>
                </div>
                <!-- Description -->
                <div class="col-lg-6">
                  <div class="form-group template-name-input">
                    <label class="text-size">{{ 'metaDescription' | translate }}:</label>
                    <input type="text" class="form-control template-name-inputField add_custom_width"
                      [(ngModel)]="meta_descriptions[lang.slug]">
                    <div *ngIf="errorMsg.meta_description" class="error-msg" style="padding-left:60px;">
                      {{ errorMsg.meta_description }}</div>
                  </div>
                </div>

                <!-- Featured Image -->
                <div class="col-lg-6 d-none">
                  <div class="form-group">
                    <label class="text-size">
                      {{ 'featuredImage' | translate }}({{ lang.slug }}):
                    </label>
                    <div class="btn-group" *ngIf="!imagePreview[lang.slug] && !imageUrl[lang.slug]">
                      <input type="file" class="form-control" (change)="onImageChange($event, lang.slug)"
                        accept="image/*" />
                    </div>


                    <div *ngIf="imagePreview[lang.slug] || imageUrl[lang.slug]"
                      class="preview-image-container position-relative">
                      <img *ngIf="imagePreview[lang.slug]" [src]="imagePreview[lang.slug]" alt="Preview"
                        class="image-preview" />
                      <img *ngIf="!imagePreview[lang.slug] && imageUrl[lang.slug]" [src]="baseUrl + imageUrl[lang.slug]"
                        alt="Preview" class="image-preview" />

                      <button *ngIf="imagePreview[lang.slug]" (click)="closeImage(lang.slug)"
                        class="ad-close-button d-block">
                        <i class="fa-solid fa-xmark"></i>
                      </button>
                      <button *ngIf="!imagePreview[lang.slug] && imageUrl[lang.slug]"
                        (click)="closeImage(lang.slug, imageUrl[lang.slug])" class="ad-close-button d-block">
                        <i class="fa-solid fa-xmark"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- Editor -->
                <div class="col-12">
                  <div class="form-group">
                    <label class="text-size">
                      {{ 'contentFor' | translate }}({{ lang.slug }}):
                    </label>
                    <div class="NgxEditor__Wrapper">
                      <editor [(ngModel)]="allContent[lang.slug]" [init]="editorConfig" class="ngx-editor"></editor>
                      <div *ngIf="errorMsg.content" class="error-msg" style="padding-left:20px;">
                        {{ errorMsg.content }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <div class="dialog-actions d-flex justify-content-between popup_footer p-3 mobile_btn_wrap">
    <div>
      <a class="btn btn-delete text-danger" (click)="close()">{{ 'cancel' | translate }}</a>
    </div>
    <div>
      <button class="btn Launch px-5" *ngIf="!blog" (click)="createBlog()" [disabled]="isBtnLoading">
        <ng-container *ngIf="isBtnLoading; else loginText">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span class="sr-only">Loading...</span>
        </ng-container>
        <ng-template #loginText>
          {{ 'createAndLaunch' | translate }}
        </ng-template>
      </button>
      <button class="btn Launch px-5" *ngIf="blog" (click)="updateBlog()" [disabled]="isBtnLoading">
        <ng-container *ngIf="isBtnLoading; else loginText">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span class="sr-only">Loading...</span>
        </ng-container>
        <ng-template #loginText>
          {{ 'update' | translate }}
        </ng-template>
      </button>
    </div>
  </div>
</div>
