<div class="p-0 parent-popup">
  <div class="p-3 popup_header">
    <h4 class="code-text mb-0 text-center">{{ 'news' | translate }}</h4>
    <img src="../../../assets/images/close-icon-circle.png" alt="" class="close-img" (click)="remove()" />
  </div>
  <div class="popup__body news_content_form_popup px-0">
    <div class="container">

      <div class="row">
        <!-- <div class="col-12 col-sm-6 col-lg-5">
          <div class="form-group template-name-input">
            <label class="text-size">{{ 'name' | translate }}:</label>
            <input type="text" class="form-control template-name-inputField" [(ngModel)]="title">
            <div *ngIf="errorMsg.title" class="error-msg">{{errorMsg.title}}</div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-5">
          <div class="form-group template-name-input">
            <label class="text-size" style="margin-right: 5px;">{{ 'metaTitle' | translate }}:</label>
            <input type="text" class="form-control template-name-inputField" [(ngModel)]="meta_title">
            <div *ngIf="errorMsg.meta_title" class="error-msg">{{errorMsg.meta_title}}</div>
          </div>
        </div> -->
        <div class="col-12 col-sm-6 col-lg-5">
          <div class="form-group template-name-input">
            <label class="text-size">{{ 'slug' | translate }}:</label>
            <input type="text" class="form-control template-name-inputField" [(ngModel)]="slug">
            <div *ngIf="errorMsg.slug" class="error-msg">{{errorMsg.slug}}</div>
          </div>
        </div>
        <!-- <div class="col-12 col-sm-6 col-lg-5">
          <div class="form-group template-name-input">
            <label class="text-size">{{ 'metaDescription' | translate }}:</label>
            <input type="text" class="form-control template-name-inputField add_custom_width"
              [(ngModel)]="meta_description">
            <div *ngIf="errorMsg.meta_description" class="error-msg" style="padding-left:60px;">
              {{errorMsg.meta_description}}</div>
          </div>
        </div> -->
      </div>


      <!-- <div class="col-12 col-sm-6 col-lg-5">
        <div class="form-group">
          <label class="text-size">{{ 'language' | translate }}</label>
          <div class="btn-group">
            <mat-select [(ngModel)]="selectedLang" class="mat-select-div form-control ">
              @for (lang of langs; track lang) {
              <mat-option [value]="lang.id" *ngIf="selectedLang == lang.id" selected>{{lang.language}}</mat-option>
              <mat-option [value]="lang.id" *ngIf="selectedLang != lang.id">{{lang.language}}</mat-option>
              }
            </mat-select>
            <svg class="dropdown-icon" width="9" height="5" viewBox="0 0 9 5" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M4.08333 3.25838L0.995812 0.170854C0.768006 -0.0569515 0.39866 -0.0569515 0.170854 0.170854C-0.0569515 0.39866 -0.0569515 0.768006 0.170854 0.995812L3.67085 4.49581C3.89866 4.72362 4.26801 4.72362 4.49581 4.49581L7.99581 0.995812C8.22362 0.768006 8.22362 0.39866 7.99581 0.170854C7.76801 -0.0569515 7.39866 -0.0569515 7.17085 0.170854L4.08333 3.25838Z"
                fill="#646464" />
            </svg>
          </div>
        </div>
      </div> -->


      <!-- <div class="col-12 col-sm-6 col-lg-5">
        <div class="form-group">
          <label class="text-size">{{ 'status' | translate }}:</label>
          <div class="btn-group">
            <mat-select [(ngModel)]="status" class="mat-select-div form-control ">
              <mat-option [value]="'published'">{{ 'publish' | translate }}</mat-option>
              <mat-option [value]="'draft'">{{ 'draft' | translate }}</mat-option>
            </mat-select>
          </div>
        </div>
      </div> -->

      <mat-tab-group [(selectedIndex)]="selectedLang">
        <mat-tab *ngFor="let lang of langs; let i = index" [label]="lang.language">
          <ng-template matTabContent>
            <div class="container">
              
              <div class="row">
  
                <!-- Name -->
                <div class="col-lg-6">
                  <div class="form-group template-name-input">
                    <label class="text-size">{{ 'name' | translate }}:</label>
                    <input type="text" class="form-control template-name-inputField" [(ngModel)]="titles[lang.slug]">
                    <div *ngIf="errorMsg.title" class="error-msg">{{errorMsg.title}}</div>
                  </div>
                </div>
                <!-- Title -->
                <div class="col-lg-6">
                  <div class="form-group template-name-input">
                    <label class="text-size" style="margin-right: 5px;">{{ 'metaTitle' | translate }}:</label>
                    <input type="text" class="form-control template-name-inputField" [(ngModel)]="meta_titles[lang.slug]">
                    <div *ngIf="errorMsg.meta_title" class="error-msg">{{errorMsg.meta_title}}</div>
                  </div>
                </div>
                <!-- Description -->
                <div class="col-lg-6">
                  <div class="form-group template-name-input">
                    <label class="text-size">{{ 'metaDescription' | translate }}:</label>
                    <input type="text" class="form-control template-name-inputField add_custom_width"
                      [(ngModel)]="meta_descriptions[lang.slug]">
                    <div *ngIf="errorMsg.meta_description" class="error-msg" style="padding-left:60px;">
                      {{errorMsg.meta_description}}</div>
                  </div>
                </div>
  
                <!-- Featured Image -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="text-size">
                      {{ 'featuredImage' | translate }}({{ lang.slug }}):
                    </label>
                    <div class="btn-group">
                      <input type="file" class="form-control" (change)="onImageChange($event, lang.slug)"
                        accept="image/*" />
                    </div>
                  </div>
                </div>
  
                <!-- Editor -->
                <div class="col-12">
                  <div class="form-group">
                    <label class="text-size">
                      {{ 'contentFor' | translate }}({{ lang.slug }}):
                    </label>
                    <div class="NgxEditor__Wrapper">
                      <ngx-editor-menu [editor]="editors[lang.slug]" [colorPresets]="colorPresets"></ngx-editor-menu>
                      <ngx-editor [editor]="editors[lang.slug]" class="editor-width" [(ngModel)]="allContent[lang.slug]"
                        [disabled]="false" [placeholder]="'editors.placeholder' | translate"></ngx-editor>
                      <div *ngIf="errorMsg.content" class="error-msg" style="padding-left:20px;">
                        {{ errorMsg.content }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>



    </div>
  </div>

  <div class="dialog-actions d-flex justify-content-between popup_footer p-3 mobile_btn_wrap">
    <div>
      <a class="btn btn-delete text-danger" (click)="close()">{{ 'cancel' | translate }}</a>
    </div>
    <div>
      <a class="btn Launch px-5" *ngIf="!blog" (click)="createBlog()">{{ 'createAndLaunch' | translate }}</a>
      <a class="btn Launch px-5" *ngIf="blog" (click)="updateBlog()">{{ 'update' | translate }}</a>
    </div>
  </div>
</div>