<section class="website-code">
    <div class="main">
        <!-- <app-header></app-header> -->
        <div class="banner py-0"
            [style.background-image]="'url(' + baseUrl + (currentTheme === 'dark' ? pageData?.banner_bg_img_dark_mode : pageData?.banner_bg_img) + ')'">
            <!-- <div class="banner py-0" style="background-image: url('{{baseUrl + pageData?.banner_bg_img}}');"> -->
            <div class="overlay1"></div>

            <div *ngIf="checkActive('skyscraper')  && !isLoading" class="skyscraper-left">
                <a href="{{advertisementData?.skyscraper?.redirect_url}}" target="_blank">
                <img [src]="advertisemnet_base_url + advertisementData?.skyscraper?.featured_image">
                </a>
                <button *ngIf="!btnLoading" (click)="closeAd('skyscraper')" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
                <div class="countdown" *ngIf="btnLoading">{{countdown}}</div>
              </div>
        
              <div *ngIf="checkActive('wide_skyscraper')  && !isLoading" class="skyscraper-right">
                <a href="{{advertisementData?.wide_skyscraper?.redirect_url}}" target="_blank">
                <img [src]="advertisemnet_base_url + advertisementData?.wide_skyscraper?.featured_image">
                </a>
                <button *ngIf="!btnLoading" (click)="closeAd('wide_skyscraper')" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
                <div class="countdown" *ngIf="btnLoading">{{countdown}}</div>
              </div>



            <div class="container">
                <div class="banner-data1">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-12">
                            <div class="banner-left">

                                <h2 class="banner-heading">{{pageData?.banner_title}}</h2>
                                <h5 class="banner-heading5" [innerHTML]="pageData?.banner_desc"></h5>
                                <a class="btn btn-register" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal1">{{pageData?.banner_btn_txt}}
                                </a>

                            </div>
                        </div>

                        <div class="col-lg-8 col-md-12 col-12">
                            <div class="banner_image_combo">
                                <img *ngIf="pageData?.banner_img != '' && currentTheme == 'light' && !isLoading"
                                    src="{{baseUrl + pageData?.banner_img}}" />
                                <img *ngIf="pageData?.banner_img_dark_mode != '' && currentTheme == 'dark' && !isLoading"
                                    src="{{baseUrl + pageData?.banner_img_dark_mode}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <div class="container">
      <div *ngIf="checkActive('leaderboard') || checkActive('banner')" class="advertisment advirtismnt_2">
        <div *ngIf="isExists('leaderboard') && checkActive('leaderboard')  && !isLoading" class="leaderboard-club-image advirtismnt_2_large">
            <a href="{{advertisementData?.leaderboard?.redirect_url}}" target="_blank">
            <img [src]="advertisemnet_base_url + advertisementData?.leaderboard?.featured_image">
          </a>
            <button *ngIf="!btnLoading" (click)="closeAd('leaderboard')" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
            <div class="countdown" *ngIf="btnLoading">{{countdown}}</div>
        </div>
        <div *ngIf="!isExists('leaderboard') && checkActive('banner')  && !isLoading" class="leaderboard-club-image advirtismnt_2_small">
            <a href="{{advertisementData?.banner?.redirect_url}}" target="_blank">
            <img [src]="advertisemnet_base_url + advertisementData?.banner?.featured_image">
          </a>
            <button *ngIf="!btnLoading" (click)="closeAd('banner')" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
            <div class="countdown" *ngIf="btnLoading">{{countdown}}</div>
        </div>
      </div>
    </div>

        <div class="club-scout py_0">
            <div class="container">
                <h4 class="club-heading4 pb-4">{{pageData?.club_nd_scout_section_title}}</h4>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 mb-4">
                        <div class="club_text">
                            <img class="light-images" src="./assets/images/club-group1.svg">
                            <img class="dark-images" src="./assets/images/dark-group1.svg">
                            <p class="club-text1">{{pageData?.club_nd_scout_section?.first_tab?.txt}}</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-4">
                        <div class="club_text">
                            <img class="light-images" src="./assets/images/club-group2.svg">
                            <img class="dark-images" src="./assets/images/dark-group2.svg">
                            <p class="club-text1">{{pageData?.club_nd_scout_section?.sec_tab?.txt}}</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 mb-4">
                        <div class="club_text">
                            <img class="light-images" src="./assets/images/club-group3.svg">
                            <img class="dark-images" src="./assets/images/dark-group3.svg">
                            <p class="club-text1">{{pageData?.club_nd_scout_section?.third_tab?.txt}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="features py_0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="left-accordion">
                            <h3 class="feature-heading3">{{pageData?.feature_sctn_title}}</h3>
                            <div class="accordion" id="accordionExample">
                                <ng-container *ngFor="let feature of pageData.feature_sctn; let i = index">
                                    <div class="accordion-item" (click)="getArrayItemByIndex(i,'dark_image')">
                                        <div class="accordion-flex" data-bs-toggle="collapse"
                                            [attr.data-bs-target]="'#collapse' + (i + 1)" aria-expanded="false"
                                            [attr.aria-controls]="'collapse' + (i + 1)">
                                            <img class="light-feature1" src="{{baseUrl + feature.icon}}">
                                            <img class="dark-feature1" src="{{baseUrl + feature.dark_icon}}">
                                            <h2 class="accordion-header" (click)="getArrayItemByIndex(i,'dark_image')">
                                                {{feature.title}}
                                            </h2>
                                            <button class="accordion-button" type="button"
                                                [class.show]="activeIndex == i" data-bs-toggle="collapse"
                                                [attr.data-bs-target]="'#collapse' + (i + 1)" aria-expanded="false"
                                                [attr.aria-controls]="'collapse' + (i + 1)"
                                                [ngClass]="{'collapsed' : activeIndex != i}">
                                            </button>
                                        </div>
                                        <div id="collapse{{i + 1}}" class="accordion-collapse collapse"
                                            data-bs-parent="#accordionExample" [class.show]="activeIndex == i">
                                            <div class="accordion-body">
                                                <p class="feature-text">{{feature.desc}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="club_page_accordion">
                            <div class="feature-players">
                                <div class="talent_tab_image">
                                    <img class="single_tab_img light-images" src="{{currentFeatureImage}}">
                                    <img class="single_tab_img dark-images" src="{{currentFeatureImage}}">
                                </div>
                            </div>
                            <!-- <div class="feature-players" *ngIf="activeAccordionIndex === 1">
                                <div class="talent_tab_image">
                                    <img class="single_tab_img light-images" src="./assets/images/foto-club-dark-1.png">
                                    <img class="single_tab_img dark-images" src="./assets/images/foto-club-dark-1.png">
                                </div>
                            </div>
                            <div class="club-offer" *ngIf="activeAccordionIndex === 2">
                                <div class="talent_tab_image">
                                    <img class="single_tab_img light-images" src="./assets/images/foto-club-dark-2.png">
                                    <img class="single_tab_img dark-images" src="./assets/images/foto-club-dark-2.png">
                                </div>
                            </div>
                            <div *ngIf="activeAccordionIndex === 3">
                                <div class="talent_tab_image">
                                    <img class="single_tab_img light-images" src="./assets/images/foto-club-dark-3.png">
                                    <img class="single_tab_img dark-images" src="./assets/images/foto-club-dark-3.png">
                                </div>
                            </div>
                            <div *ngIf="activeAccordionIndex === 4">
                                <div class="talent_tab_image">
                                    <img class="single_tab_img light-images" src="./assets/images/foto-club-dark-4.png">
                                    <img class="single_tab_img dark-images" src="./assets/images/foto-club-dark-4.png">
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- mobile-features -->
        <div class="features1 py_0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="left-accordion">
                            <h3 class="feature-heading3">{{pageData?.feature_sctn_title}}</h3>
                            <div class="accordion" id="accordionExample">
                                <!-- <ng-container *ngFor="let feature of pageData.feature_sctn; let i = index">
                                    <div class="accordion-item" (click)="setActiveAccordion(1)">
                                        <div class="accordion-item" (click)="setActiveAccordion(i+1)">
                                            <div class="accordion-flex" data-bs-toggle="collapse"
                                                [attr.data-bs-target]="'#collapseOne' + i" aria-expanded="false"
                                                [attr.aria-controls]="'collapseOne' + i">
                                                <img class="light-feature1" src="{{baseUrl + feature.icon}}">
                                                <img class="dark-feature1" src="{{baseUrl + feature.dark_icon}}">
                                                <h2 class="accordion-header">
                                                    {{feature.title}}
                                                </h2>
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    [attr.data-bs-target]="'#collapseOne' + i" aria-expanded="false"
                                                    [attr.aria-controls]="'collapseOne' + i">
                                                </button>
                                            </div>
                                            <div [id]="'collapseOne' + i" class="accordion-collapse collapse"
                                                data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <p class="feature-text">{{feature.desc}}
                                                    </p>
                                                    <div class="talent_tab_image">
                                                        <img class="single_tab_img light-images"
                                                            src="{{baseUrl + feature.image}}">
                                                        <img class="single_tab_img dark-images"
                                                            src="{{baseUrl + feature.dark_image	}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container> -->
                                <!-- <div class="accordion-item" (click)="setActiveAccordion(1)">
                                    <div class="accordion-flex" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        <img class="light-feature1" src="./assets/images/talent-feature-icon.svg">
                                        <img class="dark-feature1" src="./assets/images/talent-dark-f1.svg">
                                        <h2 class="accordion-header">
                                            Access to Talent Database
                                        </h2>
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        </button>
                                    </div>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p class="feature-text">Browse a comprehensive database of football talents
                                                with detailed profiles and filtering options.</p>
                                            <div class="talent_tab_image">
                                                <img class="single_tab_img light-images"
                                                    src="./assets/images/foto-club-dark-1.png">
                                                <img class="single_tab_img dark-images"
                                                    src="./assets/images/foto-club-dark-1.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item" (click)="setActiveAccordion(2)">
                                    <div class="accordion-flex" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                        <img class="light-feature2" src="./assets/images/talent-feature-icon2.svg">
                                        <img class="dark-feature2" src="./assets/images/talent-dark-f2.svg">
                                        <h2 class="accordion-header">Detailed Player Profiles</h2>
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                        </button>
                                    </div>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p class="feature-text"> View in-depth profiles of players, including
                                                statistics, achievements, and personal information.</p>
                                            <div class="talent_tab_image">
                                                <img class="single_tab_img light-images"
                                                    src="./assets/images/foto-club-dark-2.png">
                                                <img class="single_tab_img dark-images"
                                                    src="./assets/images/foto-club-dark-2.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item" (click)="setActiveAccordion(3)">
                                    <div class="accordion-flex" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <img class="light-feature3" src="./assets/images/talent-feature-icon3.svg">
                                        <img class="dark-feature3" src="./assets/images/talent-dark-f3.svg">
                                        <h2 class="accordion-header">
                                            Highlight Videos and Match Reports
                                        </h2>
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">
                                        </button>
                                    </div>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p class="feature-text">Access highlight videos and match reports to stay
                                                updated on player performances.</p>
                                            <div class="talent_tab_image">
                                                <img class="single_tab_img light-images"
                                                    src="./assets/images/foto-club-dark-3.png">
                                                <img class="single_tab_img dark-images"
                                                    src="./assets/images/foto-club-dark-3.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item" (click)="setActiveAccordion(4)">
                                    <div class="accordion-flex" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        <img class="light-feature4" src="./assets/images/talent-feature-icon4.svg">
                                        <img class="dark-feature4" src="./assets/images/talent-dark-f4.svg">
                                        <h2 class="accordion-header" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseFour">
                                            Global Networking Opportunities
                                        </h2>
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                            aria-expanded="false" aria-controls="collapseFour">
                                        </button>
                                    </div>
                                    <div id="collapseFour" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <p class="feature-text">Connect with clubs, scouts, and players from around
                                                the world for unique networking opportunities.</p>
                                            <div class="talent_tab_image">
                                                <img class="single_tab_img light-images"
                                                    src="./assets/images/foto-club-dark-4.png">
                                                <img class="single_tab_img dark-images"
                                                    src="./assets/images/foto-club-dark-4.png">
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- New Code By amrit -->
                                <ng-container *ngFor="let feature of pageData.feature_sctn; let i = index">
                                    <div class="accordion-item">
                                        <!-- Main Accordion Item Click -->
                                        <div (click)="setActiveAccordionNew(i)" class="accordion-flex"
                                            data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseOne' + i"
                                            aria-expanded="false" [attr.aria-controls]="'collapseOne' + i">
                                            <img class="light-feature1" src="{{ baseUrl + feature.icon }}">
                                            <img class="dark-feature1" src="{{ baseUrl + feature.dark_icon }}">
                                            <h2 class="accordion-header">
                                                {{ feature.title }}
                                            </h2>
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                [ngClass]="{'collapsed' : activeIndex != i}"
                                                [attr.data-bs-target]="'#collapseOne' + i" aria-expanded="false"
                                                [attr.aria-controls]="'collapseOne' + i">
                                            </button>
                                        </div>

                                        <!-- Accordion Body -->
                                        <div [id]="'collapseOne' + i" class="accordion-collapse collapse"
                                            [ngClass]="{'show': activeIndex === i, 'collapsed' : activeIndex != i}"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p class="feature-text">{{ feature.desc }}</p>
                                                <div class="talent_tab_image">
                                                    <img class="single_tab_img light-images"
                                                        src="{{ baseUrl + feature.image }}">
                                                    <img class="single_tab_img dark-images"
                                                        src="{{ baseUrl + feature.dark_image }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>

                                <!-- New Code By amrit -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- mobile-features -->

        <div class="advertismnt_container">
            <div class="container">
              <div *ngIf="isExists('large_leaderboard')" class="advertisment advertisement_two_top">
      
                <div *ngIf="checkActive('large_leaderboard')  && !isLoading" class="leaderboard-club-image">
                    <a href="{{advertisementData?.large_leaderboard?.redirect_url}}" target="_blank">
                  <img [src]="advertisemnet_base_url + advertisementData?.large_leaderboard?.featured_image">
                  </a>
                  <button *ngIf="!btnLoading" (click)="closeAd('large_leaderboard')" class="ad-close-button"><i
                      class="fa-solid fa-xmark"></i></button>
                      <div class="countdown" *ngIf="btnLoading">{{countdown}}</div>
                </div>
      
                <div *ngIf="checkActive('small_square')  && !isLoading" class="small-sqaure-image">
                    <a href="{{advertisementData?.small_square?.redirect_url}}" target="_blank">
                  <img [src]="advertisemnet_base_url + advertisementData?.small_square?.featured_image">
                  </a>
                  <button *ngIf="!btnLoading" (click)="closeAd('small_square')" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
                  <div class="countdown" *ngIf="btnLoading">{{countdown}}</div>
                </div>
      
              </div>
      
              <div *ngIf="!isExists('large_leaderboard')" class="advertisment advertisement_two_bottom">
      
                <div *ngIf="checkActive('small_square')  && !isLoading" class="small-sqaure-image">
                    <a href="{{advertisementData?.small_square?.redirect_url}}" target="_blank">
                  <img [src]="advertisemnet_base_url + advertisementData?.small_square?.featured_image">
                  </a>
                  <button *ngIf="!btnLoading" (click)="closeAd('small_square')" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
                  <div class="countdown" *ngIf="btnLoading">{{countdown}}</div>
                </div>
                <div *ngIf="checkActive('banner')  && !isLoading" class="leaderboard-club-image">
                    <a href="{{advertisementData?.banner?.redirect_url}}" target="_blank">
                  <img [src]="advertisemnet_base_url + advertisementData?.banner?.featured_image">
                  </a>
                  <button *ngIf="!btnLoading" (click)="closeAd('banner')" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
                  <div class="countdown" *ngIf="btnLoading">{{countdown}}</div>
                </div>
      
      
              </div>
            </div>
        </div>


        <div class="pricing py_0">
            <div class="container">
                <h3 class="price-heading3">{{'pricing' | translate}}</h3>

                <!-- <div class="billed">
                    <p class="billed-text">2 months free on yearly plan</p>
                </div> -->
                <div *ngFor="let plan of pageData.pricing_tab; let i = index; trackBy: trackByFn">
                    <div class="billed_wrapp">
                        <div class="red_text_plan">{{'freePlanText' | translate}}</div>
                        <div class="billed">
                            <p [ngClass]="{ 'active-text': isActivePlan[i], 'inactive-text': !isActivePlan[i] }"
                                class="billed-monthly">
                                {{'billedMonthly' | translate}}
                            </p>
                            <div class="toggle-button"
                                [ngClass]="{ 'active': isActivePlan[i], 'inactive': !isActivePlan[i] }"
                                (click)="togglePlan(i)">
                            </div>
                            <p [ngClass]="{ 'active-text': !isActivePlan[i], 'inactive-text': isActivePlan[i] }">
                                {{'billedYearly' | translate}}
                            </p>
                        </div>
                    </div>

                    <div class="premium">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="premium-img">
                                    <img class="bg-image" src="./assets/images/feature-image.svg">
                                    <h2 class="premium-heading2">{{ plan.plan_name }} <span class="red_text_plan">{{'forClubsandScouts' | translate}}</span></h2>
                                    <h3 class="premium-heading3">
                                        <!-- {{ !isActivePlan[i] ? plan.monthly_plan_price : plan.yearly_plan_price
                                        }}<span>.- {{ !isActivePlan[i] ? plan.monthly_plan_price_currency :
                                            plan.yearly_plan_price_currency }}
                                            / {{ !isActivePlan[i] ? 'Month' : 'Year' }}</span> -->

                                        <!-- {{ getPlanPrice(plan.plan_name, isActivePlan[i]) }}<span>.- {{ Currency }} /
                                            {{ !isActivePlan[i] ? 'Month' : 'Year' }}
                                            </span> -->
                                        <!-- <h3 class="premium-heading3"> -->
                                        {{ getPlanPrice(plan.plan_name, isActivePlan[i]) }}<span>.- {{ Currency }}
                                            / <span *ngIf="!isActivePlan[i]">{{'billedMonthly' | translate}}</span>
                                            <span *ngIf="isActivePlan[i]">{{'billedYearly' | translate}}</span>
                                            <!-- {{ isActivePlan[i] ? 'Year' : 'Month' }} -->
                                        </span>
                                        <!-- </h3> -->

                                    </h3>
                                    <div class="buy_now_btn_front_price">
                                        <a href="" class="btn fill_btn">Buy Now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="premium-col-right">
                                    <!-- <h5 class="premium-heading5">{{ plan.plan_name }} Includes</h5> -->
                                    <div class="premium-text" *ngFor="let feature of plan.plan_feature_desc">
                                        <img src="./assets/images/mdi_tick.svg" alt="Checkmark">
                                        <p>{{ feature }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="">
            <div class="container">
              <div class="advertisment advertisement1 advertisement_three_block"
                *ngIf="checkActive('large_rectangle') || checkActive('inline_rectangle') || checkActive('square')">
      
                <div *ngIf="checkActive('large_rectangle')  && !isLoading" class="large-rectangle">
                    <a href="{{advertisementData?.large_rectangle?.redirect_url}}" target="_blank">
                  <img [src]="advertisemnet_base_url + advertisementData?.large_rectangle?.featured_image">
                  </a>
                  <button *ngIf="!btnLoading" (click)="closeAd('large_rectangle')" class="ad-close-button"><i
                      class="fa-solid fa-xmark"></i></button>
                      <div class="countdown" *ngIf="btnLoading">{{countdown}}</div>
                </div>
      
                <div *ngIf="checkActive('inline_rectangle')  && !isLoading" class="inline-rectangle">
                    <a href="{{advertisementData?.inline_rectangle?.redirect_url}}" target="_blank">
                  <img [src]="advertisemnet_base_url + advertisementData?.inline_rectangle?.featured_image">
                  </a>
                  <button *ngIf="!btnLoading" (click)="closeAd('inline_rectangle')" class="ad-close-button"><i
                      class="fa-solid fa-xmark"></i></button>
                      <div class="countdown" *ngIf="btnLoading">{{countdown}}</div>
                </div>
      
                <div *ngIf="checkActive('square')  && !isLoading" class="square">
                    <a href="{{advertisementData?.square?.redirect_url}}" target="_blank">
                  <img [src]="advertisemnet_base_url + advertisementData?.square?.featured_image">
                  </a>
                  <button *ngIf="!btnLoading" (click)="closeAd('square')" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
                  <div class="countdown" *ngIf="btnLoading">{{countdown}}</div>
                </div>
      
              </div>
            </div>
        </div>

        <!-- <app-footer></app-footer> -->
    </div>
</section>