.personal_edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0px;
}

.close-btn {
    background: none;
    font-size: 19px;
    cursor: pointer;
    font-weight: 600;
    padding: 2px 9px;
    color: #849aa2;
    border: 4px solid #849aa2;
    border-radius: 50%;
}

.dialog-header h2 {
    font-size: 18px;
    font-weight: 600;
}

.moving_select h2 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.form-group {
    padding: 0px 32px;
}

.transfer_box {
    padding: 0px 20px 20px 20px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 16px;
    line-height: normal;
    border: 1px solid #bbb7b7;
    border-radius: 10px;
}

.cancel-btn {
    background: none;
    color: #FD5454;
    font-weight: 600;
    width: 45%;
}

.save-btn {
    background: #58bc5c;
    color: white;
    font-weight: 600;
    width: 45%;
}

.cancel-btn,
.save-btn {
    padding: 14px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.transfer_details .dialog-actions {
    margin-top: 20px;
    padding: 0px 20px;
}

.overflow-card {
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
}

.mat-mdc-dialog-surface {
    overflow: hidden !important;
}

.overflow-card::-webkit-scrollbar {
    width: 6px;
}

.overflow-card::-webkit-scrollbar-thumb {
    background: rgb(228, 228, 228);
    border-radius: 10px;
}

.checkbox-wrap {
    padding: 0px 32px;
}

@media(max-width:768px) {
    .transfer_box .row {
        row-gap: 20px;
    }

    .overflow-card {
        max-height: unset;
    }

    .form-group {
        padding: 0 15px;
    }

    .checkbox-wrap {
        padding: 0px 15px;
    }
}

.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ddd;
    background-color: white;
    position: absolute;
    z-index: 1000;
    width: fit-content;
}

.suggestions-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}

mat-datepicker-toggle {
    margin-left: -50px;
}


::ng-deep .dark-theme {
    .save-btn {
        color: #072944 !important;
        background: #bde34f !important;
    }

    .mat-select-search-input {
        color: #fff !important;
        background-color: #072944 !important;
    }

    .mat-select-search-inner {
        background: #072944 !important;
    }

    .mat-select-search-no-entries-found {
        color: #fff !important;
    }

    .mat-select-search-input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #fff !important;
    }

    .mat-select-search-input::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff !important;
    }

    .mat-select-search-input:-ms-input-placeholder {
        /* IE 10+ */
        color: #fff !important;
    }

    .mat-select-search-input:-moz-placeholder {
        /* Firefox 18- */
        color: #fff !important;
    }

    #team_from_m_country_id, #team_to_m_country_id, #session {
        padding: 12px;
    }
}
 


::ng-deep {
    .custom_select_mat {
        .mat-focused .mat-mdc-form-field-focus-overlay {
            opacity: 0 !important;
        }

        .mdc-text-field {
            padding: 0 !important;
            background: transparent !important;
        }

        .mdc-line-ripple {
            display: none !important;
        }

        .mat-mdc-select-arrow {
            display: none !important;
        }

        .dark-theme .custom_search_mat {
            background: #0c3453;
            color: white !important;
        }
    }

    mat-label {
        margin-bottom: 5px;
        font-weight: 500;
        display: block;
    }

    .mat-select-search-clear {
        display: none !important;
    }
}