<!-- message-popup.component.html -->
<div class="msg-popup-dialog p-3">
    <div class="msg-popup-close">
        <!-- close-icon-circle.png -->
        <img *ngIf="theme !='dark'"
            src="../../../assets/images/carbon_close-outline-light.svg" alt="" (click)="close()" />
        <img *ngIf="theme=='dark'"
            src="../../../assets/images/carbon_close-outline.svg" alt="" (click)="close()" />
    </div>
    <div class="msg-popup-content p-3 pt-1">
        <div class="display-message">
            <!-- {{ data.message }} -->
              test
        </div>
    </div>
</div>