<div class="boost-profile boost-profile_popup">
    <div class="personal_edit popup_header p-3">
        <div class="dialog-header mx-auto">
            <h2 class="text-center">{{ 'boostProfile' | translate }}</h2>
        </div>
        <div class="close_buttons" *ngIf='theme!="dark"'>
            <button class="close-btn border-0 padding-0" aria-label="Close" (click)="pauseBoost()">
                <img src="../../../../assets/images/carbon_close-outline-light.svg" alt="">
            </button>
        </div>
        <div class="close_buttons" *ngIf='theme=="dark"'>
            <button class="close-btn border-0 padding-0" aria-label="Close" (click)="pauseBoost()">
                <img src="../../../../assets/images/carbon_close-outline.svg" alt="">
            </button>
        </div>
    </div>
    <div class="overflow-card popup__body plan_popup_card">
        <div class="row mt-4 mobile-table">
            <div class="col-12 image-right-border" style="border-right: 0 !important;">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="profile-preview text-center mb-4">
                            <h2 class="boosted-profile">{{'deafultProfilePreview' | translate}}</h2>
                            <div class="player--item">
                                <div class="item--inner">
                                    <div class="player--bio-dtl">
                                        <div class="item--icons-list">
                                            <div class="item--club">
                                                <!-- <img *ngIf="loggedInUser?.club_logo_path" alt="team-logo"
                                                    src="{{loggedInUser?.club_logo_path}}"> -->
                                            </div>
                                            <div class="player--flag"
                                                *ngIf="userNationality">
                                                <img *ngIf="userNationality" [src]="userNationality" class="flag-img">
                                                <div class="age_box" *ngIf="!hide">
                                                    <div class="player--dob">
                                                        <!-- {{calculateAge(loggedInUser?.meta?.date_of_birth ??'--')}} -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <img [src]="loggedInUser?.meta?.profile_image_path" alt="player-image"
                                            *ngIf="loggedInUser?.meta && loggedInUser?.meta?.profile_image_path"
                                            class="player_profile_img" />
                                        <img src="../../../../../assets/images/default/talent-profile-default.png"
                                            alt=""
                                            *ngIf="!loggedInUser?.meta || !loggedInUser?.meta?.profile_image_path"
                                            class="player_profile_img" />
                                    </div>
                                    <div class="player__name">{{ loggedInUser.first_name }} {{ loggedInUser.last_name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="profile-preview text-center mb-4">
                            <h2 class="boosted-profile">{{ 'boostedProfilePreview' | translate }}</h2>
                            <div class="player--item">
                                <div class="item--inner boosted--profile">
                                    <div class="player--bio-dtl">
                                        <div class="item--icons-list">
                                            <div class="item--club">
                                                <!-- <img *ngIf="loggedInUser?.club_logo_path" alt="team-logo"
                                                    src="{{loggedInUser?.club_logo_path}}"> -->
                                            </div>
                                            <div class="player--flag"
                                                *ngIf="userNationality">
                                                <img *ngIf="userNationality" [src]="userNationality" class="flag-img">
                                                <div class="age_box" *ngIf="!hide">
                                                    <div class="player--dob">
                                                        <!-- {{calculateAge(loggedInUser?.meta?.date_of_birth ??'--')}} -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <img [src]="loggedInUser?.meta?.profile_image_path" alt="player-image"
                                            *ngIf="loggedInUser?.meta && loggedInUser?.meta?.profile_image_path"
                                            class="player_profile_img" />
                                        <img src="../../../../../assets/images/default/talent-profile-default.png"
                                            alt=""
                                            *ngIf="!loggedInUser?.meta || !loggedInUser?.meta?.profile_image_path"
                                            class="player_profile_img" />
                                        <div class="booster_text"> {{'boosted' | translate}} </div>
                                    </div>
                                    <div class="player__name">{{ loggedInUser.first_name }} {{ loggedInUser.last_name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="subscription-type mt-4">
                            <h2 class="mb-3">{{'subscriptionType' | translate}}</h2>
                            <div class="form-check p-0">
                                <input id="radio-1" class="form-check-input radio-custom" type="radio" name="isYearly"
                                    [value]="false" [(ngModel)]="this.boostedPlans.isYearly"
                                    (change)="toggleBillingPlan(false)">
                                <label for="radio-1"
                                    class="form-check-label radio-custom-label smaller-letters">{{'monthly' |
                                    translate}}</label>
                            </div>
                            <div class="form-check p-0">
                                <input id="radio-2" class="form-check-input radio-custom" type="radio" name="isYearly"
                                    [value]="true" [(ngModel)]="this.boostedPlans.isYearly"
                                    (change)="toggleBillingPlan(true)">
                                <label for="radio-2"
                                    class="form-check-label radio-custom-label smaller-letters">{{'yearly' |
                                    translate}}</label>
                            </div>
                        </div>
                        <div class="subscription-type voucher_type mt-4"
                            [ngClass]="{'d-none':boostedPlans?.active_interval=='monthly' || boostedPlans?.active_interval=='yearly'}">
                            <h2 class="mb-3">
                                <button type="button" (click)="openCouponDialog()">{{'doYouHaveAVoucherCode'|
                                    translate}}
                                </button>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 audience_box  boost-plan_profile">
            </div>
        </div>
    </div>
    <div class="country-plan-2 p-3 popup_footer">
        <div class="actions d-flex justify-content-between">
            <button class="btn puse-btn" (click)="pauseBoost()">{{ 'cancel' | translate }}</button>
            <!-- <button class="btn save_button" (click)="saveBoost()">{{ 'saveAndBoost' | translate }}</button> -->
            <button class="btn buy-btn d-flex align-items-center gap-5" (click)="saveBoost()">
                <div class="buy-button">
                    <h4>
                        {{ planPrice }}
                        .- {{ boostedPlans?.monthly?.currency }} / {{ boostedPlans.isYearly ? ('year' | translate ) :
                        ('month' | translate) }}
                    </h4>
                </div>
                <span>{{'saveAndBoost' | translate}} <i class="fa-solid fa-angle-right"></i></span>
            </button>
        </div>
    </div>
</div>