h1 {
    font-size: 45px;
    font-weight: 600;
    color: white;
    margin-bottom: 50px;
    padding-top: 50px;
}

.bg-red {
    background-image: url("/assets/images/boosted-talent-profile-bg.png") !important;
    background-repeat: no-repeat !important;
    background-position-x: right !important;
    background-position-y: bottom !important;
    background-size: cover !important;
}

// boosted
.player-img {
    position: relative;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
    /* Adjust based on your needs */
    background-size: cover;
    background-position: center;
}

.image-text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 13.67px;
    line-height: 18.22px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #023A4A;
    height: 46px;
    width: 102px;
    padding: 13px;
    border-radius: 0 0 13px 0;
}

//boosted

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.players.player-card.highlight-background {
    background-image: url('/assets/images/boosted-talent-profile-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    /* Optional */
}

.image-container {
    margin: 10px;
    width: calc(25% - 20px);
    /* Adjust this for the number of images per row */
    text-align: center;
    /* Center-align the content */
}

button.faq-club-button,
button.faq-talent-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 200;
    opacity: 75%;
    height: 40px;
    width: 126px;
}

select:focus-visible {
    outline: unset;
}

button.faq-talent-button.active,
button.faq-club-button.active {
    height: 40px;
    width: 126px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    opacity: 1;
}

.pagination-controls {
    margin-top: 50px;
    padding-bottom: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

label {
    display: inline-block;
    font-size: 14px;
    color: white;
    font-weight: 400;
}

select#numberSelect {
    width: 64px;
    height: 36px;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 30px;
    padding-left: 8px;
}

.pages button {
    cursor: pointer;
}

.adv-player-list {
    position: relative;
}

.player-list {
    padding-top: 150px;
    position: relative;
}

.player1 {
    height: 290px;
    object-fit: cover;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #C2A64A, #A77A2E);
}

.tabs {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.players {
    margin-bottom: 20px;
    position: relative;
}

.player-img {
    border: 6px solid transparent;
    border-radius: 5px;
    position: relative;
}

.player-img img {
    object-fit: cover;
    border-radius: 5px;
}

.player-img::before {
    content: "";
    position: absolute;
    border: none;
    z-index: 1;
    top: 0;
    right: -1px;
    border-radius: 0 5px 0;
    background: #E2001A;
    color: #E2001A;
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
}

.player-name7 {
    background: linear-gradient(145deg, #6FB95D, #236115);
    color: white;
    bottom: 5px;
    height: 30px;
    font-size: 15px;
    position: absolute;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 0px 0px 5px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-img::before {
    content: "";
    position: absolute;
    border: none;
    z-index: 1;
    top: 0;
    right: -1px;
    border-radius: 0 5px 0;
    background: #E2001A;
    color: #E2001A;
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
}

.player-img::after {
    content: "";
    position: absolute;
    border: none;
    z-index: 1;
    bottom: 28px;
    left: -1px;
    background: linear-gradient(10deg, #6FB95D, #236115);
    clip-path: polygon(0% 100%, 100% 100%, 0% 10%);
}

.corner-image7 img {
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 1;
}

.flag-image7 {
    background-color: white;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    z-index: 1;
    padding: 5px;
}

p.d-o-b {
    font-size: 15px;
    color: #559B44;
    font-weight: 700;
}

.flag-bottom {
    display: flex;
}

.bottom-line {
    height: 1px;
    background-color: #E0E0E0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

img.flag-img {
    width: 56px;
    height: 45px;
    object-fit: cover;
}

img.birthday-img {
    height: 20px;
    width: 20px;
}

button.prev-page {
    width: 77px;
    height: 36px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #E9E9E9;
    margin-right: 0;
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 13px;
}

.pages {
    display: flex;
}

button.next-page {
    width: 77px;
    height: 36px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #E9E9E9;
    margin-left: 10px;
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 13px;
}

p {
    font-size: 14px;
}

i.fa-solid.fa-angle-left {
    font-size: 12px;
    margin-right: 4px;
}

i.fa-solid.fa-angle-right {
    margin-left: 4px;
    font-size: 12px;
}

button.page-active.active {
    color: white;
    height: 36px;
    width: 33px;
    padding: 0;
    margin: 0;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    margin-left: 10px;
}

button.page-active {
    width: 33px;
    height: 36px;
    background-color: white;
    color: #313131;
    font-size: 14px;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    margin-left: 10px;
    border: 1px solid #E9E9E9;
}

// advertisement

.skyscraper-left {
    height: 600px;
    width: 120px;
    content: "";
    z-index: 2;
    position: absolute;
    left: 0;
    top: 10%;
}

.skyscraper-left img {
    height: 600px;
    width: 120px;
}

.skyscraper-right {
    height: 600px;
    width: 120px;
    content: "";
    z-index: 2;
    position: absolute;
    right: 0;
    top: 10%;
}

.skyscraper-right img {
    height: 600px;
    width: 120px;
}

.large-rectangle {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 280px;
    width: 336px;
}

.large-rectangle img {
    height: 280px;
    width: 336px;
}

.inline-rectangle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    content: "";
    width: 300px;
    height: 250px;
}

.inline-rectangle img {
    width: 300px;
    height: 250px;
}

.square {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    width: 250px;
    height: 250px;
    display: flex;
}

.square img {
    width: 250px;
    height: 250px;
}

.advertisement {
    position: relative;
    height: 350px;
}

@media (max-width: 1199px) {
    .player-list {
        padding-top: 100px;
    }

    h1 {
        font-size: 40px;
        margin-bottom: 30px;
        padding-top: 30px;
    }
}

@media (max-width: 991px) {

    .leaderboard-club-image img,
    .small-sqaure-image img,
    .skyscraper-image img,
    .skyscraper-image img,
    .wide-skyscraper-image img,
    .leaderboard-image img,
    .banner-image img,
    .advertisement,
    .advertisement1,
    .skyscraper-left img,
    .skyscraper-right img {
        display: none;
    }
}

@media (max-width: 767px) {
    img.flag-img {
        width: 38px;
        height: 30px;
        object-fit: cover;
    }

    img.birthday-img {
        height: 13px;
        width: 15px;
    }

    p.d-o-b {
        font-size: 9px;
    }
}

@media (max-width: 575px) {
    h1 {
        font-size: 30px;
        margin-bottom: 20px;
        padding-top: 20px;
    }

    .pagination-controls {
        display: block;
    }

    .pages {
        display: flex;
        justify-content: space-between;
    }

    .tabs {
        display: flex;
        margin-bottom: 25px;
        justify-content: space-evenly;
    }

    .input-number {
        margin-bottom: 20px;
    }

    p.d-o-b {
        font-size: 11px;
    }

    img.birthday-img {
        height: 16px;
        width: 17px;
    }

    select#numberSelect {
        width: 60px;
        height: 30px;
        border-radius: 4px;
        margin-left: 10px;
        margin-right: 30px;
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 25px;
    }

    button.faq-talent-button.active,
    button.faq-club-button.active {
        height: 37px;
        width: 110px;
        font-size: 18px;
        line-height: 15px;
    }

    button.faq-club-button,
    button.faq-talent-button {
        font-size: 18px;
    }
}

@media (max-width: 321px) {
    img.birthday-img {
        height: 13px;
        width: 15px;
    }

    p.d-o-b {
        font-size: 10px;
    }

    button.faq-talent-button.active,
    button.faq-club-button.active {
        height: 35px;
        width: 90px;
        font-size: 15px;
        line-height: 15px;
    }

    button.faq-club-button,
    button.faq-talent-button {
        font-size: 15px;
    }

    button.prev-page {
        width: 60px;
        height: 30px;
        padding: 7px;
    }

    button.next-page {
        width: 60px;
        height: 30px;
        padding: 7px;
        margin-left: 5px;
    }

    button {
        margin: 0;
        padding: 0;
    }

    button.page-active {
        width: 34px;
        height: 30px;
        font-size: 12px;
        margin-left: 5px;
    }

    button.page-active.active {
        height: 30px;
        width: 34px;
        font-size: 12px;
        border-radius: 4px;
        margin-left: 7px;
    }

}


/*--- new css ---*/
.players.player-card {
    width: 100% !important;

    .player1 {
        width: 100%;

        .player-img:before {
            width: 70px;
            height: 70px;
        }

        .player-img:after {
            width: 80px;
            height: 65px;
            bottom: -2px;
        }

        .player-img {
            height: 262px !important;
            width: 100%;
            img {
                width: 100% !important;
                height: 100% !important;
                object-fit: cover;
                object-position: top center;
                padding-top: 20px;
            }
        }

        p.player-name7 {
            width: calc(100% - 10px) !important;
        }

        .image-text {
            height: 36px;
            width: 92px;
            padding: 8px;
            font-size: 11px;
        }
    }

    .flag-image7 {
        transform: scale(0.75);
        bottom: 35px;
        left: 6px;
    }

    .corner-image7 {
        img {
            height: 40px;
            width: 30px;
            object-fit: contain;
        }
    }
}


@media (max-width: 991px) {
    .players.player-card {
        .player1 {
            height: 250px;

            .player-img {
                img {
                    height: 210px !important;
                }
            }

            .player-img:after {
                bottom: 0px;
            }
        }
    }
}

@media (max-width: 575px) {
    .pagination-controls .pages {
        justify-content: center;
    }

    .pagination-controls .input-number {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 420px) {
    .players.player-card {
        .player1 {
            height: 220px;

            .player-img {
                img {
                    height: 180px !important;
                }
            }

            .player-name7 {
                font-size: 13px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .image-text {
                height: 29px;
                width: 72px;
                padding: 5px;
                font-size: 9px;
            }
        }
    }
}


@media (max-width: 360px) {
    .players.player-card {
        .player1 {
            height: 190px;

            .player-img {
                img {
                    height: 150px !important;
                }
            }
        }
    }
}

.player-list-loader {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    font-size: 24px;
    color: rgb(0, 255, 34);
}