<div class="main">
    <div class="main-bnr py_0 email-verify-bnr">
        <div class="thankyou_secc">
            <div class="container">
                <div class="thankyou_text">
                    <div class="coming-soon">
                        <h1>{{ 'verifyEmail' | translate }}</h1>
                        <h3 class="my-4">{{ 'sentConfirmationLink' | translate }}</h3>
                        <h4 class="mb-4">{{ 'completeVerificationProcess' | translate }} </h4>
                        <a class="btn btn-register" [routerLink]="''">{{'backToHome' | translate}}</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>