<div class="dialog-container">
  <div class="personal_edit popup_header p-3">
    <div class="dialog-header m-auto">
      <h2>{{ 'setPassword' | translate }}</h2>
    </div>
    <div class="close_buttons" *ngIf='theme!="dark"'>
      <button class="close-btn border-0 padding-0" aria-label="Close" (click)="onCancel()">
        <img src="../../../../assets/images/carbon_close-outline-light.svg" alt="">
      </button>
    </div>
    <div class="close_buttons" *ngIf='theme=="dark"'>
      <button class="close-btn border-0 padding-0" aria-label="Close" (click)="onCancel()">
        <!-- <img src="../../../../../assets/images/carbon_close-outline.svg" alt=""> -->
        <img src="../../../../assets/images/carbon_close-outline.svg" alt="">
      </button>
    </div>
  </div>
  <form class="pt-3 popup__body" #passwordForm="ngForm">
    <div class="reset_box">
      <div class="row">
        <div class="form-group col-lg-12">
          <label class="form-label">{{ 'passwordLabel' | translate }}</label>
          <div class="password-wrapper password_field_wrap">
            <!-- {{ 'passwordPlaceholder' | translate }} -->
            <input [type]="passwordVisible ? 'text' : 'password'" class="form-control" placeholder="" name="password" [(ngModel)]="newPassword" required />
            <span (click)="togglePasswordVisibility('password')" class="password-toggle">
              <span *ngIf="!passwordVisible">
                  <img src="./assets/images/password-hidden.svg">
              </span>
              <span *ngIf="passwordVisible">
                  <img src="./assets/images/password-visible.svg">
              </span>
            </span>
          </div>
        </div>
        <div class="form-group col-lg-12">
          <!-- {{ 'confirmPasswordPlaceholder' | translate }} -->
          <label class="form-label">{{ 'confirmPasswordLabel' | translate }}</label>
          <div class="password-wrapper password_field_wrap">
            <input [type]="confirmPasswordVisible ? 'text' : 'password'" class="form-control" placeholder="" name="confirmPassword" [(ngModel)]="confirmPassword" required />
            <span (click)="togglePasswordVisibility('confirm-password')" class="password-toggle">
              <span *ngIf="!confirmPasswordVisible">
                  <img src="./assets/images/password-hidden.svg">
              </span>
              <span *ngIf="confirmPasswordVisible">
                  <img src="./assets/images/password-visible.svg">
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="dialog-actions align-items-center d-flex justify-content-between">
        <button class="cancel-btn" type="button" (click)="onCancel()">{{'cancel' | translate}}</button>
        <button class="save-btn" type="submit" [disabled]="!passwordForm.form.valid" (click)="savePassword()"> {{ 'save' | translate }} </button>
      </div>
    </div>
  </form>
</div>