<!-- message-popup.component.html -->
<div class="delete-popup-dialog">
    <div class="del-popup-close d-flex align-items-center justify-content-between p-3">
        <h3>{{ 'deletingAccount' | translate }}</h3>
        <!-- <img src="../../../assets/images/close-icon-circle.png" alt="" (click)="close()" /> -->

        <img *ngIf='theme!="dark"' src="../../../assets/images/carbon_close-outline-light.svg" alt="" class="" (click)="close()" />
        <img *ngIf='theme=="dark"' src="../../../assets/images/carbon_close-outline.svg" alt="" class="" (click)="close()" />
    </div>
    <div class="del-popup-content">
        <div class="display-message">
            <!-- <p>This will delete your account permanently from our database. This cannot be undone.</p> -->
            <p>{{deleteProfiletranslatedText}}</p>
        </div>
        <div class="popup-delete-btn d-flex align-items-end justify-content-between flex-wrap">
            <div class="confirm_del_wrap">
                <label>{{ 'deletingText' | translate }}</label>
                <input type="" class="del_input" [(ngModel)]="deleteAccount" placeholder="{{deleteTxt}}" />
               
            </div>
            <div (click)="deleteProfileConfirmed()" class="delet_acnt_btn">{{ 'deleteAccount' | translate }}</div>
            <p class="text-danger mt-2" *ngIf="isShowErrorMsg">{{errorMsg}}</p>
        </div>       
    </div>
</div>
