::ng-deep h3 {
    font-size: 30px;
    font-family: var(--bs-avenir-semibold);
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
}

::ng-deep h4 {
    color: white;
    font-size: 35px;
    font-family: var(--bs-avenir-semibold);
    margin-bottom: 30px;
}

::ng-deep p {
    font-size: 20px;
    color: white;
    font-family: var(--bs-avenir-regular);
}

::ng-deep h5 {
    color: white;
    font-size: 22px;
    font-family: var(--bs-avenir-semibold);
}

body {
  font-family: var(--bs-avenir-regular);
}
h1, h2, .class_bold, strong {
  font-family: var(--bs-avenir-bold);
}
.news_static_banner h3 {
  font-family: var(--bs-avenir-semibold);
}
.social-icons a {
    display: inline-block;
    transition: transform 0.3s ease;
    /* Smooth transition */
}

.social-icons a:hover {
    transform: scale(1.1);
    /* Slightly enlarge the icon on hover */
}

.social-icons a:hover img {
    filter: invert(21%) sepia(92%) saturate(361%) hue-rotate(-43deg) brightness(97%) contrast(100%);
    /* Applying a filter to the image to simulate pink color (#E05263) */
}

.social-icons a:hover {
    color: #E05263;
    /* Optional: Change the text color (if any) on hover */
    text-decoration: none;
    /* Optional: Remove underline on hover */
}





.cookie-text {
    font-size: 45px;
    font-family: var(--bs-avenir-bold);
    color: white;
    text-transform: uppercase;
}
.news_static_banner {
    padding: 50px 0;
    padding-top: 190px;
    h2.cookie-text{
      color: #fff;
      word-break: break-word;
    }
}

p.p-text {
    color: #bde34e;
    font-size: 20px;
    margin-bottom: 0;
}
.news-dtail--baner p.p-text {
    color: #fff;
    padding: 5px 15px;
    background: #E05263;
    width: max-content;
    max-width: 100%;
    margin-bottom: 1rem;
}
li {
    font-size: 18px;
    color: white;
    font-weight: 400;
    margin-top: 20px;
}

.learn-banner {
    padding-top: 150px;
    position: relative;
}

.back-button {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    background-color: transparent;
    border: none !important;
    padding: 0 !important;
    outline: none !important;
    box-shadow: none !important;
    margin-bottom: 1.5rem;
    span {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #357525;
        padding: 5px;
        margin-right: 10px;
    }
    img {
        filter: brightness(0) invert(1);
    }
}

h1 {
    font-size: 45px;
    font-family: var(--bs-avenir-bold);
    color: white;
    margin-top: 50px;
}

img.banner-image {
    width: 100%;
    height: 542px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto 30px;
    display: block;
}

.py_0 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.files {
    display: flex;
}

.files img {
    margin-top: 30px;
    margin-left: 20px;
    width: 80px;
    height: 90px;
}

.attachments {
    margin-right: 20px;
}

.social-icons {
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px 0;
}

.news_share_icons a {
    font-size: 22px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.share {
    margin-right: 20px;
}

.news-box {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.news-box .news_img_thumb_wrap {
    width: 100%;
    height: 340px;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.news-box .news_img_thumb_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: .5s all;
}
.news-box:hover .news_img_thumb_wrap img {
    transform: scale(1.25);
}
.news-box:hover {
    p:not(.p-text) {
        color: #E05263;
    }
}

::ng-deep .news_html ul {
    list-style-type: none;
    /* Remove default markers */
    padding: 0;
    margin: 0;
    text-align: left;
    /* Center the list items */
}

.news_html ::ng-deep li {
    display: inline-block;
    position: relative;
    padding-left: 2rem;
    /* Space for the custom marker */
}

 .news_html ::ng-deep li::before {
    content: '•';
    /* Custom marker */
    position: absolute;
    font-size: 60px;
    // color: #E05263; /* Customize marker color */
    top: 15px;
    left: 0;
    transform: translateY(-50%);
}

// advertisement


.skyscraper-left {
    height: 600px;
    width: 120px;
    content: "";
    z-index: 1;
    position: absolute;
    left: 1%;
    top: 20%;
}

.skyscraper-left img {
    height: 600px;
    width: 120px;
}

.skyscraper-right {
    height: 600px;
    width: 120px;
    content: "";
    z-index: 1;
    position: absolute;
    right: 1%;
    top: 20%;
}

.skyscraper-right img {
    height: 600px;
    width: 120px;
}

.large-rectangle {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 280px;
    width: 336px;
}

.large-rectangle img {
    height: 280px;
    width: 336px;
}

.inline-rectangle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    content: "";
    width: 300px;
    height: 250px;
}

.inline-rectangle img {
    width: 300px;
    height: 250px;
}

.square {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    width: 250px;
    height: 250px;
    display: flex;
}

.square img {
    width: 250px;
    height: 250px;
}

.leaderboard-image {
    position: absolute;
    content: "";
    z-index: 1;
    height: 90px;
    width: 728px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.leaderboard-image img {
    height: 90px;
    width: 728px;
}


// advertisement
@media (max-width: 1404px) {
    .news-box img {
        height: 300px;
    }
}

@media (max-width: 1281px) {
    .news-box img {
        height: 320px;
    }
}

@media (max-width: 1200px) {
    .news-box img {
        height: 270px;
    }

}

@media (max-width: 1024px) {
    .news-box .news_img_thumb_wrap {
        height: 250px;
    }
    .news-box img {
        height: 270px;
        margin-bottom: 10px;
    }
    .cookie-text {
        font-size: 40px;
    }
    h1 {
        font-size: 35px;
    }

    p {
        font-size: 16px;
    }

    p.p-text {
        font-size: 16px;
    }

    li {
        font-size: 16px;
        margin-top: 10px;
    }

    h3 {
        font-size: 25px;
    }

    img.banner-image {
        height: 370px;
    }

    .social-icons {
        margin-top: 60px;
    }

    .latest-news.py_0 {
        padding-top: 10px;
    }


}

@media (max-width: 991px) {
    .news-box img {
        height: 200px;
    }

    img.banner-image {
        height: 280px;
        margin-bottom: 10px;
    }
    h1 {
        margin-top: 20px;
    }
    h3 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .py_0 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .leaderboard-club-image img,
    .small-sqaure-image img,
    .skyscraper-image img,
    .skyscraper-image img,
    .wide-skyscraper-image img,
    .leaderboard-image img,
    // .banner-image img,
    .advertisement,
    .advertisement1,
    .skyscraper-left img,
    .skyscraper-right img {
        display: none;
    }
}

@media (max-width: 575px) {
    .news_static_banner {
        h3 {
            font-size: 20px;
        }
    }
    :host ::ng-deep p, p.p-text, h5.share {
        font-size: 16px;
    }
    .cookie-text {
        font-size: 35px;
    }
    .latest-news h4 {
        font-size: 30px;
    }
    img.banner-image {
        height: 230px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .news-box img {
        height: 280px;
    }
    .files img {
        margin-top: 30px;
        margin-left: 7px;
        height: 65px;
        width: auto;
    }
}

@media (min-width: 992px) and (max-width: 1999px) {
.news_static_banner {
    h3 {
        font-size: 25px;
    }
}
.latest-news h4, .cookie-text {
    font-size: 55px;
}
:host ::ng-deep p, p.p-text, h5.share {
    font-size: 24px;
}
}

@media (min-width: 576px) and (max-width: 991px) {
.news_static_banner {
    h3 {
        font-size: 25px;
    }
}
.latest-news h4, .cookie-text {
    font-size: 40px;
}
:host ::ng-deep p, p.p-text, h5.share {
    font-size: 20px;
}
}

@media (min-width: 1600px) and (max-width: 2999px) {
.news_static_banner {
    padding: 80px 0;
    padding-top: 220px;
}
}

@media (max-width: 541px) {
    .news-dtail--baner p.p-text {
        padding: 3px 10px 2px;
        margin-bottom: 10px;
    }
}

@media (max-width: 376px) {
    h1 {
        font-size: 26px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    img.banner-image {
        height: 190px;
    }

    .news-box img {
        height: 240px;
    }

    .social-icons {
        margin-top: 45px;
    }

    .learn-banner {
        padding-top: 100px;
    }
}

@media (max-width: 321px) {
    .files img {
        margin-top: 30px;
        margin-left: 7px;
        height: 50px;
        width: 100%;
    }
}

@media (min-width: 2000px) {
.news_static_banner {
    h3 {
    font-size: 45px !important;
    margin: 1.25rem 0 !important;
    }
}
:host ::ng-deep p {
    font-size: 26px !important;
}
}

@media (min-width: 3000px) {
.news_static_banner {
    padding: 80px 0;
    padding-top: 320px;
    h3 {
        font-size: 55px !important;
        margin: 1.5rem 0 !important;
    }
}
:host ::ng-deep p {
    font-size: 40px !important;
}
}