<section class="website-code">
  <div class="main">

    <!-- <app-header></app-header> -->

    <!-- <div class="main-bnr" style="background-image: url('{{banner_bg_img}}');">    -->
    <div class="main-bnr home_banner">
      <div class="banner_video_wrapper">
        <video class="video_for_male" autoplay="" muted="" loop="" playsinline=""
          poster="./assets/images/video-thumbnail-poster.png">
          <source src="./assets/images/header-video.mp4" type="video/mp4">
        </video>
        <!-- <video class="video_for_female" autoplay="" muted="" loop="" playsinline="" poster="./assets/images/video-thumbnail-poster.png">
            <source src="./assets/images/header-video.mp4" type="video/mp4">
        </video> -->
      </div>
      <div class="overlay"></div>
      <div *ngIf="checkActive('skyscraper') && !isLoading" class="skyscraper-left">
        <a href="{{advertisementData?.skyscraper?.redirect_url}}" target="_blank">
          <img [src]="advertisemnet_base_url + advertisementData?.skyscraper?.featured_image">
        </a>
        <button *ngIf="!btnLoading" (click)="closeAd('skyscraper')" class="ad-close-button"><i
            class="fa-solid fa-xmark"></i></button>
        <div class="countdown" *ngIf="btnLoading">{{countdown}}</div>
      </div>
      <div *ngIf="checkActive('wide_skyscraper') && !isLoading" class="skyscraper-right">
        <a href="{{advertisementData?.wide_skyscraper?.redirect_url}}" target="_blank">
          <img [src]="advertisemnet_base_url + advertisementData?.wide_skyscraper?.featured_image">
        </a>
        <button *ngIf="!btnLoading" (click)="closeAd('wide_skyscraper')" class="ad-close-button"><i
            class="fa-solid fa-xmark"></i></button>
        <div class="countdown" *ngIf="btnLoading">{{countdown}}</div>
      </div>

      <div class="banner-inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-9">
              <div class="banner-content" routerLink="/admin">
                <!-- <img class="home-banner-image" src="{{banner_img}}" *ngIf="currentTheme == 'light'">
                <img class="home-banner-image" src="{{banner_img}}" *ngIf="currentTheme == 'dark'"> -->
                <h1 class="text-uppercase">{{'homeBannerTxt' | translate | linebreaks}}</h1>
              </div>
              <div class="banner-btn mt-4">
                <a href="javascript:void(0)" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#exampleModal1"> {{ pageDetail?.banner_btn_txt }} </a>
                <a *ngIf="!isUserLoggedIn" href="javascript:void(0);" class="btn login-btn" data-bs-toggle="modal"
                  data-bs-target="#exampleModal-login">{{ 'login' | translate }}
                  <svg class="ms-2" width="8" height="12" viewBox="0 0 8 12" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.34766 1.5L6.34766 6L1.34766 10.5" stroke="white" stroke-width="2"
                      stroke-linecap="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container">
      <div *ngIf="checkActive('leaderboard') || checkActive('banner')" class="advertisment advirtismnt_2">
        <div *ngIf="isExists('leaderboard') && checkActive('leaderboard')  && !isLoading"
          class="leaderboard-club-image advirtismnt_2_large">
          <a href="{{advertisementData?.leaderboard?.redirect_url}}" target="_blank">
            <img [src]="advertisemnet_base_url + advertisementData?.leaderboard?.featured_image">
          </a>
          <button *ngIf="!btnLoading" (click)="closeAd('leaderboard')" class="ad-close-button"><i
              class="fa-solid fa-xmark"></i></button>
          <div class="countdown" *ngIf="btnLoading">{{countdown}}</div>
        </div>
        <div *ngIf="!isExists('leaderboard') && checkActive('banner') && !isLoading"
          class="leaderboard-club-image advirtismnt_2_small">
          <a href="{{advertisementData?.banner?.redirect_url}}" target="_blank">
            <img [src]="advertisemnet_base_url + advertisementData?.banner?.featured_image">
          </a>
          <button *ngIf="!btnLoading" (click)="closeAd('banner')" class="ad-close-button"><i
              class="fa-solid fa-xmark"></i></button>
          <div class="countdown" *ngIf="btnLoading">{{countdown}}</div>
        </div>
      </div>
    </div>

    <!-- banner-closed -->

    <!-- Recently joined -->
    <div class="recently-joined py_0">
      <div class="container">
        <div class="joined row">
          <div class="col-md-6">
            <div class="joined-text">
              <h3>{{pageDetail?.slider_heading}}</h3>
            </div>
            </div>
          <div class="col-md-6">
            <div class="joined-para">
              <p>{{'homeSliderTxt' | translate}}</p>
              <!-- <p>Only verified profiles – for real visibility. Discover the latest talents, scouts and clubs now.</p> -->
            </div>
            </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="carousel-slide" #owlCarousel (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"
          (touchstart)="onTouchStart()" (touchend)="onTouchEnd()">
          <owl-carousel-o [options]="customOptions">
            <!-- {{sliderDetail?.users | json}} -->
            @for (slider of sliderDetail?.users; track $index) {
            <ng-template carouselSlide>
              <div class="player--item" *ngIf="slider.role_name != 'Club'" [ngClass]="{'noNationOrBirth' :!getFirstFlag(slider.user_nationalities), 'noClubLogo' : !slider?.current_club_logo }" data-bs-toggle="modal"
                data-bs-target="#exampleModal1">
                <div class="item--inner">
                  <div class="player--bio-dtl">
                    <div class="item--icons-list">
                        <div class="item--club" *ngIf="slider?.current_club_logo">
                          <img  [src]="club_logo_path + slider.current_club_logo" alt="CLUBLOGO">
                          <img *ngIf="!slider?.current_club_logo && slider?.pre_current_club_logo" [src]="club_logo_path + slider.pre_current_club_logo" alt="PreCLUBLOGO" class="preClubLogo">
                        </div>
                        <img *ngIf="getFirstFlag(slider.user_nationalities)" src="{{getFirstFlag(slider.user_nationalities)}}" class="player--flag" alt="Nation">
                        <div class="player--dob" *ngIf="getBirthYear(slider.meta.date_of_birth) && getBirthYear(slider.meta.date_of_birth) > 0">{{getBirthYear(slider.meta.date_of_birth)}}</div>
                    </div>
                    <img src="{{slider.meta.profile_image_path}}" (error)="handleImageError($event)" class="player_profile_img">
                  </div>
                  <div class="player__name">{{slider.first_name +' '+ slider.last_name}}</div>
                </div>
              </div>

              <div *ngIf="slider.role_name == 'Club'" class="player--item player--club--item" data-bs-toggle="modal"
                data-bs-target="#exampleModal1">
                <div class="item--inner">
                  <div class="player--bio-dtl">
                    <img src="{{advertisemnet_base_url + slider.current_club_logo}}" (error)="handleImageError($event)"
                      class="player-image">
                    <!-- <img src="{{slider.meta.profile_image_path}}" (error)="handleImageError($event)" class="player_profile_img"> -->
                  </div>
                  <div class="player__name">{{slider.first_name +' '+ slider.last_name}}</div>
                </div>
              </div>
            </ng-template>
            }

          </owl-carousel-o>
        </div>
        <div class="joined-btn d-flex justify-content-center mt-5">
          <button type="button" [routerLink]="'/player-list'" class="btn btn-light">{{pageDetail?.slider_btn_txt}}</button>
        </div>
      </div>
    </div>
    <!-- Recently joined -->

    <!-- How It Works -->
    <div class="works py_0">
      <div class="container">

        <h3>{{pageDetail?.tabs_data?.title}}</h3>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12">
            <div class="work-banner">
              <div class="works-btn">
                <div class="talent-btn">
                  <button type="button" class="btn btn-success"
                    [ngClass]="{'active-btn': selectedCategory === 'Talent'}" (click)="showCategory('Talent')">
                    <p class="club-p">{{pageDetail?.tabs_data?.first_btn_txt}}</p>
                  </button>
                </div>
                <div class="club-btn">
                  <button type="button" class="btn btn-success"
                    [ngClass]="{'active-btn': selectedCategory === 'Clubs & Scouts'}"
                    (click)="showCategory('Clubs & Scouts')">
                    <p class="club-s">{{pageDetail?.tabs_data?.sec_btn_txt}}</p>
                  </button>
                </div>
              </div>
              <div class="work-text" (click)="showContent('Sign-up & Profile Creation')"
                [class.active]="isActive2('Sign-up & Profile Creation')" *ngIf="selectedCategory === 'Talent'">
                <div class="number">
                  <p>1</p>
                </div>
                <div class="progress_btn">
                  <a>
                    {{pageDetail?.tabs_data?.first_tab[0]?.title}}
                  </a>
                  <p>
                    {{pageDetail?.tabs_data?.first_tab[0]?.desc}}
                  </p>
                </div>
              </div>

              <div class="work-text" (click)="showContent('Networking & Opportunity')"
                [class.active]="isActive2('Networking & Opportunity')" *ngIf="selectedCategory === 'Talent'">
                <div class="number">
                  <p>2</p>
                </div>
                <div class="progress_btn">
                  <a>
                    {{pageDetail?.tabs_data?.first_tab[1]?.title}}
                  </a>
                  <p> {{pageDetail?.tabs_data?.first_tab[1]?.desc}}</p>
                </div>
              </div>

              <div class="work-text" (click)="showContent('Success & Progression')"
                [class.active]="isActive2('Success & Progression')" *ngIf="selectedCategory === 'Talent'">
                <div class="number">
                  <p>3</p>
                </div>
                <div class="progress_btn">
                  <a>
                    {{pageDetail?.tabs_data?.first_tab[2]?.title}}
                  </a>
                  <p>{{pageDetail?.tabs_data?.first_tab[2]?.desc}}</p>
                </div>
              </div>

              <div class="work-text" (click)="showContent('Sign-up & Profile Creation')"
                [class.active]="isActive2('Sign-up & Profile Creation')" *ngIf="selectedCategory === 'Clubs & Scouts'">
                <div class="number">
                  <p>1</p>
                </div>
                <div class="progress_btn">
                  <a>
                    {{pageDetail?.tabs_data?.second_tab[0]?.title}}
                  </a>
                  <p> {{pageDetail?.tabs_data?.second_tab[0]?.desc}}</p>
                </div>
              </div>

              <div class="work-text" (click)="showContent('Networking & Opportunity')"
                [class.active]="isActive2('Networking & Opportunity')" *ngIf="selectedCategory === 'Clubs & Scouts'">
                <div class="number">
                  <p>2</p>
                </div>
                <div class="progress_btn">
                  <a>
                    {{pageDetail?.tabs_data?.second_tab[1]?.title}}
                  </a>
                  <p>{{pageDetail?.tabs_data?.second_tab[1]?.desc}}</p>
                </div>
              </div>

              <div class="work-text" (click)="showContent('Success & Progression')"
                [class.active]="isActive2('Success & Progression')" *ngIf="selectedCategory === 'Clubs & Scouts'">
                <div class="number">
                  <p>3</p>
                </div>
                <div class="progress_btn">
                  <a>
                    {{pageDetail?.tabs_data?.second_tab[2]?.title}}
                  </a>
                  <p>{{pageDetail?.tabs_data?.second_tab[2]?.desc}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-lg-6 col-md-6 col-12">

            <div class="talent-scroll" *ngIf="selectedCategory === 'Talent' && currentSelected === 1">
              <div class="player1">
                <div class="row">
                  <div class="player-list-image">
                    <img src="/assets/images/home/talent/{{currentLang}}_{{currentTheme}}.png"
                      alt="Language {{currentLang}} And Theme {{currentTheme}}">
                  </div>
                </div>
              </div>
            </div>

            <div class="talent-scroll" *ngIf="selectedCategory === 'Talent' && currentSelected === 2">
              <div class="player2">
                <div class="row">
                  <div class="football-club player-list-image">
                    <img src="/assets/images/home/talent/2_{{currentTheme}}.png" alt="Language {{currentLang}} And Theme {{currentTheme}}">
                  </div>
                </div>
              </div>
            </div>


            <div class="talent-scroll" *ngIf="selectedCategory === 'Talent' && currentSelected === 3">
              <div class="player3">
                <div class="message-panels player-list-image">
                  <img src="/assets/images/home/talent/3_{{currentTheme}}.png" alt="Language {{currentLang}} And Theme {{currentTheme}}">
                </div>
              </div>
            </div>


            <div class="talent-scroll" *ngIf="selectedCategory === 'Clubs & Scouts' && currentSelected === 1">
              <div class="player1" @slideIn>
                <div class="row">
                  <div class="player-list-images">
                    <img src="/assets/images/home/club/{{currentLang}}_{{currentSelected}}_{{currentTheme}}.png"
                      alt="Language {{currentLang}} And Theme {{currentTheme}}">
                  </div>
                </div>
              </div>
            </div>

            <div class="talent-scroll" *ngIf="selectedCategory === 'Clubs & Scouts' && currentSelected === 2">
              <div class="player2" >
                <div class="row">
                  <div class="player-list-image">
                    <img src="/assets/images/home/club/2_{{currentTheme}}.png"
                    alt="Language {{currentLang}} And Theme {{currentTheme}}">
                  </div>
                </div>
              </div>
            </div>

            
            <div class="talent-scroll" *ngIf="selectedCategory === 'Clubs & Scouts' && currentSelected === 3">
              <div class="club-scouts">
                <div class="row">
                  <div class="player-list-image">
                    <img src="/assets/images/home/club/{{currentLang}}_{{currentSelected}}_{{currentTheme}}.png"
                    alt="Language {{currentLang}} And Theme {{currentTheme}}">
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>


    <div class="works-1 py_0">
      <div class="container">

        <h3>{{pageDetail?.tabs_data?.title}}</h3>
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="work-banner">
              <div class="works-btn">
                <div class="talent-btn">
                  <button type="button" class="btn btn-success"
                    [ngClass]="{'active-btn': selectedCategory === 'Talent'}" (click)="showCategory('Talent')">
                    <p class="club-p">{{pageDetail?.tabs_data?.first_btn_txt}}</p>
                  </button>
                </div>
                <div class="club-btn">
                  <button type="button" class="btn btn-success"
                    [ngClass]="{'active-btn': selectedCategory === 'Clubs & Scouts'}"
                    (click)="showCategory('Clubs & Scouts')">
                    <p class="club-s">{{pageDetail?.tabs_data?.sec_btn_txt}}</p>
                  </button>
                </div>
              </div>

              <div class="work-text active" (click)="showContent('Sign-up & Profile Creation')"
                 *ngIf="selectedCategory === 'Talent'">
                <div class="number">
                  <p>1</p>
                </div>
                <div class="progress_btn">
                  <a>
                    {{pageDetail?.tabs_data?.first_tab[0]?.title}}
                  </a>
                  <p>
                    {{pageDetail?.tabs_data?.first_tab[0]?.desc}}
                  </p>
                </div>
              </div>

              <div class="talent-scroll" *ngIf="selectedCategory === 'Talent'">
                <div class="player1">
                  <div class="row">

                    <div class="player-list-image" >
                      <img src="/assets/images/home/talent/{{currentLang}}_{{currentTheme}}.png"
                        alt="Language {{currentLang}} And Theme {{currentTheme}}">
                    </div>
                  </div>
                </div>
              </div>


              <div class="work-text active" (click)="showContent('Networking & Opportunity')"
                *ngIf="selectedCategory === 'Talent'">
                <div class="number">
                  <p>2</p>
                </div>
                <div class="progress_btn">
                  <a>
                    {{pageDetail?.tabs_data?.first_tab[1]?.title}}
                  </a>
                  <p> {{pageDetail?.tabs_data?.first_tab[1]?.desc}}</p>
                </div>
              </div>

              <div class="talent-scroll" *ngIf="selectedCategory === 'Talent'">
                <div class="player2">
                  <div class="row">
                    <div class="football-club player-list-image">
                      <img src="/assets/images/home/talent/2_{{currentTheme}}.png" alt="Language {{currentLang}} And Theme {{currentTheme}}">
       
                    </div>
                  </div>
                </div>
              </div>

              <div class="work-text active" (click)="showContent('Success & Progression')"
                 *ngIf="selectedCategory === 'Talent'">
                <div class="number">
                  <p>3</p>
                </div>
                <div class="progress_btn">
                  <a>
                    {{pageDetail?.tabs_data?.first_tab[2]?.title}}
                  </a>
                  <p>{{pageDetail?.tabs_data?.first_tab[2]?.desc}}</p>
                </div>
              </div>

              <div class="talent-scroll" *ngIf="selectedCategory === 'Talent'">
                <div class="player3">
                  <div class="message-panels player-list-image">
                    <img src="/assets/images/home/talent/3_{{currentTheme}}.png" alt="Language {{currentLang}} And Theme {{currentTheme}}">
                  </div>
                </div>
              </div>

              <div class="work-text active" (click)="showContent('Sign-up & Profile Creation')"
                 *ngIf="selectedCategory === 'Clubs & Scouts'">
                <div class="number">
                  <p>1</p>
                </div>
                <div class="progress_btn">
                  <a>
                    {{pageDetail?.tabs_data?.second_tab[0]?.title}}
                  </a>
                  <p> {{pageDetail?.tabs_data?.second_tab[0]?.desc}}</p>
                </div>
              </div>

              <div class="talent-scroll" *ngIf="selectedCategory === 'Clubs & Scouts'">
                <div class="player1">
                  <div class="row">
                    <div class="player-list-images">
                      <img src="/assets/images/home/club/{{currentLang}}_{{currentSelected}}_{{currentTheme}}.png"
                      alt="Language {{currentLang}} And Theme {{currentTheme}}">
                    </div>
                  </div>
                </div>
              </div>

              <div class="work-text active" (click)="showContent('Networking & Opportunity')"
                 *ngIf="selectedCategory === 'Clubs & Scouts'">
                <div class="number">
                  <p>2</p>
                </div>
                <div class="progress_btn">
                  <a>
                    {{pageDetail?.tabs_data?.second_tab[1]?.title}}
                  </a>
                  <p>{{pageDetail?.tabs_data?.second_tab[1]?.desc}}</p>
                </div>
              </div>

              <div class="talent-scroll" *ngIf="selectedCategory === 'Clubs & Scouts'">
                <div class="player2">
                  <div class="row">
                    <div class="player-list-image">
                      <img src="/assets/images/home/club/2_{{currentTheme}}.png"
                      alt="Language {{currentLang}} And Theme {{currentTheme}}">
                    </div>
                  </div>
                </div>
              </div>


              <div class="work-text active" (click)="showContent('Success & Progression')"
                 *ngIf="selectedCategory === 'Clubs & Scouts'">
                <div class="number">
                  <p>3</p>
                </div>
                <div class="progress_btn">
                  <a>
                    {{pageDetail?.tabs_data?.second_tab[2]?.title}}
                  </a>
                  <p>{{pageDetail?.tabs_data?.second_tab[2]?.desc}}</p>
                </div>
              </div>

              <div class="talent-scroll" *ngIf="selectedCategory === 'Clubs & Scouts'">
                <div class="club-scouts">
                  <div class="row">
                    <div class="player-list-image">
                        <img src="/assets/images/home/club/{{currentLang}}_{{currentSelected}}_{{currentTheme}}.png"
                        alt="Language {{currentLang}} And Theme {{currentTheme}}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="advertismnt_container">
      <div class="container">
        <div *ngIf="isExists('large_leaderboard')" class="advertisment advertisement_two_top">

          <div *ngIf="checkActive('large_leaderboard') && !isLoading" class="leaderboard-club-image">
            <a href="{{advertisementData?.large_leaderboard?.redirect_url}}" target="_blank">
              <img [src]="advertisemnet_base_url + advertisementData?.large_leaderboard?.featured_image">
            </a>
            <button *ngIf="!btnLoading" (click)="closeAd('large_leaderboard')" class="ad-close-button"><i
                class="fa-solid fa-xmark"></i></button>
            <div class="countdown" *ngIf="btnLoading">{{countdown}}</div>
            <h1>{{advertisementData?.large_leaderboard?.featured_image}}</h1>
          </div>

          <div *ngIf="checkActive('small_square') && !isLoading" class="small-sqaure-image">
            <a href="{{advertisementData?.small_square?.redirect_url}}" target="_blank">
              <img [src]="advertisemnet_base_url + advertisementData?.small_square?.featured_image">
            </a>
            <button *ngIf="!btnLoading" (click)="closeAd('small_square')" class="ad-close-button"><i
                class="fa-solid fa-xmark"></i></button>
            <div class="countdown" *ngIf="btnLoading">{{countdown}}</div>
          </div>

        </div>

        <div *ngIf="!isExists('large_leaderboard')" class="advertisment advertisement_two_bottom">
          <div *ngIf="checkActive('small_square') && !isLoading" class="small-sqaure-image">
            <a href="{{advertisementData?.small_square?.redirect_url}}" target="_blank">
              <img [src]="advertisemnet_base_url + advertisementData?.small_square?.featured_image">
            </a>
            <button *ngIf="!btnLoading" (click)="closeAd('small_square')" class="ad-close-button"><i
                class="fa-solid fa-xmark"></i></button>
            <div class="countdown" *ngIf="btnLoading">{{countdown}}</div>
          </div>
          <div *ngIf="checkActive('banner') && !isLoading" class="leaderboard-club-image">
            <a href="{{advertisementData?.banner?.redirect_url}}" target="_blank">
              <img [src]="advertisemnet_base_url + advertisementData?.banner?.featured_image">
            </a>
            <button *ngIf="!btnLoading" (click)="closeAd('banner')" class="ad-close-button"><i
                class="fa-solid fa-xmark"></i></button>
            <div class="countdown" *ngIf="btnLoading">{{countdown}}</div>
          </div>


        </div>
      </div>
    </div>


    <!-- How It Works-->

    <!-- Club-->
    <div class="club py_0 club_player_sec">
      <div class="container">
        <div class="club_players club_player_light" style="background-image: url('{{hero_bg_img}}');">
          <div class="data_wrapper">
            <div class="text_side_wrapper">
              <div class="title_text_p">
                <h3
                  *ngIf="pageDetail?.hero_heading && pageDetail.hero_heading && pageDetail.hero_heading.trim().length > 0"
                  class="mb-3 text_{{ pageDetail.hero_heading }}">
                  {{ pageDetail.hero_heading }}</h3>
                <p><strong>{{pageDetail?.hero_heading_txt}}</strong></p>
              </div>
              <div class="club-buttons">
                <div data-bs-toggle="modal" data-bs-target="#exampleModal1">
                  <div class="button-border">
                    <div class="join-text">
                      <p> {{pageDetail?.hero_btn_txt}}</p>
                      <img class="join-btn check-image-dark" src="./assets/images/dark-join-now.png">
                      <img class="join-btn check-image-light" src="./assets/images/light-join-now.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="img_side_wrapper">
              <img src="./assets/images/join-player-img.png" />
            </div>
          </div>
        </div>
        <div class="club_players club_player_dark" style="background-image: url('{{hero_bg_img_dark_mode}}');">
          <div class="data_wrapper">
            <div class="text_side_wrapper">
              <div class="title_text_p">
                <h3
                  *ngIf="pageDetail?.hero_heading && pageDetail.hero_heading && pageDetail.hero_heading.trim().length > 0"
                  class="mb-3 text_{{ pageDetail.hero_heading }}">
                  {{ pageDetail.hero_heading }}</h3>
                <p><strong>{{pageDetail?.hero_heading_txt}}</strong></p>
              </div>
              <div class="club-buttons">
                <div data-bs-toggle="modal" data-bs-target="#exampleModal1">
                  <div class="button-border">
                    <div class="join-text">
                      <p> {{pageDetail?.hero_btn_txt}}</p>
                      <img class="join-btn check-image-dark" src="./assets/images/dark-join-now.png">
                      <img class="join-btn check-image-light" src="./assets/images/light-join-now.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="img_side_wrapper">
              <img src="./assets/images/join-player-img.png" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <app-footer></app-footer> -->

  </div>
</section>