<div class="page-content">
    <div class="main-wrapper">
        <div class="card bg-color chat_height_mobile">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between inbox-header-bar">
                    <div class="d-flex align-items-center heading w-100">
                        <h2 class="card-title mb-0 me-3">{{ 'inbox' | translate }}</h2>
                        <a (click)="editinbox()" href="javascript:void(0);"
                            class="btn btn-success btn-sm web-create-bg">{{ 'newMessage' | translate }}</a>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="chat_row d-flex h-100 testing" style="min-height: 68vh;">
                    <app-loader *ngIf="isLoading" class="col-lg-12 border-end px-0"></app-loader>
                    <div class="col-lg-12 border-end px-0" id="talkjs-container" [ngClass]="{'invisible':isLoading}">
                    </div>
                </div>
            </div>
        </div>
        <!-- <app-footer></app-footer> -->
    </div>
</div>