<!-- <div class="vew_membrshp_modal">
  <div class="personal_edit popup_header p-3">
    <div class="dialog-header m-auto">
      <h2>{{ 'viewMembership' | translate }}</h2>
    </div>
    <div class="close_buttons">
      <button class="close-btn" (click)="onCancel()">X</button>
    </div>
  </div>
  <div class="overflow-card-2 popup__body p-4">
    <div class="view-membership">
      <div class="table-responsive ">
        <div class="row">
          <div class="col-lg-4">
            <h2 class="rechnung-titel">{{ 'invoice' | translate }}</h2>
          </div>
          <div class="col-lg-8 rechnung-headdings">
            <table class="table table-bordered">
              <thead class="table-light">
                <tr>
                  <th>{{ 'invoiceNumber' | translate }}</th>
                  <th>{{ 'date' | translate }}</th>
                </tr>
                <tr>
                  <td>#{{ plan.invoice_number }}</td>
                  <td>{{ '23.09.2024' | translate }}</td>
                </tr>
              </thead>

            </table>
          </div>
        </div>
        <table class="table table-bordered membership-data">
          <thead class="table-light">
            <tr>
              <th>{{ 'category' | translate }}</th>
              <th>{{ 'plans' | translate }}</th>
              <th>{{ 'duration' | translate }}</th>
              <th>{{ 'validUntil' | translate }}</th>
              <th class="text-end">{{ 'price' | translate }}</th>
            </tr>
            <tr class="bordered-bottom">
              <td>{{ plan.category }}</td>
              <td>{{ plan.currency }}</td>
              <td [translate]="plan.duration"></td>
              <td>{{ plan.valid_until }}</td>
              <td class="text-end">{{ plan.price }} {{ plan.currency }}</td>
            </tr>
          </thead>

        </table>
      </div>

    </div>

    <div class="bottom-details">
      <p><strong>{{ 'subTotal' | translate }}:</strong> {{ plan.subtotal }} {{ plan.currency }}</p>
      <p *ngIf="plan.currency == 'CHF'"><strong>Incl. VAT 8.1%:</strong> 1.78 {{ plan.currency }}</p>
      <p><strong>{{ 'total' | translate }}:</strong> {{ plan.total }} {{ plan.currency }}</p>
      <div class="download-btn mt-4">
        <a href="{{ plan.download_path }}" class=" pdf-download_btn ">
          <span>
            <svg width="26" height="26" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
              class="pointer">
              <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="#787878"
                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="td-icon-purchase"></path>
              <path
                d="M9 11.5117L12 14.5117L15 11.5117M12 14.5117V6.51172M6 16.5117C9.89 17.8117 14.11 17.8117 18 16.5117"
                stroke="#787878" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="td-icon-purchase"></path>
            </svg>
          </span>
          {{ 'downloadPDF' | translate }}
        </a>
      </div>
    </div>
  </div>
</div> -->

<div class="vew_membrshp_modal">
  <div class="personal_edit popup_header p-3">
    <div class="dialog-header m-auto">
      <h2>{{ 'viewMembership' | translate }}</h2>
    </div>
    <div class="">
      <!-- <pre>{{plan | json}}</pre> -->
      <!-- <button class="close-btn" (click)="onCancel()">X</button> -->
      <button class="close-btn border-0" (click)="onCancel()">
        <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.9375 3C10.9437 3 3 10.9437 3 20.9375C3 30.9312 10.9437 38.875 20.9375 38.875C30.9312 38.875 38.875 30.9312 38.875 20.9375C38.875 10.9437 30.9312 3 20.9375 3ZM20.9375 36.3125C12.4812 36.3125 5.5625 29.3937 5.5625 20.9375C5.5625 12.4812 12.4812 5.5625 20.9375 5.5625C29.3937 5.5625 36.3125 12.4812 36.3125 20.9375C36.3125 29.3937 29.3937 36.3125 20.9375 36.3125Z" fill="#627C97"/>
          <path d="M28.0039 30.0977L20.9375 23.0313L13.8711 30.0977L11.7773 28.0039L18.8437 20.9375L11.7773 13.8711L13.8711 11.7773L20.9375 18.8437L28.0039 11.7773L30.0977 13.8711L23.0313 20.9375L30.0977 28.0039L28.0039 30.0977Z" fill="#627C97"/>
          </svg>          
      </button>
    </div>
  </div>
  <div class="overflow-card-2 popup__body p-4">
    <div class="view-membership">
      <div class="table-responsive ">
        <div class="row">
          <div class="col-lg-4">
            <h2 class="rechnung-titel">{{ 'invoice' | translate }}</h2>
          </div>
          <div class="col-lg-8 rechnung-headdings">
            <table class="table table-bordered">
              <thead class="table-light">
                <tr>
                  <th>{{ 'invoiceNumber' | translate }}</th>
                  <th>{{ 'date' | translate }}</th>
                </tr>
                <tr>
                  <td>#{{ plan.invoice_number }}</td>
                  <!-- <td>{{ todayDate }}</td> -->
                  <td>{{ plan.created_at | date: 'dd.MM.YYYY' }}</td>
                </tr>
              </thead>

            </table>
          </div>
        </div>
        <table class="table table-bordered membership-data">
          <thead class="table-light">
            <tr>
              <th>{{ 'pos' | translate }}</th>
              <th>{{ 'plan' | translate }}</th>
              <th>{{ 'duration' | translate }}</th>
              <th>{{ 'validUntil' | translate }}</th>
              <th class="text-end">{{ 'price' | translate }}</th>
            </tr>
            <tr class="bordered-bottom">
              <td>1</td>
              <td>{{ plan.plan }}</td>
              <td>{{ capitalizeFirstLetter(plan.duration) }}</td>
              <td>{{ plan.valid_until | date: 'dd.MM.YYYY'}}</td>
              <td class="text-end">{{ plan.package_price }} {{strUpperCase(plan.currency)}}</td>
            </tr>
          </thead>

        </table>
      </div>

    </div>

    <div class="bottom-details">
      <p><strong>{{ 'subTotal' | translate }}:</strong> {{ plan.subtotal }} {{strUpperCase(plan.currency)}}</p>
      <p *ngIf="plan.tax_percentage>0">
        <strong *ngIf="'includeVAT' | translate as translatedText">{{ 'includeVAT' | translate }}
          {{plan.tax_percentage}}%:</strong>
        <span *ngIf="'includeVAT' | translate as translatedText">{{plan.tax}} {{strUpperCase(plan.currency)}}</span>
      </p>
      <p *ngIf="plan.coupon_used != undefined && plan.coupon_used != null && plan.discount_amount > 0"><strong>{{'couponCode' | translate}} ({{plan.coupon_used}}):</strong> {{ plan.discount_amount }} {{strUpperCase(plan.currency)}}</p>
      <p *ngIf="plan.proration_amount != undefined && plan.proration_amount != null"><strong>{{'prorationTxt' | translate}} :</strong> {{ plan.proration_amount }} {{strUpperCase(plan.currency)}}</p>
      <p><strong>{{ 'total' | translate }}:</strong> {{ plan.total }} {{strUpperCase(plan.currency)}}</p>

      <div class="download-btn mt-4" *ngIf="plan.download_path">
        <a href="{{ plan.download_path }}" target="_blank" class="pdf-download_btn ">
          <span>
            <svg width="26" height="26" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
              class="pointer">
              <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="#787878"
                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="td-icon-purchase"></path>
              <path
                d="M9 11.5117L12 14.5117L15 11.5117M12 14.5117V6.51172M6 16.5117C9.89 17.8117 14.11 17.8117 18 16.5117"
                stroke="#787878" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="td-icon-purchase"></path>
            </svg>
          </span>
          {{ 'downloadPDF' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>