<section class="website-code">
  <!-- <app-header></app-header> -->
  <div class="grey_common_banner">
    <div class="container">
      <h2 class="cookie-text">{{ banner_title }}</h2>
      <h3>Succer You Sports AG</h3>
      <div class="row">
        <div class="col-md-6 address_col">
          <div class="contact-text">
            <div class="location">
              <div class="location-image">
                <img class="dark-location" src="./assets/images/location logo.svg">
                <img class="light-location" src="./assets/images/location-light.svg">
              </div>
              <div class="location-text">
                <p>Succer You Sports AG</p>
                <p>Ida-Stäuli-Strasse 95</p>
                <p>CH-8404 Winterthur | Switzerland</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="contact-text">
            <div class="mail">
              <div class="location-image">
                <img class="dark-mail" src="./assets/images/website-dark.svg">
                <img class="light-mail" src="./assets/images/website-light.svg">
              </div>
              <div>
                <a class="location-text" href="https://www.socceryou.ch/">www.socceryou.ch</a>
              </div>
            </div>
            <div class="mail">
              <div class="location-image">
                <img class="dark-mail" src="./assets/images/mail logo.svg">
                <img class="light-mail" src="./assets/images/mail-light.svg">
              </div>
              <div>
                <a class="location-text" href="mailto:info&#64;socceryou.ch">info&#64;socceryou.ch</a>
                <!-- <a class="location-text" href="mailto:info@socceryou.ch">info@socceryou.ch</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main main2">
    <div class="adsss">
      <div *ngIf="checkActive('skyscraper')  && !isLoading" class="skyscraper-left">
        <a href="{{ advertisementData?.skyscraper?.redirect_url }}" target="_blank">
          <ng-container *ngIf="advertisementData?.skyscraper?.featured_type  == 'image'">
            <img [src]="advertisemnet_new_base_url + advertisementData?.skyscraper?.featured_image">
          </ng-container>
          <ng-container *ngIf="advertisementData?.skyscraper?.featured_type  == 'video'">
            <video class="auto-play-video" width="100%" height="auto" autoplay [muted]="true" playsinline preload="auto"
              loop="">
              <source [src]="advertisemnet_new_base_url + advertisementData?.skyscraper?.featured_image"
                type="video/mp4">
            </video>
          </ng-container>
        </a>
        <button *ngIf="!btnLoading" (click)="closeAd('skyscraper')" class="ad-close-button"><i
            class="fa-solid fa-xmark"></i></button>
        <div class="countdown" *ngIf="btnLoading">{{ countdown }}</div>
      </div>

      <div *ngIf="checkActive('wide_skyscraper')  && !isLoading" class="skyscraper-right">
        <a href="{{ advertisementData?.wide_skyscraper?.redirect_url }}" target="_blank">
          <ng-container *ngIf="advertisementData?.wide_skyscraper?.featured_type  == 'image'">
            <img [src]="advertisemnet_new_base_url + advertisementData?.wide_skyscraper?.featured_image">
          </ng-container>
          <ng-container *ngIf="advertisementData?.wide_skyscraper?.featured_type  == 'video'">
            <video class="auto-play-video" width="100%" height="auto" autoplay [muted]="true" playsinline preload="auto"
              loop="">
              <source [src]="advertisemnet_new_base_url + advertisementData?.wide_skyscraper?.featured_image"
                type="video/mp4">
            </video>
          </ng-container>
        </a>
        <button *ngIf="!btnLoading" (click)="closeAd('wide_skyscraper')" class="ad-close-button"><i
            class="fa-solid fa-xmark"></i></button>
        <div class="countdown" *ngIf="btnLoading">{{ countdown }}</div>
      </div>

    </div>

    <div class="terms common_static_page">
      <!-- <div class="container content_page" [innerHTML]="page_content"> -->
      <div class="container content_page">
        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
          <!-- <div class="card">
            <div class="card-header p-0" role="tab" id="accordionone">
              <a data-bs-toggle="collapse" href="#accordion__one" role="button"
                aria-controls="accordion__one">Terms and Conditions (T&C) Succer You Sports AG</a>
            </div>
            <div id="accordion__one" class="collapse show" role="tabpanel" aria-labelledby="accordionone"
              data-bs-parent="#accordion">
              <div class="card-body">
                <p><strong>Version: 5/2025</strong></p>
                <p>These Terms and Conditions (T&C) govern the relationship between Succer You Sports AG (hereinafter “SoccerYou”), a joint-stock company based in Switzerland, and the users and clients of its international web platform SoccerYou. The platform is intended for the promotion and international marketing of professional athletes, particularly in football. It addresses three user groups: Talents (players), Clubs, and Scouts. By using the services of SoccerYou, the user fully agrees to these T&C.</p>
              </div>
            </div>
          </div> -->
          <!-- Dynamic COnetnt -->
          <div class="card" *ngFor="let section of accordionDataTerms; let i = index">
            <div class="card-header p-0" role="tab" id="accordionone">
              <a [ngClass]="{'collapse': i === 0,'collapsed': i != 0, 'show': i === 0}" data-bs-toggle="collapse"
                href="#accordion__{{ i }}" role="button" aria-controls="accordion__one">
                <ng-container *ngIf="i > 0">{{ i }}.</ng-container> {{ section.title }}
              </a>
            </div>
            <div id="accordion__{{ i }}" [ngClass]="{'collapse': true, 'show': i === 0}" role="tabpanel"
              aria-labelledby="accordionone" data-bs-parent="#accordion">
              <div class="card-body" [innerHTML]="section.description">
              </div>
            </div>
          </div>
        </div>
        <!-- <div *ngIf="adVisible[2]" class="leaderboard-image">
        <img src="./assets/images/leaderboard - 728x90.png">
        <button (click)="closeAd(2)" class="ad-close-button"><i class="fa-solid fa-xmark"></i></button>
      </div> -->
      </div>


      <div class="container common_download_btns_page" *ngIf="!isLoading">
        <a type="button" class="btn fill_btn donlod_btn_style" (click)="downloadPDf('terms')"><i
            class="fa fa-download"></i> {{ 'downloadPDFTermsAndConditions' | translate }}</a>
        <a type="button" class="btn fill_btn donlod_btn_style" (click)="downloadPDf('community')"><i
            class="fa fa-download"></i> {{ 'downloadPDFCommunityGuidelines' | translate }}</a>
      </div>
    </div>

    <div class="advertisment py_0" *ngIf="checkActive('leaderboard') || checkActive('banner')">
      <div class="container py_0">
        <div class="advertisment advirtismnt_2">
          <div *ngIf="isExists('leaderboard') && checkActive('leaderboard')  && !isLoading"
            class="leaderboard-club-image advirtismnt_2_large">
            <a href="{{ advertisementData?.leaderboard?.redirect_url }}" target="_blank">
              <ng-container *ngIf="advertisementData?.leaderboard?.featured_type  == 'image'">
                <img [src]="advertisemnet_new_base_url + advertisementData?.leaderboard?.featured_image">
              </ng-container>
              <ng-container *ngIf="advertisementData?.leaderboard?.featured_type  == 'video'">
                <video class="auto-play-video" width="100%" height="auto" autoplay [muted]="true" playsinline
                  preload="auto" loop="">
                  <source [src]="advertisemnet_new_base_url + advertisementData?.leaderboard?.featured_image"
                    type="video/mp4">
                </video>
              </ng-container>
            </a>
          </div>
          <button *ngIf="!btnLoading" (click)="closeAd('leaderboard')" class="ad-close-button"><i
              class="fa-solid fa-xmark"></i></button>
          <div class="countdown" *ngIf="btnLoading">{{ countdown }}</div>
        </div>
        <div *ngIf="!isExists('leaderboard') && checkActive('banner')  && !isLoading"
          class="leaderboard-club-image advirtismnt_2_small">
          <a href="{{ advertisementData?.banner?.redirect_url }}" target="_blank">
            <ng-container *ngIf="advertisementData?.banner?.featured_type  == 'image'">
              <img [src]="advertisemnet_new_base_url + advertisementData?.banner?.featured_image">
            </ng-container>
            <ng-container *ngIf="advertisementData?.banner?.featured_type  == 'video'">
              <video class="auto-play-video" width="100%" height="auto" autoplay [muted]="true" playsinline
                preload="auto" loop="">
                <source [src]="advertisemnet_new_base_url + advertisementData?.banner?.featured_image"
                  type="video/mp4">
              </video>
            </ng-container>
          </a>
          <button *ngIf="!btnLoading" (click)="closeAd('banner')" class="ad-close-button"><i
              class="fa-solid fa-xmark"></i></button>
          <div class="countdown" *ngIf="btnLoading">{{ countdown }}</div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-footer></app-footer> -->
</section>
