
@media (min-width: 992px) {
    .it .website-code nav.navbar li.nav-item .nav-link, .fr .website-code nav.navbar li.nav-item .nav-link,
    .es .website-code nav.navbar li.nav-item .nav-link, .pt .website-code nav.navbar li.nav-item .nav-link,
    .dk .website-code nav.navbar li.nav-item .nav-link, .se .website-code nav.navbar li.nav-item .nav-link,
    .de .website-code nav.navbar li.nav-item .nav-link {
        font-size: 16px;
    }
    .fr .website-code nav.navbar .login-btn {
        width: 175px;
        font-size: 14px;
    }
    .works {
    .player-list-image img, .player-list-images img {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 50% !important;
        height: 100%;
        object-fit: contain;
        object-position: right;
  }
    }
    .features {
        position: relative;
        .club-scouts, .accordion-banner {
        position: absolute !important;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 48%;
        height: 100% !important;
        margin-right: 20px;
        .club-offer {
            position: relative;
            height: 100%;
        }
    }
}
.accordion-banner .feature-players, .accordion-banner .club-offer {
    max-width: 650px;
    position: relative;
    overflow: hidden;
    height: 600px !important;
    display: block;
    margin: 0 auto !important;
}
.accordion-banner .club-offer .club-offers3 img {
    object-position: left top;
}

.talent_page .banner-images {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding-top: 150px;
    .row {
        --bs-gutter-x: 1rem;
    }
    img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
        position: unset !important;
        object-position: top left;
    }
    .banner-image1, .banner-image2, .banner-image3, .banner-image4 {
        width: 100%;
    }
    .banner-image1 {
        height: 60%;
        padding-bottom: 1rem;
    }
    .banner-image2 {
        height: 40%;
    }
    .banner-image3 {
        height: 30%;
        padding-bottom: 1rem;
    }
    .banner-image4 {
        height: 50%;
    }
}

.light-theme .sidebar .page-sidebar{
    background: linear-gradient(180deg, #236115, #6fb95d);
}
.dark-theme .sidebar .page-sidebar{
    background: #072944;
}
.compact-sidebar .sidebar .page-sidebar {
    border-radius: 20px;
    width: 80px;
    margin: 20px 0 20px 20px;
    position: static !important;
    height: calc(100% - 40px);
}
.mobile-sidebar-active .sidebar .page-sidebar {
    border-radius: 20px;
    width: 210px;
    margin: 20px 0 20px 20px;
    position: static !important;
    height: calc(100% - 40px);
}
.compact-sidebar .page-sidebar {
    width: 80px;
    position: fixed;
    box-shadow: none;
    transition: all .4s;
    height: calc(100% - 40px);
    z-index: 2;
}
.compact-sidebar .page-sidebar:before {
    position: fixed;
    height: calc(100% - 40px);
    width: 80px;
    display: block;
    content: "";
    box-shadow: 0 0 1.25rem #1f2d3d0a;
    z-index: -1;
}
.page-header .mobile-logo {
    display: none;
}
}


@media (min-width: 1441px) {
.home_galery {
    img.img-fluid {
      height: 200px !important;
  }
  }
}


@media (max-width: 991px) {
    .page-sidebar-inner {
        overflow-x: hidden;
        overflow-y: auto;
    }
.sidebar {
    position: fixed;
    z-index: 1000;
    transition: all .5s ease;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 0;
    height: 100% !important;
    display: block;
    background: #F8F8F8;
    .logo-box {
        justify-content: flex-start;
        padding: 0 10px;
    }
    .sidebar-close {
        top: 20px;
        right: 20px;
        cursor: pointer;
        svg {
            display: none;
        }
    }
    
.sidebar_menu {
    position: relative;
    top: 0;
    height: auto;
}
}
.page-header .mobile-logo img {
    width: 40px;
}
.mobile-sidebar-active .sidebar{
    left: 0;
    width: 100%;
}
.compact-sidebar .page-sidebar .sidebar_menu a:hover {
    width: 100%;
}
.compact-sidebar .page-container {
    padding: 0 10px !important;
}
.compact-sidebar .page-header {
    padding: 0 !important;
}
.page-header .sidebar-menu a.nav-link {
    padding-left: 0;
}
.page-header .notification_dropdown, .page-header .country_dropdown, .page-header .theme_dropdown {
    display: block;
}
.page-header .theme_dropdown {
    margin-right: 5px !important;
}
.page-header li.nav-item.profile a.nav-link {
    padding: 0;
}
.page-header .country_dropdown a img {
    margin-right: 0 !important;
}
.page-header label.input-group.search-area {
    display: none !important;
}
.page-header .light-theme {
    min-width: 46px;
}
body.compact-sidebar.dark-theme .sidebar-menu svg path {
    stroke: #fff;
}
.page-header .sidebar-menu svg{
    width: 35px;
    height: 35px;
}
.dark-theme .page-header .mobile-logo img {
    filter: brightness(0) invert(1);
}
.footer_main.footer-responsive {
    flex-direction: column;
    position: fixed;
    bottom: 0;
    z-index: 9;
    width: 100%;
    padding-bottom: 10px;
    background: #f0f0f0;
    .footer_main_inner {
        padding: 0 !important;
    }
    .footer-text {
        text-align: center;
    }
}
}


@media (max-width: 1024px) {
    .justify_mobile .general_titels {
        justify-content: space-between;
    }
}
    
@media (max-width: 767px) {
    .justify_mobile .details_info {
        flex-wrap: wrap;
        justify-content: flex-start !important;
    }
    .justify_mobile .details_info .general_details {
        width: 33.33%;
        margin-bottom: 15px;
    }
}

@media (max-width: 575px) {
.marketing-header-bar .heading {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    gap: 10px;
}
.justify_mobile .details_info .general_details {
    width: 100%;
}
.mat-mdc-table th {
    white-space: nowrap;
}
.favorite_card .marketing-header-bar {
    flex-wrap: wrap;
    gap: 10px;
}
.favorite_card .edit_buttons {
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start !important;
    margin-top: 20px;
}
table.table  th {
    white-space: nowrap;
}
.view-membership .table-responsive {
    overflow-x: auto !important;
}
}

@media (max-width: 480px) {
    .justify_mobile .position-boxs{
        flex-wrap: wrap;
    }
    .membership_mobile .wrap_flex {
        flex-direction: column !important;
        gap: 10px;
        align-items: flex-start !important;
    }
    .membership_mobile .wrap_flex > * {
        margin-left: 0 !important;
    }
}