/*--------------------------------------------------------------
   banner
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

* {
  font-family: var(--bs-avenir-regular);
}
h1, h2 {
  font-family: var(--bs-avenir-bold);
}
h3 {
  font-size: 35px;
  color: white;
  font-family: var(--bs-avenir-bold);
}
::ng-deep strong {
  font-family: var(--bs-avenir-semibold);
}
strong {
  font-family: var(--bs-avenir-semibold);
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 22px;
}

p {
  font-size: 20px;
}

.py_0 {
  padding-top: 50px;
  padding-bottom: 50px;
}

body {
  background-color: #fff;
}


.main-bnr {
  position: relative;
  z-index: 1;
}
.banner-inner {
  width: 100%;
}
.bnr-media {
  position: relative;
}

.bnr-media img {
  width: 100%;
}

.form-select:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.overlay {
  position: absolute;
  height: auto;
  // background-color: #000;
}

.overlay {
  position: absolute;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
}

.main-bnr {
  background-image: url("../../../../assets/images/About-us-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 375px;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.header-transparent {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.about-text {
  font-size: 45px;
  font-weight: 700;
  color: white;
  filter: brightness(0) invert(1);
  text-transform: uppercase;
  font-family: var(--bs-avenir-bold);
}

/*--------------------------------------------------------------
#  Banner
--------------------------------------------------------------*/



/*--------------------------------------------------------------
#  about -content
--------------------------------------------------------------*/
.content-image img {
  height: 343px;
  width: 100%;
  object-fit: cover;
}

mat-card.mat-mdc-card.mdc-card {
  background-color: transparent;
}

.content-text {
  color: white;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 20px 0 20px;
}
::ng-deep .about-content h4 {
    color: #357525;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    &:after {
  content: '';
  flex: 1;
  margin-left: 1rem;
  height: 1px;
  background-color: #357525;
    }
  }
  ::ng-deep .about-content h2 {
    color: #357525;
    font-size: 35px;
    font-family: var(--bs-avenir-bold);
    line-height: 1.05;
    margin: 10px 0; 
    font-weight: 700;
    text-transform: uppercase;
  }
::ng-deep .dark-theme .about-content h2, ::ng-deep .dark-theme .about-content h4 {
  color: #fff !important;
}
::ng-deep .dark-theme .about-content h4:after {
  background: #fff !important;
}
/*--------------------------------------------------------------
#  Countries
--------------------------------------------------------------*/
.countries {
  position: relative;
}
.country-available {
  color: white;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}
mat-list-item {
  color: white;
  font-size: 20px;
}
.mat-mdc-list-base {
  display: block;
  margin-top: 40px;
  width: 330px;
  background: transparent !important;
  border: 0 !important;
}
.mdc-list-item.mdc-list-item--with-one-line {
  height: auto !important;
  padding: 0 !important;
}
.country-name {
   color: white !important;
    font-size: 20px;
    margin-bottom: 0;
    font-family: var(--bs-avenir-semibold);
    position: relative;
    padding: 8px;
    padding-left: 65px;
    background: #F9F9F9;
    width: 100%;
    display: inline-flex;
    margin: 5px 0;
    min-height: 55px;
    align-items: center;
    border-radius: 50px;
    letter-spacing: 0;
    line-height: 1;
  .flag_icon {
    width: 42px;
    height: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 2px solid #E05263;
    border-radius: 50%;
    padding: 7px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.map {
  height: 750px;
}
.map img {
  content: "";
  position: absolute;
  top: 5%;
  right: 0;
  height: 724px;
  object-fit: cover;
  width: 801px;
}
.country-list {
  margin-top: 80px;
  width: 311px;
  padding: 20px;
  border-radius: 10px;
}
/*--------------------------------------------------------------
# countries
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Club
--------------------------------------------------------------*/

.club .border-btn {
  height: 63px;
  width: 283px;
  padding: 5px;
  // border: 5px solid;
  border-radius: 60px;
  margin-top: 50px;
  // padding: 10px 55px;
}

img.vector-img {
  height: 30px;
}

.club h3 {
  color: white;
}

.club {
  width: 100%;
  position: relative;
}

.club-buttons {
  margin-top: 30px;
  cursor: pointer;
}

.club-overlay {
  position: absolute;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
}

.players-div {
  position: relative;
}

.club-banner {
  height: 650px;
  position: relative;
}

.club h4 {
  margin-left: 33px;
  font-size: 30px;
}

.vector-img {
  margin-left: 10px;
  margin-top: 8px;
}

.join-text {
  width: 100%;
  height: 53px;
  border-radius: 60px;
  padding: 0px 16px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  box-shadow: inset 0px -4px 3px rgba(0, 0, 0, 0.28);
}

.join-text p {
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  font-family: var(--bs-avenir-bold);
}

img.join-btn {
  height: 22px;
  width: 20px;
  margin: 15px;
}

.button-border {
  background: linear-gradient(to top, #A77A2E, #C2A64A);
  width: max-content;
  min-width: 273px;
  height: 62px;
  border-radius: 60px;
  padding: 5px;
}

.club_player_sec{
  margin-bottom: -6rem;
  position: relative;
  z-index: 1;
  padding-bottom: 0 !important;
}

@media (min-width: 1441px) {
  .map img {
    height: 800px;
    width: 900px;
    top: 2%;
  }
}

@media (min-width: 1920px) {

  .map {
    height: 850px;
  }

  .map img {
    height: 900px;
    width: 1100px;
    top: 2%;
  }
}

@media (min-width: 2560px) {

  .map{
    height: 1100px;
  }

}

@media (max-width: 1281px) {
.map img {
  height: 680px;
  width: 730px;
}
}


@media (max-width: 1200px) {
.content-text {
  padding: 0;
}
.map img {
  height: 600px;
  width: 670px;
}
.map {
  height: 540px;
}
}

@media (max-width: 1024px) {
  .main-bnr {
    height: 300px;
  }

  .content-image img {
    height: 280px;
    width: 450px;
    object-fit: cover;
  }

  .content-text {
    padding: 0;
  }

  .country-list {
    padding: 10px;
    margin-top: 40px;
    width: 300px;
  }

  .map {
    height: 470px;
  }

  .map img {
    top: 8%;
    /* left: 0; */
    right: 0;
    height: 480px;
    width: 520px;
  }

//   .club-banner {
//     padding: 30%;
// }
}

@media (max-width: 991px) {

  .py_0 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .main-bnr {
    height: 250px;
  }

  .about-text {
    font-size: 35px;
  }

  .content-image img {
    height: 230px;
    width: 350px;
  }

  .content-text {
    padding: 10px 0;
    font-size: 14px;
  }

 .country-available {
    font-size: 25px;
  }

  .country-name {
    color: white !important;
    font-size: 16px !important;
  }

  .country-list {
    padding: 10px;
    width: 250px;
  }

  .map img {
    right: 0;
    top: 20%;
    height: 395px;
    width: 440px;
  }

  .mat-mdc-list-base {
    margin-top: 35px;
    width: 280px;
  }

  .map {
    height: 300px;
  }

  h3 {
    font-size: 25px;
  }

  .join-text p {
    font-size: 24px;
    line-height: 43px;
  }

  .button-border {

    height: 55px;
  }

  .join-text {
    height: 46px;
  }

  img.join-btn {
    height: 17px;
    width: 15px;
    margin: 14px;
  }

}

 ::ng-deep .about-content h2 {
  @media (max-width: 991px) {
    font-size: 25px;
  }
 }
 ::ng-deep .about-content h4 {
   @media (max-width: 991px) {
font-size: 14px;
   }
 }


@media (max-width: 767px) {
  .content-image img {
    height: 230px;
    width: 100%;
  }

  .country-list {
    padding: 10px;
    width: 100%;
  }

  .map {
    height: auto;
    width: 100%;
  }

  .map img {
    position: unset;
    height: auto;
    width: 100%;
  }
}

@media (max-width: 575px) {

  .about-text {
    font-size: 30px;
  }

  .main-bnr {
    height: 200px;
    padding-top: 70px;
  }

  .club-banner {
    height: 0;
  }

  .content-image img {
    width: 100%;
  }

  .content-text {
    padding: 20px 0;
  }

  .about-content.py_0 {
    padding-bottom: 0;
  }

  .country-list {
    padding: 10px 0px 10px 0px;
    width: 100%;
    margin-top: 20px;
  }

  .mat-mdc-list-base {
    margin-bottom: 30px;
    width: 100%;
  }

  h3 {
    font-size: 26px;
  }

}

@media (max-width: 400px) {
  .about-text {
    font-size: 25px;
  }
  .main-bnr {
    height: 200px;
    padding-top: 50px;
  }
  .join-text {
    height: 46px;
    padding-left: 10px;
  }
  .button-border {
    min-width: 230px;
    height: 55px;
  }
}

@media (max-width: 321px) {
  .website-code {
    overflow: hidden;
  }

  .country-available {
    font-size: 20px;
  }

  .countries.py_0 {
    padding-bottom: 0;
  }
  h3 {
    font-size: 25px;
  }

  .join-text p {
    font-size: 20px;
    line-height: 40px;
  }

  .club-buttons {
    margin-top: 20px;
  }

  img.join-btn {
    height: 14px;
    width: 12px;
    margin: 0;
    margin-top: 15px;
    margin-left: 10px;
  }

}

 ::ng-deep .about-content h2 {
  @media (max-width: 321px) {
    font-size: 20px;
  }
 }

.mat-mdc-list-item-unscoped-content {
  color: white !important;
  font-size: 20px !important;
}



.light-theme .dark-talant-img {
  display: none;
}

.dark-theme .light-talant-img {
  display: none;
}
.text_undefined{
  display: none;
}


.club_players {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  .data_wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .text_side_wrapper {
      padding: 30px;
      padding-left: 50px;
      width: 50%;
      align-self: center;
  }
  .img_side_wrapper {
    width: 50%;
    align-self: flex-end;
    img {
      width: 100%;
      margin-top: -100px;
    }
  }
}

.club .club_player_light {
h3, .text_side_wrapper p {
  color: white;
}
}


.club .club_player_dark {
h3, .text_side_wrapper p {
  color: #072944 !important;
}
}

@media (min-width: 2000px) {
.content-image img {
  height: auto !important;
}
}

@media (max-width: 991px) {
.club_players .text_side_wrapper, .club_players .img_side_wrapper {
  width: 100% !important;
}
.club_players .text_side_wrapper {
  padding: 20px 15px 15px;
}
.club_players .img_side_wrapper img {
  margin-top: 0;
}
.club_players .text_side_wrapper .join-text p {
  font-size: 16px !important;
}
}


@media (min-width: 1600px) and (max-width: 1999px) {
.content-text p {
    font-size: 22px;
}
}

@media (min-width: 992px) and (max-width: 1599px) {
  .content-text {
    font-size: 20px;
  }
  .about-text {
    font-size: 55px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  h3.about-text {
    font-size: 45px;
    padding-top: 2rem;
}
  .content-text {
    font-size: 18px;
    padding: 1rem 0 0;
  }
  .country-available {
    font-size: 35px;
  }
  .country-name {
    font-size: 20px !important;
  }
}

 ::ng-deep .about-content h2 {
  @media (min-width: 576px) and (max-width: 991px) {
    font-size: 35px;
  }
 }


@media (min-width: 1441px) and (max-width: 1999px) {
  .map {
    height: 1050px;
    img {
      height: 1000px;
      width: 1100px;
    }
  }
  .content-text {
    font-size: 20px;
  }
}


@media (min-width: 2000px) and (max-width: 2500px) {
  .map {
    height: 1350px;
    img {
      height: 1300px;
      width: 1450px;
    }
  }
}


@media (min-width: 2501px) and (max-width: 2999px) {
  .map {
    height: 1550px;
    img {
      height: 1550px;
      width: 1720px;
    }
  }
}


@media (min-width: 3000px) {
  .map {
    height: 2400px;
    img {
      height: 2350px;
      width: 2620px;
    }
  }
}


::ng-deep .about-content h2 {
    @media (min-width: 2000px) {
        font-size: 60px !important;
        margin: 20px 0;
    }
}

::ng-deep .about-content h2 {
    @media (min-width: 3000px) {
        font-size: 90px !important;
        margin: 30px 0 !important;
    }
}