.msg-popup-dialog {
    padding: 15px;
    text-align: center;
}
.msg-popup-close {
    text-align: right;
}
.msg-popup-close img {
    max-width: 40px;
    cursor: pointer;
}
.popup-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333333;
    margin-bottom: 20px;
    text-align: left;
}
.country-option {
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.country-label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #555555;
}
.country-radio {
    margin-right: 10px;
    accent-color: rgb(249, 60, 101);
    margin-top: -3px;
}
.country-info {
    font-weight: 500;
}
.confirm-btn {
    width: 100%;
    padding: 9px 12px;
    margin-top: 20px;
    background-color: rgb(249, 60, 101);
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}
.confirm-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.confirm-btn:not(:disabled):hover {
    background-color: rgb(249, 60, 101);
}
.already-canceled-message {
    font-size: 1rem;
    color: #777777;
    margin-top: 20px;
    font-weight: 500;
}