.unlock_page{
  position: relative;
    // height: 30vh;
    .unlock_btn{
        background: #6FB95D;
        padding: 10px 24px;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        border-radius: 10px;
        border: none;
      }
      .upgrade_unlock{
        height: 100%;
        background: rgb(255 255 255 / 65%);
        position: absolute;
        width: 100%;
        top: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .date-togal{
        color: black;
      }
      .custom-size {
        padding: 5px 11px;
        border: 1px solid #dee2e6;
      }

      .custom-size-calendar {
        width: 120px;
        padding-bottom: 0px;
      }

  .custom-size-calendar .mat-form-field-underline {
    display: none;
  }
  .custom-size-2{
    width: 200px;
    border: 1px solid #dee2e6;
  }

  .custom-size-season{
    min-width: 100px;
  }

  .pointer{
    cursor:pointer;
  }

  .dropdown-wrapper {
    position: relative;
    display: inline-block;
    width: fit-content;
  }
  
  select{
    width: 200px;
  }
  
  .form-control {
    appearance: none;
    padding-right: 20px;
  }
  .dropdown-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; 
  }

  .dropdown-container {
    position: relative;
    display: inline-block;
    width: fit-content;
  }

  .no-arrow {
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background-image: none; 
  }
  .new_performance button {
    background: none;
    border: 1px solid #E7E7E7;
    padding: 7px 10px;
    border-radius: 10px;
    color: #a7a7a7;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: auto;
  }

  .new_performance button svg {
      width: 16px;
      fill: #a7a7a7;
  }

  .details_2 {
    font-size: 14px;
    color: #a9a9a9;
    font-weight: 400;
    margin-bottom: 2px;
  }
  .details-1 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
  }
  .box-transfer{
    border-right: 1px solid #dadada;
  }
  .moving-team-logo img {
    width: 70px;
  }
  .moving_logo h2 {
  font-size: 20px;
  font-weight: 400;
  color: #5b5a5a;
  margin-bottom: 14px;
  }
  .edit_button {
  border: 1px solid #918f8f;
  background: no-repeat;
  padding: 5px 14px;
  border-radius: 4px;
  margin-bottom: 14px;
  }
  .moving_box {
  padding: 0px 0 0 10px;
  row-gap: 40px;
  }
  .transfer_underline{
  margin: 20px 0px;
  }

}

.date-togal{
    color: black;
}
.custom-size {
    padding: 5px 11px;
    border: 1px solid #dee2e6;
}

.custom-size-calendar {
  width: 120px;
  padding-bottom: 0px;
}



  .custom-size-calendar .mat-form-field-underline {
    display: none;
  }
  .custom-size-2{
    width: 200px;
    border: 1px solid #dee2e6;
  }

  .custom-size-season{
    min-width: 100px;
  }

  .pointer{
    cursor:pointer;
  }

  .dropdown-wrapper {
    position: relative;
    display: inline-block;
    width: fit-content;
    }
    
    select{
      width: 200px;
    }
    
    .form-control {
      appearance: none;
      padding-right: 20px;
    }
    .dropdown-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; 
    }

    .dropdown-container {
      position: relative;
      display: inline-block;
      width: fit-content;
    }

    .no-arrow {
      appearance: none; 
      -webkit-appearance: none; 
      -moz-appearance: none; 
      background-image: none; 
    }
    .new_performance button {
      background: none;
      border: 1px solid #E7E7E7;
      padding: 7px 10px;
      border-radius: 10px;
      color: #a7a7a7;
      display: flex;
      align-items: center;
      gap: 6px;
      margin-left: auto;
  }
  
  .new_performance button svg {
      width: 16px;
      fill: #a7a7a7;
  }

  .details_2 {
    font-size: 14px;
    color: #a9a9a9;
    font-weight: 400;
    margin-bottom: 2px;
  }
  .details-1 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
  }
  .box-transfer{
    border-right: 1px solid #dadada;
  }
  .moving-team-logo img {
    width: 70px;
}
.moving_logo h2 {
  font-size: 20px;
  font-weight: 400;
  color: #5b5a5a;
  margin-bottom: 14px;
}
.edit_button {
  border: 1px solid #918f8f;
  background: no-repeat;
  padding: 5px 14px;
  border-radius: 4px;
  margin-bottom: 14px;
}
.moving_box {
  padding: 0px 0 0 10px;
  row-gap: 40px;
}
.transfer_underline{
  margin: 40px 0px;
}

.moving_box_inner h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: inherit;
  margin-bottom: 15px;
}
.moving_box .btn_column{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
.edit_button {
  padding: 4px 8px 2px !important;
  font-size: 14px;
  margin-bottom: 10px;
  border: 1px solid rgba(217, 217, 217, 1);
  display: block;
}
}
.moving_box .edit_button svg {
  width: 18px;
  position: relative;
  left: -3px;
  top: -2px;
}
.moving_box_inner .moving_logo, .moving_box_inner .moving_country {
  margin-bottom: 20px;
}
.moving_box_inner .moving-team-logo img {
  width: 45px;
  height: 45px;
  object-fit: contain;
  object-position: left;
}
.moving_box_inner .moving_country .moving-team-logo img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.transfer_box:not(:last-child) {
  border-bottom: 1px solid #dadada;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.table_padd_noscroll {
  padding: 0 .75rem;
}


@media (max-width: 1300px) {
  .details-1 {
    font-size: 14px;
  }
  .details_2 {
    font-size: 12px;
  }
}

@media (max-width: 991px) {
  .moving_box {
    padding: 0;
  }
  .transfer_box.row {
    flex-wrap: wrap-reverse;
}
.transfer_box .box-transfer {
  border-right: 0;
}
}

@media (max-width: 767px) {
.new_performance button {
      font-size: 16px;
      margin-left: 0;
}
.details_2, .details-1{
      font-size: 16px;
}
}

@media (max-width: 991px) and (min-width: 576px) {
.transfer_box .box-transfer {
  display: flex;
  flex-direction: row;
  padding: 0 .75rem;
  margin-bottom: 20px;
}
.transfer_box .box-transfer .col-lg-12:last-child {
  margin-left: -20px;
}
}


@media (max-width: 575px){
.transfer_box.row {
    flex-wrap: wrap;
    gap: 20px 0;
    padding-bottom: 0 !important;
}
.moving-team-logo {
  gap: 1rem !important;
    span {
      width: 35px;
      svg {
        width: 35px;
        height: 35px;
      }
   }
   img {
      width: 35px !important;
      height: 35px !important;
    }
}
.moving_box .btn_column .edit_button span {
    display: none;
}
.moving_box .btn_column .edit_button svg {
  left: 0;
}
.moving_box .moving_box_inner {
  margin-top: 0;
}
.transfer_box {
  position: relative;
}
.moving_box .btn_column {
    position: absolute;
    top: 0;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    .edit_button {
      padding: 7px 5px 3px !important;
      svg {
        width: 22px !important;
        height: 23px !important;
      }
    }
}
}



@media (min-width: 1600px) and (max-width: 2999px) {
	.moving_box_inner h2 {
		font-size: 22px !important;
	}
	.details_2, .edit_button-2 span {
      font-size: 18px !important;
    }
    .details-1, .btn_column .edit_button span {
        font-size: 20px !important;
    }
    .new_performance button {
      font-size: 24px;
      svg {
        width: 26px;
      }
    }
  .edit_button svg {
    width: 30px !important;
    height: 30px !important;
  }
}

@media (min-width: 3000px){
	.moving_box_inner h2 {
		font-size: 28px !important;
	}
	.details_2, .edit_button-2 span, .btn_column .edit_button span {
      font-size: 25px !important;
    }
    .details-1 {
        font-size: 28px !important;
    }
    .btn_column .edit_button svg {
      width: 38px;
      height: 38px;
      margin-right: 4px;
    }
    .transfer_box .box-transfer .sasion_logos svg {
      width: 40px;
      height: 40px;
      margin-right: 10px;
  }
  .moving_box_inner .moving_country .moving-team-logo img {
    width: 40px !important;
    height: 40px !important;
    margin-right: 10px;
  }
  .new_performance button {
    font-size: 28px;
    svg {
      width: 26px;
    }
  }
.edit_button svg {
  width: 38px !important;
  height: 38px !important;
}
}
.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}