// .bottom_box .sidebar_menu {
//   position: relative;
//   top: 50%;
//   transform: translate(0%, -60%);
// }

.sidebar_menu li svg path {
  fill: #fff;
}


.page-sidebar {
  position: static !important;
}

.sidebar_state {
  cursor: pointer;
}

.locksideBar {
  cursor: progress;
  opacity: 0.6;
}

::ng-deep .locksideBar a {
  pointer-events: none;
}

::ng-deep .dark-theme .signNoutNotActive a.active svg path {
  fill: #4f7a9d !important;
}

::ng-deep .signNoutNotActive .active {
  background: #072944 !important;
  color: #FFF !important;
}

::ng-deep .dark-theme .signNoutNotActive a.active p {
  background: #072944;
  color: #FFF !important;
}